Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-07, with the labels that each got.

#162 Fix detected tablet not set in output mode
  TabletDriverLib/Driver.cs
Labels: bug, driver

#161 Update all documentation
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: documentation

#165 Add OutputInitReport and G640 v2 firmware config
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  TabletDriverLib/Configurations/XP-Pen/G640 v2 Firmware Patch.json
  TabletDriverLib/Driver.cs
  TabletDriverPlugin/Tablet/TabletProperties.cs
Labels: configuration, driver, enhancement

#168 Add Tray Icon
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/TrayIcon.cs
Labels: enhancement, gui

#166 FIX: Opening URLs with spaces would return an error
  NativeLib/Tools.cs
Labels: bug, windows

#171 Create Application Data directory on startup if nonexistent
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug

#177 Fix log server broken pipe crash
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.UX/Controls/LogView.cs
Labels: bug, driver, gui

#179 Rename ResidentPlugin -> Tool
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.UX/MainForm.cs
  README.md
  TabletDriverLib/Settings.cs
  TabletDriverPlugin/ITool.cs
Labels: enhancement, plugins

#180 Fix Broken AppIndicator Mitigation
  NativeLib/PlatformInfo.cs
  NativeLib/RuntimePlatform.cs
  NativeLib/SystemInfo.cs
  NativeLib/Tools.cs
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
  TabletDriverLib/AppInfo.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/Interop/Platform.cs
Labels: bug, gui

#178 Add Wayland display support
  TabletDriverLib/Interop/Display/WaylandDisplay.cs
  TabletDriverLib/Interop/Display/WaylandOutput.cs
  TabletDriverLib/Interop/Platform.cs
  TabletDriverLib/TabletDriverLib.csproj
Labels: enhancement, linux

#181 Fix detection message posted in GUI stdout
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, daemon, gui

#183 Fix configuration editor oversight
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
Labels: bug, gui

#184 Add additional plugin features
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/Controls/BindingDisplay.cs
  OpenTabletDriver.UX/Controls/OutputModeSelector.cs
  OpenTabletDriver.UX/Controls/PluginManager.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/BindingEditorDialog.cs
  README.md
  TabletDriverLib/Binding/KeyBinding.cs
  TabletDriverLib/Binding/MouseBinding.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/Interop/Mouse/EvdevMouseHandler.cs
  TabletDriverLib/Interop/Mouse/InputDictionary.cs
  TabletDriverLib/Interop/Mouse/MacOSMouseHandler.cs
  TabletDriverLib/Interop/Mouse/WindowsMouseHandler.cs
  TabletDriverLib/Interop/Platform.cs
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/RelativeMode.cs
  TabletDriverPlugin/Attributes/ActionAttribute.cs
  TabletDriverPlugin/DriverState.cs
  TabletDriverPlugin/IAbsoluteMode.cs
  TabletDriverPlugin/IRelativeMode.cs
  TabletDriverPlugin/IValidateBinding.cs
  TabletDriverPlugin/Output/AbsoluteOutputMode.cs
  TabletDriverPlugin/Output/BindingHandler.cs
  TabletDriverPlugin/Output/IOutputMode.cs
  TabletDriverPlugin/Output/RelativeOutputMode.cs
  TabletDriverPlugin/Platform/Pointer/IMouseHandler.cs
  TabletDriverPlugin/Platform/Pointer/IPointerHandler.cs
  TabletDriverPlugin/Platform/Pointer/IPressureHandler.cs
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: enhancement, plugins

#186 Add Windows app icon for *.UX.Wpf
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
Labels: enhancement, windows

#187 Improve CI builds
  .github/workflows/dotnet.yml
Labels: enhancement

#188 Remove minimum window size, adjust GUI for scaling
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: gui

#191 Fix CI build order
  .github/workflows/dotnet.yml
Labels: bug

#192 Create parent directory when writing configs
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
Labels: bug

#193 Remove about command from Configuration Editor
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
Labels: gui

#198 Use Detection Range for TabletProperties.ReportID
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  TabletDriverLib/Configurations/Gaomon/S620.json
  TabletDriverLib/Configurations/Huion/H420.json
  TabletDriverLib/Configurations/Huion/HS64.json
  TabletDriverLib/Configurations/VEIKK/S640.json
  TabletDriverLib/Configurations/Wacom/CTE-440.json
  TabletDriverLib/Configurations/Wacom/CTH-470.json
  TabletDriverLib/Configurations/Wacom/CTH-480.json
  TabletDriverLib/Configurations/Wacom/CTH-490.json
  TabletDriverLib/Configurations/Wacom/CTH-670.json
  TabletDriverLib/Configurations/Wacom/CTH-680.json
  TabletDriverLib/Configurations/Wacom/CTH-690.json
  TabletDriverLib/Configurations/Wacom/CTL-4100 Bluetooth.json
  TabletDriverLib/Configurations/Wacom/CTL-4100.json
  TabletDriverLib/Configurations/Wacom/CTL-460.json
  TabletDriverLib/Configurations/Wacom/CTL-470.json
  TabletDriverLib/Configurations/Wacom/CTL-471.json
  TabletDriverLib/Configurations/Wacom/CTL-472.json
  TabletDriverLib/Configurations/Wacom/CTL-480.json
  TabletDriverLib/Configurations/Wacom/CTL-490.json
  TabletDriverLib/Configurations/Wacom/CTL-6100.json
  TabletDriverLib/Configurations/Wacom/CTL-671.json
  TabletDriverLib/Configurations/Wacom/CTL-672.json
  TabletDriverLib/Configurations/Wacom/CTL-680.json
  TabletDriverLib/Configurations/Wacom/CTL-690.json
  TabletDriverLib/Configurations/Wacom/PTH-451.json
  TabletDriverLib/Configurations/Wacom/PTH-660 Bluetooth.json
  TabletDriverLib/Configurations/Wacom/PTH-660.json
  TabletDriverLib/Configurations/Wacom/PTH-850.json
  TabletDriverLib/Configurations/XP-Pen/Deco 01 v2.json
  TabletDriverLib/Configurations/XP-Pen/Deco 01.json
  TabletDriverLib/Configurations/XP-Pen/Deco 02.json
  TabletDriverLib/Configurations/XP-Pen/G430.json
  TabletDriverLib/Configurations/XP-Pen/G430S.json
  TabletDriverLib/Configurations/XP-Pen/G430S_B.json
  TabletDriverLib/Configurations/XP-Pen/G540 Pro.json
  TabletDriverLib/Configurations/XP-Pen/G640 v2 (Firmware Patch).json
  TabletDriverLib/Configurations/XP-Pen/G640 v2.json
  TabletDriverLib/Configurations/XP-Pen/G640.json
  TabletDriverLib/Configurations/XP-Pen/G640s.json
  TabletDriverLib/Configurations/XP-Pen/G960 v2.json
  TabletDriverLib/Configurations/XP-Pen/Star 03v2.json
  TabletDriverPlugin/Output/AbsoluteOutputMode.cs
  TabletDriverPlugin/Output/BindingHandler.cs
  TabletDriverPlugin/Output/RelativeOutputMode.cs
  TabletDriverPlugin/Tablet/DetectionRange.cs
  TabletDriverPlugin/Tablet/TabletProperties.cs
Labels: configuration, daemon, enhancement, gui, plugins

#203 Delete diagnostic file if it exists
  OpenTabletDriver.UX/MainForm.cs
Labels: bug

#205 Add waiting for daemon connection splash
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui

#207 Fix plugin settings not applying
  OpenTabletDriver.Daemon/DriverDaemon.cs
  TabletDriverPlugin/Output/AbsoluteOutputMode.cs
  TabletDriverPlugin/Output/RelativeOutputMode.cs
Labels: bug, daemon

#210 Fix plugin references only displaying path
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/Controls/BindingDisplay.cs
  OpenTabletDriver.UX/Controls/BindingViewModel.cs
  OpenTabletDriver.UX/Controls/OutputModeSelector.cs
  OpenTabletDriver.UX/Controls/PluginManager.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/BindingEditorDialog.cs
  TabletDriverLib/Binding/BindingReference.cs
  TabletDriverLib/Binding/BindingTools.cs
  TabletDriverLib/Contracts/IDriverDaemon.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/PluginManager.cs
  TabletDriverLib/Plugins/PluginReference.cs
Labels: bug, daemon, enhancement, gui

#213 Update HidSharpCore, XP-Pen fixes
  TabletDriverLib/Configurations/XP-Pen/G640 v2 (Firmware Patch).json
  TabletDriverLib/Configurations/XP-Pen/G640 v2.json
  TabletDriverLib/Driver.cs
  TabletDriverLib/TabletDriverLib.csproj
Labels: bug, configuration

#215 Add automatic device detection
  OpenTabletDriver.Daemon/DriverDaemon.cs
  TabletDriverLib/DeviceReader.cs
Labels: daemon, enhancement

#216 Fix DriverState class
  TabletDriverLib/Driver.cs
Labels: bug, plugins

#217 Update Version (v0.3.0 -> v0.3.1)
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  TabletDriverLib/TabletDriverLib.csproj
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: daemon, gui, plugins

#221 Fix pen binding activating on invalid report ID
  TabletDriverPlugin/Output/BindingHandler.cs
Labels: bug, plugins

#223 Catch unhandled exceptions on device info queries
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
Labels: bug, gui

#220 Handle ReflectionTypeLoadException
  TabletDriverLib/PluginManager.cs
Labels: bug

#224 Satisfy build warning
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
Labels: gui

#225 Update IPC framework version
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
Labels: bug

#227 Fix filter setting FormatException
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, daemon

#231 Only select valid filters when applying settings
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, daemon
