Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-10, with the labels that each got.

#339 Use the daemon executable on Windows
  OpenTabletDriver.UX/DaemonWatchdog.cs
Labels: gui, windows

#340 Dispose DeviceReaders when initializing devices
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver/Driver.cs
Labels: bug, daemon

#342 Update all versions to v0.4.1 for release
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement

#344 Fix platform detection, exclude unsupported types
  OpenTabletDriver.Plugin/PluginPlatform.cs
  OpenTabletDriver/PluginManager.cs
Labels: bug, plugins

#345 Add unit tests project
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.Tests/PluginTests.cs
  OpenTabletDriver.sln
Labels: enhancement

#348 Update README
  README.md
Labels: documentation

#352 Plugin Library Enhancements
  OpenTabletDriver.Plugin/Attributes/ModifierAttribute.cs
  OpenTabletDriver.Plugin/Attributes/PluginDescriptionAttribute.cs
  OpenTabletDriver.Plugin/Attributes/ToolTipAttribute.cs
  OpenTabletDriver.Plugin/Attributes/UnitAttribute.cs
  OpenTabletDriver.Plugin/Attributes/UnitPropertyAttribute.cs
  OpenTabletDriver.Plugin/DriverState.cs
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/Info.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.UX/Controls/PluginSettingsEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/Binding/KeyBinding.cs
  OpenTabletDriver/Binding/MouseBinding.cs
  OpenTabletDriver/Driver.cs
Labels: breaking, daemon, enhancement, gui, plugins

#354 Update TargetFrameworks of UX.Wpf
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
Labels: windows

#361 Update G640 v2 MaxX and MaxY
  OpenTabletDriver/Configurations/XP-Pen/G640 v2.json
Labels: configuration, good first issue

#375 Update H640P configuration
  OpenTabletDriver/Configurations/Huion/H640P.json
Labels: configuration

#366 Provide access to VirtualScreen for plugins
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver/Driver.cs
Labels: daemon, plugins

#373 Revert RelativeMode sensitivity calculation
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug, plugins

#378 Fixed crash when trying to load plugins
  OpenTabletDriver/PluginManager.cs
Labels: bug, daemon, plugins

#377 Clean up device reader and driver
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/DeviceReader.cs
  OpenTabletDriver/Driver.cs
Labels: daemon, enhancement

#360 Add Device String Reader window to UX
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver/Contracts/IDriverDaemon.cs
Labels: daemon, enhancement, gui, priority:low

#385 Move area editor textboxes to the bottom of the Area Editor
  OpenTabletDriver.UX/Controls/AreaEditor.cs
Labels: enhancement, gui

#365 Fallback to Application Directory for Configuration
  OpenTabletDriver/AppInfo.cs
Labels: daemon, enhancement

#387 Add support for XP-Pen Deco 03
  OpenTabletDriver/Configurations/XP-Pen/Deco 03.json
Labels: configuration, enhancement

#391 Fix CTH-490 ReportID
  OpenTabletDriver/Configurations/Wacom/CTH-490.json
Labels: configuration

#384 Add buttons for FAQ and Plugins
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui

#399 Improve plugin logs
  OpenTabletDriver/PluginManager.cs
Labels: daemon

#386 Improve reflection type caching
  OpenTabletDriver/PluginManager.cs
Labels: enhancement, plugins

#410 Add Wacom FT-0405-U support
  OpenTabletDriver/Configurations/Wacom/FT-0405-U.json
Labels: configuration, enhancement

#411 Add more issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/tablet_configuration.md
Labels: documentation

#389 Make application data portable
  OpenTabletDriver/AppInfo.cs
Labels: daemon, enhancement, gui

#388 Fix OutputReportLength of VEIKK S640
  OpenTabletDriver/Configurations/VEIKK/S640.json
Labels: configuration, needs verification
