Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-03, with the labels that each got.

#104 Use full class path for plugin settings
  OpenTabletDriver/Controls/PluginSettingsEditorViewModel.cs
  OpenTabletDriver/Tools/PluginTools.cs
Labels: bug, enhancement, plugins

#105 Remove Name property from IResident
  TabletDriverPlugin/Resident/IResident.cs
Labels: enhancement

#107 Add icons at different resolutions.
  OpenTabletDriver/Assets/otd.ico
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement, gui, linux, windows

#106 Fix multiple bugs on Windows
  OpenTabletDriver/App.xaml.cs
  OpenTabletDriver/OpenTabletDriver.csproj
  OpenTabletDriver/Windows/MainWindowViewModel.cs
Labels: bug, windows

#108 Update nuget package license
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: plugins

#111 Fixes an error when there's no configuration directory
  OpenTabletDriver/Windows/MainWindowViewModel.cs
Labels: bug

#112 Fix XP-Pen G640 configuration
  TabletDriverLib/Configurations/XP-Pen/G640.json
Labels: bug, hid

#113 Add CTL-460 support.
  TabletDriverLib/Configurations/Wacom/CTL-460.json
Labels: enhancement, hid

#114 Add Stack Trace to Logged Exceptions
  OpenTabletDriver/Controls/LogView.xaml.cs
  OpenTabletDriver/Windows/MainWindowViewModel.cs
  TabletDriverPlugin/Log.cs
Labels: enhancement, gui
