Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-08, with the labels that each got.

#234 Fix reset time binding control
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#235 Fix tablet debugger ArgumentNullException
  OpenTabletDriver.UX/Debugging/PipeReader.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: bug, gui

#236 Use ranges removing unnecessary array creation
  TabletDriverLib/Vendors/SkipByteTabletReportParser.cs
  TabletDriverLib/Vendors/Wacom/WacomDriverIntuosV2ReportParser.cs
Labels: enhancement

#237 Add IntuosV3 support
  TabletDriverLib/Configurations/Wacom/CTL-4100 Bluetooth.json
  TabletDriverLib/Configurations/Wacom/CTL-4100.json
  TabletDriverLib/Configurations/Wacom/CTL-6100.json
  TabletDriverLib/Configurations/Wacom/PTH-660.json
  TabletDriverLib/Tablet/Extensions.cs
  TabletDriverLib/Vendors/Wacom/IntuosV3AuxReport.cs
  TabletDriverLib/Vendors/Wacom/IntuosV3Report.cs
  TabletDriverLib/Vendors/Wacom/IntuosV3ReportParser.cs
  TabletDriverLib/Vendors/Wacom/WacomDriverIntuosV3ReportParser.cs
Labels: configuration, enhancement

#238 Update version (0.3.1 => 0.3.2)
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  TabletDriverLib/TabletDriverLib.csproj
Labels: enhancement

#233 Add Log Severity Levels
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.Daemon/TabletDebuggerServer.cs
  TabletDriverLib/DeviceReader.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
  TabletDriverLib/Interop/Mouse/EvdevMouseHandler.cs
  TabletDriverLib/PluginManager.cs
  TabletDriverPlugin/Log.cs
  TabletDriverPlugin/Logging/DebugLogMessage.cs
  TabletDriverPlugin/Logging/ExceptionLogMessage.cs
  TabletDriverPlugin/Logging/LogMessage.cs
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: daemon, enhancement, plugins

#248 Fix about dialog crash
  OpenTabletDriver.UX/App.cs
Labels: bug, gui

#251 show when the system tray icon is left clicked, fix show option and hide from task manager applications when hidden
  OpenTabletDriver.UX/TrayIcon.cs
Labels: bug, gui

#253 Overhaul Console View
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver.UX/Tools/EnumTools.cs
  TabletDriverLib/Contracts/ILogServer.cs
  TabletDriverPlugin/Log.cs
  TabletDriverPlugin/Logging/ExceptionLogMessage.cs
Labels: enhancement, gui

#254 User experience improvements
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/MainFormViewModel.cs
  OpenTabletDriver.UX/TrayIcon.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  TabletDriverLib/Binding/BindingReference.cs
  TabletDriverLib/Plugins/PluginReference.cs
  TabletDriverLib/Settings.cs
Labels: enhancement, gui

#256 Add IVirtualPointer, IVirtualTablet, IVirtualMouse
  NativeLib/Linux/Evdev/EventType.cs
  TabletDriverLib/Binding/KeyBinding.cs
  TabletDriverLib/Binding/MouseBinding.cs
  TabletDriverLib/Interop/Input/EvdevVirtualPointer.cs
  TabletDriverLib/Interop/Input/InputDictionary.cs
  TabletDriverLib/Interop/Input/Keyboard/EvdevVirtualKeyboard.cs
  TabletDriverLib/Interop/Input/Keyboard/MacOSVirtualKeyboard.cs
  TabletDriverLib/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
  TabletDriverLib/Interop/Input/MacOSVirtualPointer.cs
  TabletDriverLib/Interop/Input/Mouse/EvdevVirtualMouse.cs
  TabletDriverLib/Interop/Input/Mouse/MacOSVirtualMouse.cs
  TabletDriverLib/Interop/Input/Mouse/WindowsVirtualMouse.cs
  TabletDriverLib/Interop/Input/Tablet/EvdevVirtualTablet.cs
  TabletDriverLib/Interop/Input/Tablet/MacOSVirtualTablet.cs
  TabletDriverLib/Interop/Input/Tablet/WindowsVirtualTablet.cs
  TabletDriverLib/Interop/Input/WindowsVirtualPointer.cs
  TabletDriverLib/Interop/Mouse/EvdevMouseHandler.cs
  TabletDriverLib/Interop/Platform.cs
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/RelativeMode.cs
  TabletDriverPlugin/Output/AbsoluteOutputMode.cs
  TabletDriverPlugin/Output/IOutputMode.cs
  TabletDriverPlugin/Output/RelativeOutputMode.cs
  TabletDriverPlugin/Platform/Keyboard/IKeyboardHandler.cs
  TabletDriverPlugin/Platform/Keyboard/IVirtualKeyboard.cs
  TabletDriverPlugin/Platform/Pointer/IPointerHandler.cs
  TabletDriverPlugin/Platform/Pointer/IPressureHandler.cs
  TabletDriverPlugin/Platform/Pointer/IVirtualMouse.cs
  TabletDriverPlugin/Platform/Pointer/IVirtualPointer.cs
  TabletDriverPlugin/Platform/Pointer/IVirtualTablet.cs
  TabletDriverPlugin/Point.cs
Labels: daemon, enhancement, linux, macos, priority:high, windows

#261 Fix Reset to defaults message box showing on first start
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#264 Add apply and save to bottom of main layout
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui
