Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-05, with the labels that each got.

#123 Add FilterStage property to IFilter
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/RelativeMode.cs
  TabletDriverPlugin/Tablet/FilterStage.cs
  TabletDriverPlugin/Tablet/IFilter.cs
Labels: enhancement, plugins

#129 Update versions
  OpenTabletDriver/OpenTabletDriver.csproj
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: enhancement

#134 Add XP-Pen G640 v2 Configuration
  TabletDriverLib/Configurations/XP-Pen/G640 V2.json
Labels: configuration

#139 Move platform abstraction interfaces to TabletDriverPlugin library
  OpenTabletDriver/Windows/MainWindowViewModel.cs
  TabletDriverLib/Binding/KeyBinding.cs
  TabletDriverLib/Binding/MouseBinding.cs
  TabletDriverLib/Interop/Converters/IConverter.cs
  TabletDriverLib/Interop/Cursor/EvdevCursorHandler.cs
  TabletDriverLib/Interop/Cursor/InputDictionary.cs
  TabletDriverLib/Interop/Cursor/MacOSCursorHandler.cs
  TabletDriverLib/Interop/Cursor/WindowsCursorHandler.cs
  TabletDriverLib/Interop/Display/Display.cs
  TabletDriverLib/Interop/Display/MacOSDisplay.cs
  TabletDriverLib/Interop/Display/WindowsDisplay.cs
  TabletDriverLib/Interop/Display/XScreen.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
  TabletDriverLib/Interop/Keyboard/WindowsKeyboardHandler.cs
  TabletDriverLib/Interop/Platform.cs
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/RelativeMode.cs
  TabletDriverLib/PluginManager.cs
  TabletDriverPlugin/Attributes/SupportedPlatformAttribute.cs
  TabletDriverPlugin/Platform/Display/IDisplay.cs
  TabletDriverPlugin/Platform/Display/IVirtualScreen.cs
  TabletDriverPlugin/Platform/Keyboard/IKeyboardHandler.cs
  TabletDriverPlugin/Platform/Pointer/ICursorHandler.cs
  TabletDriverPlugin/Platform/Pointer/MouseButton.cs
  TabletDriverPlugin/PluginPlatform.cs
Labels: enhancement, plugins

#141 Fix tablet detection regression
  OpenTabletDriver/Windows/ConfigurationManager.xaml
  TabletDriverLib/Configurations/XP-Pen/G640s.json
  TabletDriverLib/Driver.cs
  TabletDriverPlugin/Tablet/TabletProperties.cs
Labels: bug

#144 Show display and tablet ratios
  OpenTabletDriver/Settings.cs
  OpenTabletDriver/Windows/MainWindow.xaml
Labels: enhancement, gui

#138 IAbsoluteMode improvements
  OpenTabletDriver/Windows/MainWindowViewModel.cs
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverPlugin/IAbsoluteMode.cs
Labels: enhancement, plugins

#146 Programmatically determine amount of pen buttons and express keys
  TabletDriverLib/Output/BindingHandler.cs
Labels: bug
