Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-01, with the labels that each got.

#70 Add display selector
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/Views/AreaSetter.xaml
  OpenTabletDriver/Views/LogView.xaml
  OpenTabletDriver/Views/MainWindow.xaml
  TabletDriverLib/Interop/Cursor/WindowsCursorHandler.cs
  TabletDriverLib/Interop/Cursor/XCursorHandler.cs
  TabletDriverLib/Interop/Display/IDisplay.cs
  TabletDriverLib/Interop/Display/MacOSDisplay.cs
  TabletDriverLib/Interop/Display/ManualDisplay.cs
  TabletDriverLib/Interop/Display/WindowsDisplay.cs
  TabletDriverLib/Interop/Display/XScreen.cs
  TabletDriverLib/Interop/Platform.cs
Labels: enhancement, gui

#72 Expose raw reports as a debugging option
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/Views/MainWindow.xaml
  TabletDriverLib/Driver.cs
  TabletDriverLib/Tablet/AuxReport.cs
  TabletDriverLib/Tablet/TabletReport.cs
Labels: driver, enhancement, gui

#73 GUI Cleanup
  OpenTabletDriver/App.xaml
  OpenTabletDriver/Models/Settings.cs
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/Views/MainWindow.xaml
Labels: gui

#74 Create Tablet Debugger
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/ViewModels/TabletDebuggerViewModel.cs
  OpenTabletDriver/Views/MainWindow.xaml
  OpenTabletDriver/Views/TabletDebugger.xaml
  OpenTabletDriver/Views/TabletDebugger.xaml.cs
  TabletDriverLib/Tablet/Extensions.cs
Labels: driver, enhancement, gui, hid

#75 Expose only two pen buttons
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/Views/MainWindow.xaml
Labels: bug, driver, gui

#76 Fix Multiple Pen Buttons Parsed
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Tablet/TabletReport.cs
  TabletDriverLib/Vendors/Wacom/IntuosV2Report.cs
Labels: bug, driver

#77 Add More Tablet Configurations
  OpenTabletDriver/ViewModels/ConfigurationManagerViewModel.cs
  TabletDriverLib/Configurations/VEIKK/S640.xml
  TabletDriverLib/Configurations/Wacom/CTE-440.xml
  TabletDriverLib/Configurations/Wacom/CTH-470.xml
  TabletDriverLib/Configurations/Wacom/CTH-480.xml
  TabletDriverLib/Configurations/Wacom/CTH-670.xml
  TabletDriverLib/Configurations/Wacom/CTH-680.xml
  TabletDriverLib/Configurations/Wacom/CTL-470.xml
  TabletDriverLib/Configurations/Wacom/CTL-471.xml
  TabletDriverLib/Configurations/Wacom/CTL-472.xml
  TabletDriverLib/Configurations/Wacom/CTL-480.xml
  TabletDriverLib/Configurations/Wacom/CTL-671.xml
  TabletDriverLib/Configurations/Wacom/CTL-672.xml
  TabletDriverLib/Configurations/Wacom/CTL-680.xml
  TabletDriverLib/Configurations/XP-Pen/G430.xml
  TabletDriverLib/Tablet/IReportParser.cs
  TabletDriverLib/Tablet/TabletProperties.cs
  TabletDriverLib/Vendors/SkipByteTabletReportParser.cs
Labels: bug, enhancement, hid

#84 Add Bindings to Plugin Support
  NativeLib/Linux/XLib.cs
  NativeLib/NativeLib.csproj
  NativeLib/Windows/Input/HARDWAREINPUT.cs
  NativeLib/Windows/Input/INPUT.cs
  NativeLib/Windows/Input/InputUnion.cs
  NativeLib/Windows/Input/KEYBDINPUT.cs
  NativeLib/Windows/Input/KEYEVENTF.cs
  NativeLib/Windows/Input/MOUSEINPUT.cs
  NativeLib/Windows/Windows.cs
  OpenTabletDriver/Models/Settings.cs
  OpenTabletDriver/Tools/BindingTool.cs
  OpenTabletDriver/ViewModels/BindingConfigViewModel.cs
  OpenTabletDriver/ViewModels/MainWindowViewModel.cs
  OpenTabletDriver/Views/BindingConfig.xaml
  OpenTabletDriver/Views/BindingConfig.xaml.cs
  OpenTabletDriver/Views/MainWindow.xaml
  OpenTabletDriver/Views/MainWindow.xaml.cs
  TabletDriverLib/Binding/KeyBinding.cs
  TabletDriverLib/Binding/MouseBinding.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/Interop/Cursor/ICursorHandler.cs
  TabletDriverLib/Interop/Cursor/WindowsCursorHandler.cs
  TabletDriverLib/Interop/Cursor/XCursorHandler.cs
  TabletDriverLib/Interop/Keyboard/IKeyboardHandler.cs
  TabletDriverLib/Interop/Keyboard/WindowsKeyboardHandler.cs
  TabletDriverLib/Interop/Keyboard/XKeyboardHandler.cs
  TabletDriverLib/Interop/Platform.cs
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/BindingHandler.cs
  TabletDriverLib/Output/RelativeMode.cs
  TabletDriverPlugin/IBinding.cs
Labels: driver, enhancement, gui, linux, plugins, windows

#87 Use HidSharpCore library
  .github/workflows/dotnet.yml
  OpenTabletDriver/OpenTabletDriver.csproj
  TabletDriverLib/TabletDriverLib.csproj
Labels: bug, driver, hid, linux

#89 Fix VEIKK S640 configuration
  TabletDriverLib/Configurations/VEIKK/S640.xml
Labels: bug

#90 Update .NET version of NativeLib
  NativeLib/NativeLib.csproj
Labels: enhancement
