Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-12, with the labels that each got.

#491 Fix Intuosv3 aux buttons
  OpenTabletDriver/Vendors/Wacom/IntuosV3AuxReport.cs
Labels: bug, configuration, needs verification

#483 Add Support for Wacom MTE-450, like #482 asked
  OpenTabletDriver/Configurations/Wacom/MTE-450.json
Labels: configuration, enhancement, good first issue

#496 Move Native project reference to Desktop project
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Binding/BindingReference.cs
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/WindowsAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Platform.cs
  OpenTabletDriver.Desktop/Interop/SystemInterop.cs
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Desktop/Output/AbsoluteMode.cs
  OpenTabletDriver.Desktop/Output/LinuxArtistMode.cs
  OpenTabletDriver.Desktop/Output/RelativeMode.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Native/RuntimePlatform.cs
  OpenTabletDriver.Native/SystemInfo.cs
  OpenTabletDriver.Plugin/Attributes/SupportedPlatformAttribute.cs
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Plugin/Platform/Display/IVirtualDisplayDriver.cs
  OpenTabletDriver.Plugin/PluginPlatform.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/BindingDisplay.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/Generic/StackView.cs
  OpenTabletDriver.UX/Controls/OutputModeSelector.cs
  OpenTabletDriver.UX/Controls/PluginSettingsEditor.cs
  OpenTabletDriver.UX/Controls/SensitivityEditor.cs
  OpenTabletDriver.UX/DaemonWatchdog.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: bug, core, enhancement

#490 Fix Windows timer thread not starting
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
Labels: bug, plugins

#489 Fix Daemon not loading defaults properly
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, daemon

#481 Fix DeviceReader not notifying Driver of failure to open stream
  OpenTabletDriver/Devices/DeviceReader.cs
Labels: bug, daemon

#474 Fix CTL-6100 configuration
  OpenTabletDriver/Configurations/Wacom/CTL-6100.json
Labels: bug, configuration

#498 Add local stored settings for lock to usable area
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: desktop, gui

#499 Safe load internalTypes
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver/Reflection/PluginManager.cs
Labels: bug, core, plugins

#500 Add configurations to OpenTabletDriver project as embedded resource
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: core, enhancement

#457 Fix G430 name and ActiveReportID range
  OpenTabletDriver/Configurations/XP-Pen/G430.json
  OpenTabletDriver/Configurations/XP-Pen/G430S.json
  OpenTabletDriver/Configurations/XP-Pen/G430S_B.json
Labels: breaking, configuration

#503 Add config for Huion GT-133
  OpenTabletDriver/Configurations/Huion/Huion GT-133.json
Labels: configuration, enhancement

#478 Add config for PTK-440
  OpenTabletDriver/Configurations/Wacom/PTK-440.json
Labels: configuration

#510 Add and merge Star 03 and Star 03v2
  OpenTabletDriver/Configurations/XP-Pen/Star 03.json
Labels: configuration, core

#506 Revamp settings with PluginSettingStore
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Tools.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/BindingReference.cs
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.Desktop/Binding/MouseBinding.cs
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
  OpenTabletDriver.Desktop/Reflection/StoredPluginReference.cs
  OpenTabletDriver.Desktop/Serialization.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Plugin/IBinding.cs
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/IOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingsEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/BindingEditorDialog.cs
  OpenTabletDriver/Reflection/PluginReference.cs
Labels: breaking, daemon, desktop, enhancement, gui, plugins

#512 Use MaskedTextBox<T> for plugin settings
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: desktop, enhancement, gui

#513 Fix opening folders with spaces on Windows, again
  OpenTabletDriver.Desktop/Interop/SystemInterop.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, desktop, gui, windows

#518 Add XP-Pen G540 configuration
  OpenTabletDriver/Configurations/XP-Pen/G540.json
Labels: configuration, core

#521 Null check Tablet.Digitizer in RelativeOutputMode's UpdateTransformMatrix()
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug, plugins

#502 Add FilterStage.PreInterpolate
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Plugin/Tablet/FilterStage.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
Labels: breaking, enhancement, plugins

#519 Fix potential null ref in UpdateTransformMatrix()
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, plugins

#525 Use DesktopPluginContext instead of PluginContext
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: bug, desktop

#530 Updated G640S configuration
  OpenTabletDriver/Configurations/XP-Pen/G640s.json
Labels: configuration, core

#533 Add Wacom CTH-460 config
  OpenTabletDriver/Configurations/Wacom/CTH-460.json
Labels: configuration, core

#511 Filter synthetic reports
  OpenTabletDriver/Driver.cs
Labels: breaking, core, desktop, plugins

#531 Restyle GUI with custom group control
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/Generic/CollectionEditor.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Controls/Generic/GroupBoxBase.cs
  OpenTabletDriver.UX/Controls/Generic/InputBox.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: desktop, gui

#528 Multiple user experience improvements
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/Generic/CollectionEditor.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Controls/Generic/GroupBoxBase.cs
  OpenTabletDriver.UX/Controls/Generic/InputBox.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/OutputModeSelector.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/SensitivityEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: desktop, enhancement, gui

#540 Updated Veikk S640 configuration
  OpenTabletDriver/Configurations/VEIKK/S640.json
Labels: configuration

#543 Use cached sans font and update layout when setting Control
  OpenTabletDriver.UX/Controls/Generic/Group.cs
Labels: desktop, gui

#547 Use framework-dependent publish for ci builds
  .github/workflows/dotnet.yml
Labels: enhancement

#544 Log plugin null constructor
  OpenTabletDriver/Reflection/PluginManager.cs
Labels: core

#538 Add config for PTH-860
  OpenTabletDriver/Configurations/Wacom/PTH-860.json
Labels: configuration, core, enhancement

#425 Match device to config attributes to improve device selection
  OpenTabletDriver.Desktop/Interop/SystemInterop.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/Interop/SystemInterop.cs
Labels: configuration, enhancement, windows

#542 Add PreInterpolate filters as PreTranspose when no active interpolator is running
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver/Driver.cs
Labels: configuration, core, enhancement

#556 Fix multiple null crashes
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver/Reflection/PluginManager.cs
Labels: bug, gui, macos

#559 Use HidDevice.CanOpen
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
  OpenTabletDriver/Driver.cs
Labels: core, daemon, external, gui

#560 Use the same null check logic to SetValue
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
Labels: bug, desktop

#563 Update PTH-850 config
  OpenTabletDriver/Configurations/Wacom/PTH-850.json
Labels: configuration

#565 Add H1060P configuration
  OpenTabletDriver/Configurations/Huion/H1060P.json
Labels: configuration

#571 Fix macOS device detection using unsupported HidSharp function
  OpenTabletDriver/Driver.cs
Labels: bug, macos

#574 Make tip binding pressure not inclusive
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
Labels: bug, enhancement

#429 [WIP] Plugin Manager
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginTools.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver/Reflection/PluginManager.cs
Labels: enhancement, gui, plugins, priority:medium

#581 Completely specify the buggy G430 revision
  OpenTabletDriver/Configurations/XP-Pen/G430.json
Labels: bug, configuration

#580 Add Wacom PTK-540WL Config
  OpenTabletDriver/Configurations/Wacom/PTK-540WL.json
Labels: configuration

#587 Fix button bugs and cache plugin metadata
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug

#549 Add Plugin Repository and Plugin Downloader
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Compression/CompressionTools.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Converters/VersionConverter.cs
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
  OpenTabletDriver.Desktop/Serialization.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Tests/ConsoleExtensions.cs
  OpenTabletDriver.Tests/DetectionRangeTest.cs
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.Tests/PluginRepositoryTest.cs
  OpenTabletDriver.Tests/TestBase.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Dialogs/RepositoryDialog.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: desktop, external, plugins

#597 Add Huion Inspiroy Q11K V2 Config
  OpenTabletDriver/Configurations/Huion/Inspiroy Q11K V2.json
Labels: configuration

#598 Lock tablet and display area by default
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, desktop, gui

#579 Add Area Converter window
  OpenTabletDriver.Desktop/Conversion/ConversionFactorAreaConverter.cs
  OpenTabletDriver.Desktop/Conversion/PercentageAreaConverter.cs
  OpenTabletDriver.Desktop/Conversion/XP_PenDriverAreaConverter.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Plugin/Tablet/DeviceVendor.cs
  OpenTabletDriver.Plugin/Tablet/IAreaConverter.cs
  OpenTabletDriver.UX/Controls/Generic/TypeComboBox.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
Labels: enhancement, gui

#601 Add first startup greeter
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.UX/Attributes/PageNameAttribute.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/Generic/PaddingSpacerItem.cs
  OpenTabletDriver.UX/Controls/Generic/StackedContent.cs
  OpenTabletDriver.UX/Controls/Generic/TextContent.cs
  OpenTabletDriver.UX/Controls/Generic/TypeDropDown.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Bindings/BindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/AreaEditorPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/BindingPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/FAQPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/PluginPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/WelcomePage.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
  OpenTabletDriver.UX/Windows/StylizedPage.cs
Labels: enhancement, gui

#605 Remove non-working restart button from tray icon
  OpenTabletDriver.UX/TrayIcon.cs
Labels: breaking, bug, gui

#603 Explicitly specify the parser used
  OpenTabletDriver/Configurations/Huion/GT-133.json
  OpenTabletDriver/Configurations/Huion/H1060P.json
  OpenTabletDriver/Configurations/Huion/H430P.json
  OpenTabletDriver/Configurations/Huion/H610 Pro V2.json
  OpenTabletDriver/Configurations/Huion/H610 Pro.json
  OpenTabletDriver/Configurations/Huion/H640P.json
  OpenTabletDriver/Configurations/Huion/HS610.json
  OpenTabletDriver/Configurations/Huion/HS611.json
  OpenTabletDriver/Configurations/Huion/HS64.json
  OpenTabletDriver/Configurations/Huion/Inspiroy Q11K V2.json
  OpenTabletDriver/Configurations/Huion/Inspiroy Q11K.json
  OpenTabletDriver/Configurations/Huion/New 1060 Plus.json
  OpenTabletDriver/Configurations/Huion/Q620M.json
  OpenTabletDriver/Configurations/Huion/osu!tablet.json
  OpenTabletDriver/Configurations/Wacom/CTE-430.json
  OpenTabletDriver/Configurations/Wacom/CTE-440.json
  OpenTabletDriver/Configurations/Wacom/CTE-460.json
  OpenTabletDriver/Configurations/Wacom/CTE-650.json
  OpenTabletDriver/Configurations/Wacom/CTH-460.json
  OpenTabletDriver/Configurations/Wacom/CTH-470.json
  OpenTabletDriver/Configurations/Wacom/CTH-480.json
  OpenTabletDriver/Configurations/Wacom/CTH-490.json
  OpenTabletDriver/Configurations/Wacom/CTH-670.json
  OpenTabletDriver/Configurations/Wacom/CTH-680.json
  OpenTabletDriver/Configurations/Wacom/CTH-690.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100WL.json
  OpenTabletDriver/Configurations/Wacom/CTL-460.json
  OpenTabletDriver/Configurations/Wacom/CTL-470.json
  OpenTabletDriver/Configurations/Wacom/CTL-471.json
  OpenTabletDriver/Configurations/Wacom/CTL-472.json
  OpenTabletDriver/Configurations/Wacom/CTL-480.json
  OpenTabletDriver/Configurations/Wacom/CTL-490.json
  OpenTabletDriver/Configurations/Wacom/CTL-671.json
  OpenTabletDriver/Configurations/Wacom/CTL-672.json
  OpenTabletDriver/Configurations/Wacom/CTL-680.json
  OpenTabletDriver/Configurations/Wacom/CTL-690.json
  OpenTabletDriver/Configurations/Wacom/FT-0405-U.json
  OpenTabletDriver/Configurations/Wacom/MTE-450.json
  OpenTabletDriver/Configurations/Wacom/PTH-451.json
  OpenTabletDriver/Configurations/Wacom/PTH-651.json
  OpenTabletDriver/Configurations/Wacom/PTH-660 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/PTH-660.json
  OpenTabletDriver/Configurations/Wacom/PTH-850.json
  OpenTabletDriver/Configurations/Wacom/PTH-860.json
  OpenTabletDriver/Configurations/XP-Pen/Deco 01 v2.json
  OpenTabletDriver/Configurations/XP-Pen/Deco 01.json
  OpenTabletDriver/Configurations/XP-Pen/Deco 02.json
  OpenTabletDriver/Configurations/XP-Pen/Deco 03.json
  OpenTabletDriver/Configurations/XP-Pen/G430.json
  OpenTabletDriver/Configurations/XP-Pen/G430S.json
  OpenTabletDriver/Configurations/XP-Pen/G540 Pro.json
  OpenTabletDriver/Configurations/XP-Pen/G540.json
  OpenTabletDriver/Configurations/XP-Pen/G640 v2.json
  OpenTabletDriver/Configurations/XP-Pen/G640.json
  OpenTabletDriver/Configurations/XP-Pen/G960 v2.json
  OpenTabletDriver/Configurations/XP-Pen/Star 03.json
Labels: breaking, configuration

#608 Improve RPC recovery and support multi-client
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.Desktop/RPC/RpcHost.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/DaemonWatchdog.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: desktop, enhancement
