Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-06, with the labels that each got.

#153 Remove duplicate file and rename G960 v2 config
  TabletDriverLib/Configurations/XP-Pen/G640 V2.json
  TabletDriverLib/Configurations/XP-Pen/G960 v2.json
Labels: bug, configuration

#154 Add Unhandled Exception loggers
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement

#156 Sending VirtualScreen to OutputMode.AbsoluteMode
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug

#155 Rewrite Driver class for cleanup
  OpenTabletDriver.Daemon/DriverDaemon.cs
  TabletDriverLib/Contracts/IDeviceReader.cs
  TabletDriverLib/DeviceReader.cs
  TabletDriverLib/Driver.cs
  TabletDriverLib/Tablet/AuxReportParser.cs
  TabletDriverLib/Tablet/TabletReportParser.cs
  TabletDriverLib/Vendors/Gaomon/GaomonReportParser.cs
  TabletDriverLib/Vendors/UCLogicInfo.cs
  TabletDriverLib/Vendors/Wacom/IntuosV2ReportParser.cs
  TabletDriverLib/Vendors/XP_Pen/XP_PenReportParser.cs
  TabletDriverPlugin/Tablet/IDeviceReportParser.cs
Labels: driver, enhancement

#158 Log the proper string format
  .github/workflows/dotnet.yml
  TabletDriverPlugin/Log.cs
Labels: bug
