Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-11, with the labels that each got.

#416 Add Gaomon 1060 Pro support
  OpenTabletDriver/Configurations/Gaomon/1060 Pro.json
Labels: configuration, enhancement

#424 Add Huion H610 Pro V2 support
  OpenTabletDriver/Configurations/Huion/H610 Pro V2.json
Labels: configuration, enhancement

#398 Add an option to ignore any input outside of the tablet area
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/Settings.cs
Labels: daemon, enhancement, gui

#419 Major GUI cleanup and compiler error fixes
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Native/Linux/Evdev/EvdevDevice.cs
  OpenTabletDriver.Native/OpenTabletDriver.Native.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/AuxiliaryIdentifierEditor.cs
  OpenTabletDriver.UX/Controls/ControlBuilder.cs
  OpenTabletDriver.UX/Controls/DeviceIdentifierEditor.cs
  OpenTabletDriver.UX/Controls/DeviceIdentifierEntry.cs
  OpenTabletDriver.UX/Controls/DigitizerIdentifierEditor.cs
  OpenTabletDriver.UX/Controls/DigitizerIdentifierEntry.cs
  OpenTabletDriver.UX/Controls/Generic/CollectionEditor.cs
  OpenTabletDriver.UX/Controls/Generic/CollectionEntry.cs
  OpenTabletDriver.UX/Controls/Generic/DictionaryEditor.cs
  OpenTabletDriver.UX/Controls/Generic/DictionaryEntry.cs
  OpenTabletDriver.UX/Controls/Generic/ExpanderBase.cs
  OpenTabletDriver.UX/Controls/Generic/GroupBoxBase.cs
  OpenTabletDriver.UX/Controls/Generic/InputBox.cs
  OpenTabletDriver.UX/Controls/Generic/ListEditor.cs
  OpenTabletDriver.UX/Controls/Generic/ListEntry.cs
  OpenTabletDriver.UX/Controls/Generic/StackView.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver.UX/Tools/ParseTools.cs
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: daemon, enhancement, gui

#428 Prepare for v0.4.2 release
  .github/workflows/dotnet.yml
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Native/OpenTabletDriver.Native.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/Icon.icns
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.MacOS/Program.cs
  OpenTabletDriver.UX.MacOS/nuget.config
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/DaemonWatchdog.cs
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/AppInfo.cs
  OpenTabletDriver/OpenTabletDriver.csproj
  README.md
Labels: enhancement, gui, macos, priority:high

#436 Update OpenTabletDriver.Plugin to v0.4.2
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
Labels: plugins

#438 Update H430P configuration
  OpenTabletDriver/Configurations/Huion/H430P.json
Labels: configuration, enhancement

#439 Update Deco 01 v2 configuration
  OpenTabletDriver/Configurations/XP-Pen/Deco 01 v2.json
Labels: configuration, enhancement

#440 Update CTH-490 configuration
  OpenTabletDriver/Configurations/Wacom/CTH-490.json
Labels: configuration, enhancement

#441 Update Star 03v2 configuration
  OpenTabletDriver/Configurations/XP-Pen/Star 03v2.json
Labels: configuration, enhancement

#443 Update H610 Pro configuration
  OpenTabletDriver/Configurations/Huion/H610 Pro.json
Labels: configuration, enhancement

#454 Update Eto.Forms & Eto.Platform.X to 2.5.7
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.MacOS/nuget.config
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
Labels: dependencies

#420 Rework plugin loading
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/AppInfo.cs
  OpenTabletDriver/Contracts/IDriverDaemon.cs
  OpenTabletDriver/PluginContext.cs
  OpenTabletDriver/PluginManager.cs
  OpenTabletDriver/Reflection/PluginReference.cs
Labels: daemon, enhancement, gui, plugins, priority:high

#458 Update PTH-660 configuration
  OpenTabletDriver/Configurations/Wacom/PTH-660.json
Labels: configuration

#302 Add Interpolation capabilities to OTD
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Native/Linux/Timers/ClockID.cs
  OpenTabletDriver.Native/Linux/Timers/SigEv.cs
  OpenTabletDriver.Native/Linux/Timers/Structs/SigEvThread.cs
  OpenTabletDriver.Native/Linux/Timers/Structs/SigEvent.cs
  OpenTabletDriver.Native/Linux/Timers/Structs/SigVal.cs
  OpenTabletDriver.Native/Linux/Timers/Structs/TimeSpec.cs
  OpenTabletDriver.Native/Linux/Timers/Structs/TimerSpec.cs
  OpenTabletDriver.Native/Linux/Timers/TimerFlag.cs
  OpenTabletDriver.Native/Linux/Timers/Timers.cs
  OpenTabletDriver.Native/OSX/OSX.cs
  OpenTabletDriver.Native/Windows/Timers/EventType.cs
  OpenTabletDriver.Native/Windows/Timers/TimeCaps.cs
  OpenTabletDriver.Native/Windows/Windows.cs
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/ITimer.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/ISyntheticReport.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Limiter.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/SyntheticTabletReport.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/DeviceReader.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/Interop/Platform.cs
  OpenTabletDriver/Interop/Timer/FallbackTimer.cs
  OpenTabletDriver/Interop/Timer/LinuxTimer.cs
  OpenTabletDriver/Interop/Timer/WindowsTimer.cs
  OpenTabletDriver/Reflection/PluginReference.cs
  OpenTabletDriver/Settings.cs
Labels: enhancement, plugins, priority:high

#471 Add config for CTE-460
  OpenTabletDriver/Configurations/Wacom/CTE-460.json
Labels: configuration, enhancement

#466 Add config for PTH-651
  OpenTabletDriver/Configurations/Wacom/PTH-651.json
Labels: configuration

#472 Use monospaced font in tablet debugger
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: enhancement, gui

#464 LogView Rework
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Tools/LogDataStore.cs
Labels: bug, enhancement, gui

#462 Implement rotation in RelativeMode, move deltaing to the end of a pipeline
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/Settings.cs
Labels: breaking, daemon, enhancement, gui, plugins, priority:medium

#476 Interpolator patch
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver/Interop/Timer/FallbackTimer.cs
  OpenTabletDriver/Interop/Timer/LinuxTimer.cs
  OpenTabletDriver/Interop/Timer/WindowsTimer.cs
Labels: bug, daemon, plugins

#486 Update LICENSE to LGPL 3.0
  LICENSE
Labels: priority:high
