Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-04, with the labels that each got.

#117 Add new evdev-based Linux keyboard handler
  NativeLib/Linux/Evdev/Evdev.cs
  NativeLib/Linux/Evdev/EvdevDevice.cs
  NativeLib/Linux/Evdev/EventCode.cs
  TabletDriverLib/Interop/Cursor/EvdevCursorHandler.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
  TabletDriverLib/Interop/Platform.cs
Labels: driver, linux

#116 Use evdev for cursor and keyboard handling
  NativeLib/Linux/Evdev/Evdev.cs
  NativeLib/Linux/Evdev/EvdevDevice.cs
  NativeLib/Linux/Evdev/EventCode.cs
  NativeLib/Linux/Evdev/EventType.cs
  NativeLib/Linux/Evdev/Structs/input_absinfo.cs
  NativeLib/Linux/Generic/EventMask.cs
  NativeLib/Linux/Generic/XEvent.cs
  NativeLib/Linux/Input/Button.cs
  NativeLib/Linux/XLib.cs
  NativeLib/Linux/Xorg/XLib.cs
  NativeLib/Linux/Xorg/XRRMonitorInfo.cs
  NativeLib/Linux/Xorg/XRandr.cs
  README.md
  TabletDriverLib/Interop/Converters/XButtonConverter.cs
  TabletDriverLib/Interop/Cursor/EvdevCursorHandler.cs
  TabletDriverLib/Interop/Cursor/XCursorHandler.cs
  TabletDriverLib/Interop/Display/XScreen.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
  TabletDriverLib/Interop/Keyboard/XKeyboardHandler.cs
  TabletDriverLib/Interop/Platform.cs
Labels: driver, enhancement, hid, linux

#118 Add Diagnostic Dump
  OpenTabletDriver/Diagnostics/DiagnosticDump.cs
  OpenTabletDriver/Windows/MainWindow.xaml
  OpenTabletDriver/Windows/MainWindowViewModel.cs
  TabletDriverLib/DeviceReader.cs
Labels: bug, enhancement

#120 Fix EvdevDevice segfault when init fails
  NativeLib/Linux/Evdev/EvdevDevice.cs
  TabletDriverLib/Interop/Cursor/EvdevCursorHandler.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
Labels: bug, linux

#121 Fixes CTL-490 configuration's minimum range
  TabletDriverLib/Configurations/Wacom/CTL-490.json
Labels: bug, configuration

#125 Fix minimum report ID test
  TabletDriverLib/Output/AbsoluteMode.cs
  TabletDriverLib/Output/RelativeMode.cs
Labels: bug, driver

#124 Add linux kernel ERRNO enum
  NativeLib/Linux/ERRNO.cs
  NativeLib/Linux/Evdev/EvdevDevice.cs
  TabletDriverLib/Interop/Cursor/EvdevCursorHandler.cs
  TabletDriverLib/Interop/Keyboard/EvdevKeyboardHandler.cs
Labels: enhancement, linux
