Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2020-09, with the labels that each got.

#267 Add Device Identification Strings and Initialization Strings
  .github/workflows/dotnet.yml
  NativeLib/NativeLib.csproj
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  README.md
  TabletDriverLib/Driver.cs
  TabletDriverLib/TabletDriverLib.csproj
  TabletDriverPlugin/Tablet/TabletProperties.cs
  TabletDriverPlugin/TabletDriverPlugin.csproj
Labels: configuration, daemon, enhancement, gui, hidsharp, priority:high

#277 Add Huion HS610 configuration
  TabletDriverLib/Configurations/Huion/HS610.json
Labels: configuration

#278 Use regular expressions for matching device strings
  TabletDriverLib/Configurations/Gaomon/S620.json
  TabletDriverLib/Configurations/Huion/HS610.json
  TabletDriverLib/Configurations/VEIKK/A15 Pro.json
  TabletDriverLib/Configurations/VEIKK/A15.json
  TabletDriverLib/Configurations/VEIKK/A30.json
  TabletDriverLib/Configurations/VEIKK/A50.json
  TabletDriverLib/Configurations/VEIKK/S640.json
  TabletDriverLib/Configurations/Wacom/CTE-440.json
  TabletDriverLib/Configurations/Wacom/CTH-470.json
  TabletDriverLib/Configurations/Wacom/CTH-480.json
  TabletDriverLib/Configurations/Wacom/CTH-490.json
  TabletDriverLib/Configurations/Wacom/CTH-670.json
  TabletDriverLib/Configurations/Wacom/CTH-680.json
  TabletDriverLib/Configurations/Wacom/CTH-690.json
  TabletDriverLib/Configurations/Wacom/CTL-4100 Bluetooth.json
  TabletDriverLib/Configurations/Wacom/CTL-4100.json
  TabletDriverLib/Configurations/Wacom/CTL-460.json
  TabletDriverLib/Configurations/Wacom/CTL-470.json
  TabletDriverLib/Configurations/Wacom/CTL-471.json
  TabletDriverLib/Configurations/Wacom/CTL-472.json
  TabletDriverLib/Configurations/Wacom/CTL-480.json
  TabletDriverLib/Configurations/Wacom/CTL-490.json
  TabletDriverLib/Configurations/Wacom/CTL-6100.json
  TabletDriverLib/Configurations/Wacom/CTL-671.json
  TabletDriverLib/Configurations/Wacom/CTL-672.json
  TabletDriverLib/Configurations/Wacom/CTL-680.json
  TabletDriverLib/Configurations/Wacom/CTL-690.json
  TabletDriverLib/Configurations/Wacom/PTH-451.json
  TabletDriverLib/Configurations/Wacom/PTH-660 Bluetooth.json
  TabletDriverLib/Configurations/Wacom/PTH-660.json
  TabletDriverLib/Configurations/Wacom/PTH-850.json
  TabletDriverLib/Configurations/XP-Pen/Deco 01 v2.json
  TabletDriverLib/Configurations/XP-Pen/Deco 01.json
  TabletDriverLib/Configurations/XP-Pen/Deco 02.json
  TabletDriverLib/Configurations/XP-Pen/G430.json
  TabletDriverLib/Configurations/XP-Pen/G430S.json
  TabletDriverLib/Configurations/XP-Pen/G430S_B.json
  TabletDriverLib/Configurations/XP-Pen/G540 Pro.json
  TabletDriverLib/Configurations/XP-Pen/G640 v2.json
  TabletDriverLib/Configurations/XP-Pen/G640.json
  TabletDriverLib/Configurations/XP-Pen/G640s.json
  TabletDriverLib/Configurations/XP-Pen/G960 v2.json
  TabletDriverLib/Configurations/XP-Pen/Star 03v2.json
  TabletDriverLib/Driver.cs
Labels: daemon, enhancement

#282 Launch daemon as subprocess of GUI
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.UX/DaemonWatchdog.cs
  OpenTabletDriver.UX/MainForm.cs
  TabletDriverLib/Instance.cs
Labels: bug, daemon, enhancement, gui

#283 Update IPC framework to v3.0.5 preview 1
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
Labels: bug, daemon, external, gui, priority:high

#284 Replace Point with Vector2
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/Debugging/DebugTabletReport.cs
  TabletDriverLib/Interop/Display/Display.cs
  TabletDriverLib/Interop/Display/MacOSDisplay.cs
  TabletDriverLib/Interop/Display/WaylandDisplay.cs
  TabletDriverLib/Interop/Display/WaylandOutput.cs
  TabletDriverLib/Interop/Display/WindowsDisplay.cs
  TabletDriverLib/Interop/Display/XScreen.cs
  TabletDriverLib/Interop/Input/MacOSVirtualPointer.cs
  TabletDriverLib/Interop/Input/Mouse/WindowsVirtualMouse.cs
  TabletDriverLib/Interop/Input/Tablet/EvdevVirtualTablet.cs
  TabletDriverLib/Interop/Input/Tablet/MacOSVirtualTablet.cs
  TabletDriverLib/Interop/Input/Tablet/WindowsVirtualTablet.cs
  TabletDriverLib/Interop/Input/WindowsVirtualPointer.cs
  TabletDriverLib/Settings.cs
  TabletDriverLib/Tablet/TabletReport.cs
  TabletDriverLib/Vendors/Wacom/IntuosV2Report.cs
  TabletDriverLib/Vendors/Wacom/IntuosV3Report.cs
  TabletDriverPlugin/Area.cs
  TabletDriverPlugin/Output/AbsoluteOutputMode.cs
  TabletDriverPlugin/Output/RelativeOutputMode.cs
  TabletDriverPlugin/Platform/Display/IDisplay.cs
  TabletDriverPlugin/Platform/Pointer/IVirtualTablet.cs
  TabletDriverPlugin/Point.cs
  TabletDriverPlugin/Tablet/IFilter.cs
  TabletDriverPlugin/Tablet/ITabletReport.cs
Labels: daemon, enhancement, gui, plugins

#291 Create Plugins directory if missing
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: enhancement

#296 Update Windows input injection
  OpenTabletDriver.Native/Windows/Display/DevMode.cs
  OpenTabletDriver.Native/Windows/Display/DisplayInfo.cs
  OpenTabletDriver.Native/Windows/Display/DpiType.cs
  OpenTabletDriver.Native/Windows/Display/MonitorInfoEx.cs
  OpenTabletDriver.Native/Windows/Input/MOUSEEVENTF.cs
  OpenTabletDriver.Native/Windows/Input/MOUSEINPUT.cs
  OpenTabletDriver.Native/Windows/Windows.cs
  OpenTabletDriver/Interop/Display/WindowsDisplay.cs
  OpenTabletDriver/Interop/Input/Mouse/WindowsVirtualMouse.cs
  OpenTabletDriver/Interop/Input/Tablet/WindowsVirtualTablet.cs
  OpenTabletDriver/Interop/Input/WindowsVirtualPointer.cs
Labels: bug, windows

#299 Automatically migrate settings between namespace changes
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/Migration/SettingsMigrator.cs
Labels: enhancement

#300 Plugin settings editor improvements
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/PluginSettingsEditor.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui

#301 Increase default aux count limit to 6
  OpenTabletDriver/Migration/SettingsMigrator.cs
  OpenTabletDriver/Settings.cs
Labels: daemon, enhancement, gui

#314 Fix H430P ProductID
  OpenTabletDriver/Configurations/Huion/H430P.json
Labels: bug, configuration

#316 Use StreamJsonRpc instead of IpcServiceFramework
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.IPC.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/LogServer.cs
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.Daemon/TabletDebuggerServer.cs
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Debugging/DebugAuxReport.cs
  OpenTabletDriver.UX/Debugging/DebugDeviceReport.cs
  OpenTabletDriver.UX/Debugging/DebugTabletReport.cs
  OpenTabletDriver.UX/Debugging/PipeReader.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
  OpenTabletDriver/Contracts/IAsyncInitialize.cs
  OpenTabletDriver/Contracts/IDeviceReader.cs
  OpenTabletDriver/Contracts/IDriverDaemon.cs
  OpenTabletDriver/Contracts/ILogServer.cs
  OpenTabletDriver/Debugging/DebugAuxReport.cs
  OpenTabletDriver/Debugging/DebugDeviceReport.cs
  OpenTabletDriver/Debugging/DebugTabletReport.cs
  OpenTabletDriver/DeviceReader.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/OpenTabletDriver.csproj
  OpenTabletDriver/RPC/RpcClient.cs
  OpenTabletDriver/RPC/RpcHost.cs
  OpenTabletDriver/Tablet/Extensions.cs
Labels: bug, daemon, enhancement, external, gui, priority:medium

#320 Remove no-coalesce flag
  OpenTabletDriver/Interop/Input/Mouse/WindowsVirtualMouse.cs
  OpenTabletDriver/Interop/Input/Tablet/WindowsVirtualTablet.cs
Labels: bug, daemon, priority:high, windows

#288 Add Linux Artist Mode
  OpenTabletDriver.Native/Linux/Evdev/EventType.cs
  OpenTabletDriver/Interop/Input/EvdevVirtualPointer.cs
  OpenTabletDriver/Interop/Input/Tablet/EvdevPenHandler.cs
  OpenTabletDriver/Output/LinuxArtistMode.cs
Labels: enhancement, linux

#322 AreaEditor & AreaDisplay rewrite
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, enhancement, gui

#323 Fix multiple displays being incorrectly rendered
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/AreaViewModel.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#313 Feature initialize all IntuosV1
  OpenTabletDriver/Configurations/Wacom/CTH-470.json
  OpenTabletDriver/Configurations/Wacom/CTH-490.json
  OpenTabletDriver/Configurations/Wacom/CTH-690.json
  OpenTabletDriver/Configurations/Wacom/CTL-460.json
  OpenTabletDriver/Configurations/Wacom/CTL-470.json
  OpenTabletDriver/Configurations/Wacom/CTL-471.json
  OpenTabletDriver/Configurations/Wacom/CTL-480.json
  OpenTabletDriver/Configurations/Wacom/CTL-671.json
  OpenTabletDriver/Configurations/Wacom/CTL-672.json
  OpenTabletDriver/Configurations/Wacom/CTL-680.json
Labels: bug, configuration, priority:medium

#324 Add GetString to OpenTabletDriver.Console
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/Contracts/IDriverDaemon.cs
Labels: bug, console, enhancement

#325 Fix null Area Display background causing UX crash
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
Labels: bug, gui

#327 Fix DetectionRange
  OpenTabletDriver.Plugin/Tablet/DetectionRange.cs
Labels: bug, daemon

#329 Fix assembly type caching
  OpenTabletDriver.UX/Controls/OutputModeSelector.cs
  OpenTabletDriver/PluginManager.cs
Labels: bug, gui, plugins

#330 Add Wacom CTE-430 configuration
  OpenTabletDriver/Configurations/Wacom/CTE-430.json
Labels: configuration, enhancement, priority:medium

#328 Add CTL-4100WL support
  OpenTabletDriver/Configurations/Wacom/CTL-4100WL.json
Labels: configuration, enhancement, priority:medium

#319 Add ReportRate in TabletDebugger Window
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: enhancement, gui, priority:low

#335 Add Gaomon M106K support
  OpenTabletDriver/Configurations/Gaomon/M106K.json
Labels: configuration, enhancement

#333 Fix configuration editor "New Configuration" crash
  OpenTabletDriver.Plugin/Tablet/DetectionRange.cs
  OpenTabletDriver.UX/Windows/ConfigurationEditor.cs
Labels: bug, enhancement, gui

#337 Fix area editor rotated limits
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
Labels: bug, daemon, gui
