Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-08, with the labels that each got.

#1306 Add FeatureInitReport to Wacom CTL-6100WL
  OpenTabletDriver/Configurations/Wacom/CTL-6100WL.json
Labels: configuration, enhancement

#1307 Change ReportParser for Wacom CTH-460 aux
  OpenTabletDriver/Configurations/Wacom/CTH-460.json
Labels: configuration, enhancement

#1286 Fix null reference when applying changes with pen
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
Labels: bug

#1305 Bug report issue template: Reword keys in table
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#1323 Add Parblo Ninos S support
  OpenTabletDriver/Configurations/Parblo/Parblo Ninos S.json
  TABLETS.md
Labels: configuration

#1324 Add Parblo Intangbo S support
  OpenTabletDriver/Configurations/Parblo/Parblo Intangbo S.json
  TABLETS.md
Labels: configuration

#1352 Fix tablet debugger not completely reconnecting
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, gui, desktop

#1334 Add Parblo Ninos M support
  OpenTabletDriver/Configurations/Parblo/Parblo Ninos M.json
  TABLETS.md
Labels: configuration
