Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-09, with the labels that each got.

#1287 Fix area resize
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: bug, gui

#1288 Improve area constraints processing
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaEditor.cs
Labels: enhancement, gui, desktop

#1290 Implement sleep detection
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/Interop/SleepDetectionThread.cs
Labels: enhancement

#1320 Remove plugin reference class
  OpenTabletDriver.Console/Extensions.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Desktop/Reflection/IServiceManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginReference.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Reflection/ServiceManager.cs
  OpenTabletDriver.Desktop/Reflection/StoredPluginReference.cs
  OpenTabletDriver.Plugin/DependencyInjection/OnDependencyLoadAttribute.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeDropDown.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeListBox.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreEditor.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
Labels: enhancement

#1394 Added Gaomon PD1560 config
  OpenTabletDriver/Configurations/Gaomon/PD1560.json
  TABLETS.md
Labels: configuration

#1379 Add ET-0405A-U configuration
  OpenTabletDriver/Configurations/Wacom/ET-0405A-U.json
  TABLETS.md
Labels: configuration

#1335 Add Parblo Intangbo M support
  OpenTabletDriver/Configurations/Parblo/Parblo Intangbo M.json
  TABLETS.md
Labels: configuration

#1393 Added CTE-630 config
  OpenTabletDriver/Configurations/Wacom/CTE-630.json
  TABLETS.md
Labels: configuration

#1313 Add WinUSB support and fix RootHub abstraction
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Native/Windows/CM/CM_NOTIFY_ACTION.cs
  OpenTabletDriver.Native/Windows/CM/CM_NOTIFY_EVENT_DATA.cs
  OpenTabletDriver.Native/Windows/CM/CM_NOTIFY_FILTER.cs
  OpenTabletDriver.Native/Windows/CM/CM_NOTIFY_FILTER_FLAG.cs
  OpenTabletDriver.Native/Windows/CM/CM_NOTIFY_FILTER_TYPE.cs
  OpenTabletDriver.Native/Windows/CM/CR.cs
  OpenTabletDriver.Native/Windows/CM/SafeCmNotificationHandle.cs
  OpenTabletDriver.Native/Windows/CfgMgr32.cs
  OpenTabletDriver.Native/Windows/Generic/SafeFileHandle.cs
  OpenTabletDriver.Native/Windows/SetupApi.cs
  OpenTabletDriver.Native/Windows/SetupApiStructs/SP_DEVICE_INTERFACE_DATA.cs
  OpenTabletDriver.Native/Windows/SetupApiStructs/SP_DEVICE_INTERFACE_DETAIL_DATA.cs
  OpenTabletDriver.Native/Windows/USB/DIGCF.cs
  OpenTabletDriver.Native/Windows/USB/DescriptorHeader.cs
  OpenTabletDriver.Native/Windows/USB/DescriptorType.cs
  OpenTabletDriver.Native/Windows/USB/DeviceDescriptor.cs
  OpenTabletDriver.Native/Windows/USB/InterfaceDescriptor.cs
  OpenTabletDriver.Native/Windows/USB/PipeDirection.cs
  OpenTabletDriver.Native/Windows/USB/PipeInfo.cs
  OpenTabletDriver.Native/Windows/USB/PipeType.cs
  OpenTabletDriver.Native/Windows/USB/RequestDirection.cs
  OpenTabletDriver.Native/Windows/USB/RequestInternalType.cs
  OpenTabletDriver.Native/Windows/USB/RequestRecipient.cs
  OpenTabletDriver.Native/Windows/USB/RequestType.cs
  OpenTabletDriver.Native/Windows/USB/SafeWinUsbInterfaceHandle.cs
  OpenTabletDriver.Native/Windows/USB/SetupPacket.cs
  OpenTabletDriver.Native/Windows/USB/StandardRequestCode.cs
  OpenTabletDriver.Native/Windows/USB/StringDescriptor.cs
  OpenTabletDriver.Native/Windows/WinUSB.cs
  OpenTabletDriver.Native/Windows/Windows.cs
  OpenTabletDriver.Plugin/Attributes/RootHubAttribute.cs
  OpenTabletDriver.Plugin/Devices/DevicesChangedEventArgs.cs
  OpenTabletDriver.Plugin/Devices/IDeviceEndpointStream.cs
  OpenTabletDriver.Plugin/Devices/SerializedDeviceEndpoint.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Tools/LogDataStore.cs
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
  OpenTabletDriver/Configurations/XP-Pen/Star G640S.json
  OpenTabletDriver/Devices/DeviceReader.cs
  OpenTabletDriver/Devices/HidSharpBackend/HidSharpDeviceRoot.cs
  OpenTabletDriver/Devices/HidSharpBackend/HidSharpEndpoint.cs
  OpenTabletDriver/Devices/HidSharpBackend/HidSharpEndpointStream.cs
  OpenTabletDriver/Devices/RootHub.cs
  OpenTabletDriver/Devices/WinUSB/WinUSBInterface.cs
  OpenTabletDriver/Devices/WinUSB/WinUSBInterfaceStream.cs
  OpenTabletDriver/Devices/WinUSB/WinUSBRootHub.cs
  OpenTabletDriver/Devices/WinUSB/WindowsEnumerationException.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement

#1395 Adds XP-Pen Artist 15.6 Pro
  OpenTabletDriver/Configurations/XP-Pen/Artist 15.6 Pro.json
  TABLETS.md
Labels: configuration

#1398 Log exceptions and safely display exceptions when diagnostics export fails
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui, desktop

#1399 Update versions to v0.6.0.0
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#1452 Added 12 button support for Gaomon 1060Pro
  OpenTabletDriver/Vendors/UCLogic/UCLogicAuxReport.cs
Labels: enhancement

#1406 Retrieve device list through OTD.Daemon
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceListDialog.cs
Labels: bug, gui, desktop

#1415 Do not setup device notification hooks on Windows 7 and below
  OpenTabletDriver/Devices/WinUSB/WinUSBRootHub.cs
Labels: core
