Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-04, with the labels that each got.

#942 Fix CodeFactor issues
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: enhancement

#910 Match digitizer/aux parser and remove wild configs
  OpenTabletDriver/Configurations/Wacom/CTL-4100 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100WL.json
  OpenTabletDriver/Configurations/Wacom/CTL-490.json
  OpenTabletDriver/Configurations/Wacom/CTL-690.json
  OpenTabletDriver/Configurations/Wacom/PTH-451.json
  OpenTabletDriver/Configurations/Wacom/PTH-651.json
  OpenTabletDriver/Configurations/Wacom/PTH-660 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/PTH-660.json
  OpenTabletDriver/Configurations/Wacom/PTH-850.json
  OpenTabletDriver/Configurations/Wacom/PTH-860.json
Labels: bug, configuration

#950 Add featureinit to CTL-X90 tablets
  OpenTabletDriver/Configurations/Wacom/CTL-490.json
  OpenTabletDriver/Configurations/Wacom/CTL-690.json
Labels: configuration, enhancement

#961 Add Wacom GD-0405-U Config
  OpenTabletDriver/Configurations/Wacom/GD-0405-U.json
Labels: configuration, enhancement

#957 Add CTE-640 Config
  OpenTabletDriver/Configurations/Wacom/CTE-640.json
Labels: configuration, enhancement

#927 Fix issues on pipeline rework
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Plugin/HPETDeltaStopwatch.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
  OpenTabletDriver.Plugin/Output/OutputMode.cs
  OpenTabletDriver.Plugin/Output/PipelineManager.cs
  OpenTabletDriver.Plugin/Output/PipelinePosition.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug

#940 Merge and fix wacom CTL-4100WL and CTL-4100 Bluetooth
  OpenTabletDriver/Configurations/Wacom/CTL-4100 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/CTL-4100WL.json
Labels: configuration

#962 Add Wacom touch support
  OpenTabletDriver.Plugin/Tablet/Touch/ITouchReport.cs
  OpenTabletDriver.Plugin/Tablet/Touch/TouchPoint.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
  OpenTabletDriver/Configurations/Wacom/CTH-470.json
  OpenTabletDriver/Configurations/Wacom/CTH-480.json
  OpenTabletDriver/Configurations/Wacom/CTH-490.json
  OpenTabletDriver/Configurations/Wacom/CTH-670.json
  OpenTabletDriver/Configurations/Wacom/CTH-680.json
  OpenTabletDriver/Configurations/Wacom/CTH-690.json
  OpenTabletDriver/Configurations/Wacom/CTL-480.json
  OpenTabletDriver/Configurations/Wacom/CTL-490.json
  OpenTabletDriver/Configurations/Wacom/CTL-680.json
  OpenTabletDriver/Configurations/Wacom/CTL-690.json
  OpenTabletDriver/Configurations/Wacom/PTH-451.json
  OpenTabletDriver/Configurations/Wacom/PTH-650.json
  OpenTabletDriver/Configurations/Wacom/PTH-651.json
  OpenTabletDriver/Configurations/Wacom/PTH-660.json
  OpenTabletDriver/Configurations/Wacom/PTH-850.json
  OpenTabletDriver/Tablet/DeviceReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3ReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3TouchReport.cs
  OpenTabletDriver/Vendors/Wacom/Wacom64bAuxReportParser.cs
  OpenTabletDriver/Vendors/Wacom/WacomTouchReport.cs
Labels: core, enhancement

#937 Add CTE-450 Config
  OpenTabletDriver/Configurations/Wacom/CTE-450.json
Labels: configuration, enhancement

#980 Explicitly define nuget source to fix Windows CI
  nuget.config
Labels: bug

#976 Add CTF-430 Config
  OpenTabletDriver/Configurations/Wacom/CTF-430.json
Labels: configuration

#970 Add New CTL-6100WL PID
  OpenTabletDriver/Configurations/Wacom/CTL-6100WL.json
Labels: configuration

#965 Fix bogus HID reports breaking tablet detection
  OpenTabletDriver/Driver.cs
Labels: bug

#983 Update version to v0.5.3
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#985 Add Wacom64b parser to report parser dictionary
  OpenTabletDriver/Driver.cs
Labels: bug, core, priority:high

#986 Bump version to v0.5.3.1
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#974 Add Star G960S Config
  OpenTabletDriver/Configurations/XP-Pen/Star G960S.json
Labels: configuration

#987 Fix async element disposal
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
Labels: bug, core

#1004 Merge PTH-660 Configs
  OpenTabletDriver/Configurations/Wacom/PTH-660 Bluetooth.json
  OpenTabletDriver/Configurations/Wacom/PTH-660.json
Labels: configuration

#1000 Configs: add pid 109 to Kamvas Pro 13
  OpenTabletDriver/Configurations/Huion/Kamvas Pro 13.json
Labels: configuration

#926 Make use of all the bit flags to detect aux
  OpenTabletDriver/Vendors/XP_Pen/XP_PenReportParser.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTiltReportParser.cs
Labels: configuration, core

#914 I/O pipeline overhaul
  OpenTabletDriver.Benchmarks/Output/NoopAbsoluteMode.cs
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.Desktop/Binding/MouseBinding.cs
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/WindowsAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.Desktop/Output/AbsoluteMode.cs
  OpenTabletDriver.Desktop/Output/LinuxArtistMode.cs
  OpenTabletDriver.Desktop/Output/RelativeMode.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver.Desktop/Reflection/ServiceManager.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Plugin/DependencyInjection/ResolvedAttribute.cs
  OpenTabletDriver.Plugin/HPETDeltaStopwatch.cs
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
  OpenTabletDriver.Plugin/Output/IOutputMode.cs
  OpenTabletDriver.Plugin/Output/IPipelineElement.cs
  OpenTabletDriver.Plugin/Output/IPointerProvider.cs
  OpenTabletDriver.Plugin/Output/IPositionedPipelineElement.cs
  OpenTabletDriver.Plugin/Output/OutputMode.cs
  OpenTabletDriver.Plugin/Output/PipelineManager.cs
  OpenTabletDriver.Plugin/Output/PipelinePosition.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.Plugin/Tablet/FilterStage.cs
  OpenTabletDriver.Plugin/Tablet/IAuxReport.cs
  OpenTabletDriver.Plugin/Tablet/IDeviceReport.cs
  OpenTabletDriver.Plugin/Tablet/IEraserReport.cs
  OpenTabletDriver.Plugin/Tablet/IFilter.cs
  OpenTabletDriver.Plugin/Tablet/IProximityReport.cs
  OpenTabletDriver.Plugin/Tablet/ITabletReport.cs
  OpenTabletDriver.Plugin/Tablet/ITiltReport.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/ISyntheticReport.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Limiter.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/SyntheticTabletReport.cs
  OpenTabletDriver.Tests/DependencyInjection/DependencyInjectionTest.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/DaemonWatchdog.cs
  OpenTabletDriver.UX/DesktopForm.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver/Devices/DeviceReader.cs
  OpenTabletDriver/Driver.cs
Labels: breaking, console, core, daemon, desktop, enhancement, gui, plugins

#997 Fix output mode switching to null output modes
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
Labels: bug, gui

#947 Added Gaomon M1220 Configuration
  OpenTabletDriver/Configurations/Gaomon/M1220.json
Labels: configuration, enhancement

#968 Fix logged messages losing stack trace over RPC
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.Plugin/Logging/ExceptionLogMessage.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.UX/Controls/LogView.cs
Labels: breaking, bug, plugins

#939 Fixed S56K configuration
  OpenTabletDriver/Configurations/Gaomon/S56K.json
Labels: breaking, bug, configuration

#1010 Fix configuration file formatting
  OpenTabletDriver/Configurations/Gaomon/M106K Pro.json
  OpenTabletDriver/Configurations/Gaomon/M10K.json
  OpenTabletDriver/Configurations/Gaomon/S56K.json
  OpenTabletDriver/Configurations/Huion/1060 Plus.json
  OpenTabletDriver/Configurations/Huion/G10T.json
  OpenTabletDriver/Configurations/Huion/GC610.json
  OpenTabletDriver/Configurations/Huion/H1161.json
  OpenTabletDriver/Configurations/Huion/H610 Pro V2.json
  OpenTabletDriver/Configurations/Huion/H610 Pro.json
  OpenTabletDriver/Configurations/Huion/HC16.json
  OpenTabletDriver/Configurations/Huion/Kamvas 13.json
  OpenTabletDriver/Configurations/Huion/Kamvas 16.json
  OpenTabletDriver/Configurations/Huion/Kamvas Pro 13.json
  OpenTabletDriver/Configurations/Huion/New 1060 Plus.json
  OpenTabletDriver/Configurations/Wacom/CTE-450.json
  OpenTabletDriver/Configurations/Wacom/CTE-640.json
  OpenTabletDriver/Configurations/Wacom/CTE-650.json
  OpenTabletDriver/Configurations/Wacom/CTF-430.json
  OpenTabletDriver/Configurations/Wacom/CTH-460.json
  OpenTabletDriver/Configurations/Wacom/CTL-6100WL.json
  OpenTabletDriver/Configurations/Wacom/GD-0405-U.json
  OpenTabletDriver/Configurations/Wacom/PTH-650.json
  OpenTabletDriver/Configurations/Wacom/PTK-1240.json
  OpenTabletDriver/Configurations/Wacom/PTK-440.json
  OpenTabletDriver/Configurations/Wacom/PTK-540WL.json
  OpenTabletDriver/Configurations/Wacom/PTK-640.json
  OpenTabletDriver/Configurations/Wacom/PTZ-1230.json
  OpenTabletDriver/Configurations/Wacom/PTZ-1231W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-430.json
  OpenTabletDriver/Configurations/Wacom/PTZ-431W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-630.json
  OpenTabletDriver/Configurations/Wacom/PTZ-631W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-930.json
  OpenTabletDriver/Configurations/Wacom/XD-0405-U.json
  OpenTabletDriver/Configurations/Wacom/XD-0608-U.json
  OpenTabletDriver/Configurations/Wacom/XD-0912-U.json
  OpenTabletDriver/Configurations/Wacom/XD-1212-U.json
  OpenTabletDriver/Configurations/Wacom/XD-1218-U.json
  OpenTabletDriver/Configurations/XP-Pen/Artist 12 Pro.json
  OpenTabletDriver/Configurations/XP-Pen/Deco 02.json
  OpenTabletDriver/Configurations/XP-Pen/Deco Mini7.json
  OpenTabletDriver/Configurations/XP-Pen/Deco mini7.json
  OpenTabletDriver/Configurations/XP-Pen/Star G540 Pro.json
  OpenTabletDriver/Configurations/XP-Pen/Star G640S.json
  OpenTabletDriver/Configurations/XP-Pen/Star G960S Plus.json
  OpenTabletDriver/Configurations/XP-Pen/Star G960S.json
Labels: configuration, documentation

#1012 Rework IBinding to support more properties and analog inputs
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
  OpenTabletDriver.Desktop/Binding/BindingTools.cs
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.Desktop/Binding/MouseBinding.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.Plugin/Attributes/PropertyValidatedAttribute.cs
  OpenTabletDriver.Plugin/IBinding.cs
  OpenTabletDriver.Plugin/IValidateBinding.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreEditor.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Bindings/BindingEditorDialog.cs
Labels: breaking, desktop, plugins

#1014 Improve availability of services
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Desktop/Reflection/IServiceManager.cs
  OpenTabletDriver.Desktop/Reflection/ServiceManager.cs
  OpenTabletDriver.Plugin/Platform/Display/IVirtualDisplayDriver.cs
Labels: enhancement, plugins

#966 Add Gaomon PD1161 support
  OpenTabletDriver/Configurations/Gaomon/PD1661.json
Labels: configuration, enhancement

#1019 Convert some Forms to a singleton window
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/WindowSingleton.cs
Labels: enhancement, gui

#1025 Catch binding validation exceptions
  OpenTabletDriver.Plugin/Attributes/PropertyValidatedAttribute.cs
Labels: bug, desktop, enhancement, gui, plugins

#1018 Lock plugin manager buttons during plugin install/update/uninstall operation
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug, enhancement, gui

#1016 Migrate built in binding properties to new properties
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
Labels: desktop, enhancement

#1027 Fix uninstallation of types that are not actually loaded
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: bug, desktop

#1026 Improve object construction log
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: desktop, enhancement

#1015 Add multi-key binding support
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/MultiKeyBinding.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/EvdevVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/MacOSVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Reflection/ServiceManager.cs
  OpenTabletDriver.Plugin/Platform/Keyboard/IVirtualKeyboard.cs
  OpenTabletDriver.Tests/Interop/KeyboardTest.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Windows/Bindings/BindingEditorDialog.cs
Labels: desktop, enhancement, needs verification, plugins

#1028 Ignore OpenTabletDriver.Plugin.dll when loading plugins
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
Labels: bug, desktop

#1029 Add eraser binding support
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
Labels: daemon, desktop, enhancement, gui

#1030 Added M10K PRO Configuration
  OpenTabletDriver/Configurations/Gaomon/M10K Pro.json
Labels: configuration

#1032 Binding editor controls cleanup
  OpenTabletDriver.UX/Controls/BindingDisplay.cs
  OpenTabletDriver.UX/Controls/BindingEditor.cs
  OpenTabletDriver.UX/Controls/Generic/FloatSlider.cs
  OpenTabletDriver.UX/Windows/Bindings/BindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/BindingPage.cs
Labels: enhancement, gui

#1035 Fix area lock when a display is on a negative coordinate
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: bug, gui

#1034 Fix Huion H640P Express Keys
  OpenTabletDriver/Configurations/Huion/H640P.json
Labels: bug, configuration

#1038 Explicitly define Star 06 parser
  OpenTabletDriver/Configurations/XP-Pen/Star 06.json
Labels: bug, configuration

#1037 Add UC-Logic 1060N Config
  OpenTabletDriver.Plugin/Tablet/DeviceVendor.cs
  OpenTabletDriver/Configurations/UC-Logic/1060N.json
Labels: configuration, plugins

#1036 Lock area dragging to original clicked point
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: enhancement, gui

#1013 Add a page about running OpenTabletDriver in the background to the greeter
  OpenTabletDriver.UX/Windows/Greeter/Pages/SystemTrayPage.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
Labels: desktop, gui

#1040 Clean up MainForm settings reset functions
  OpenTabletDriver.UX/MainForm.cs
Labels: documentation, enhancement, gui

#1050 Remove workaround when changing output modes
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
Labels: bug, gui

#1046 Load MenuBar on daemon connection
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, daemon, desktop, gui

#1058 Add H420X Config
  OpenTabletDriver/Configurations/Huion/H420X.json
Labels: configuration, enhancement

#1070 Fix exception on `PluginManager.Clean()` when Plugin folder is not existing
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: bug, daemon

#1072 Rewrite Area Editor with MVVM
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Area/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaControl.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/RotationAreaEditor.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/AreaEditorPage.cs
Labels: enhancement, gui
