Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-05, with the labels that each got.

#1077 Fix pen in range detection on async pipeline elements
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
Labels: bug, core

#1074 Fix IntuosV3 reportID for PTH-x60
  OpenTabletDriver/Vendors/Wacom/IntuosV3Report.cs
Labels: bug, core

#1080 Fix output mode selector layout
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
Labels: gui

#1085 Fix relative mode editor bindings
  OpenTabletDriver.Plugin/Tablet/PenSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/TabletConfiguration.cs
  OpenTabletDriver.Plugin/Tablet/TabletSpecifications.cs
  OpenTabletDriver.UX/Controls/Generic/Text/HexNumberBox.cs
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/UnitGroup.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/Output/RelativeModeEditor.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/Specifications/PenSpecificationsEditor.cs
Labels: bug, gui

#1087 Fix device string editing
  OpenTabletDriver.UX/Controls/Generic/Dictionary/DictionaryEditor.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DeviceIdentifierEditor.cs
Labels: bug, gui

#1086 Nullcheck State at OnEmit
  OpenTabletDriver.Plugin/Output/AsyncPositionedPipelineElement.cs
Labels: bug, core

#1089 Fix Wacom CTL-671 size in config
  OpenTabletDriver/Configurations/Wacom/CTL-671.json
Labels: bug, configuration

#1116 Changed Q620M parser in the config
  OpenTabletDriver/Configurations/Huion/Q620M.json
Labels: configuration, enhancement

#1104 Bump Eto.Platform.Gtk to 2.5.11
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
Labels: linux/gtk
