Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-12, with the labels that each got.

#1683 Fix area editor sticking to cursor
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: bug, gui

#1691 Hook display area constraint handler
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: bug, gui

#1693 Immediately lock to usable area when enabled
  OpenTabletDriver.UX/Controls/Output/Area/AreaEditor.cs
Labels: bug, enhancement, gui

#1688 Improve performance of LogDataStore
  OpenTabletDriver.UX/Tools/LogDataStore.cs
Labels: bug, enhancement, gui

#1678 Synchronize all daemon events to UI task scheduler at event source
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/TabletSwitcherPanel.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/RPC/DaemonRpcClient.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, gui

#1685 [GTK] Show a message box for unhandled exceptions
  OpenTabletDriver.UX.Gtk/Program.cs
Labels: enhancement, linux/gtk, gui

#1692 Introduce less intrusive environment variables in diagnostics
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Desktop/Diagnostics/EnvironmentDictionary.cs
Labels: enhancement, desktop

#1696 Add .editorconfig
  .editorconfig
Labels: enhancement

#1699 PTH-651: Match PTH-451 WacomDriver parser
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-651.json
Labels: configuration, priority:low

#1681 Gaomon S56K: Use TabletReportParser
  OpenTabletDriver.Configurations/Configurations/Gaomon/S56K.json
Labels: configuration

#1706 Huion Kamvas Pro 13: Fixup deviating parsers
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13.json
Labels: bug, configuration

#1705 H430P: Add yet another device string
  OpenTabletDriver.Configurations/Configurations/Huion/H430P.json
Labels: enhancement, configuration

#1697 Fix unit test failures
  OpenTabletDriver.Desktop/Updater/IUpdater.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Tests/UpdaterTests.cs
Labels: bug, tests

#1720 build.sh: Clean old artifacts before building
  build.sh
Labels: enhancement

#1684 Linux per-user tablet configuration
  OpenTabletDriver.Desktop/AppInfo.cs
Labels: enhancement, desktop

#1698 Fix IntuosReportParser to read out NearProximity==false reports (hover range fix)
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos/IntuosReportParser.cs
Labels: bug, configuration

#1725 Show any unhandled exception in a message box on all platforms
  OpenTabletDriver.UX.Gtk/Program.cs
  OpenTabletDriver.UX/App.cs
Labels: enhancement, gui

#1728 UX: Fix NRE
  OpenTabletDriver.UX/App.cs
Labels: bug, gui, priority:high

#1715 Presets to be able to quickly switch between configs
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Preset.cs
  OpenTabletDriver.Desktop/PresetManager.cs
  OpenTabletDriver.UX/Controls/Generic/ScheduledDrawable.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/TrayIcon.cs
Labels: enhancement, gui, daemon, console, desktop

#1676 Handle out of range reports (in Linux Artist Mode)
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenReportParser.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Output/LinuxArtistMode.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IVirtualTablet.cs
  OpenTabletDriver.Plugin/Tablet/OutOfRangeReport.cs
Labels: plugins, configuration, core, desktop

#1519 Change "Pressure" to "Threshold" on the bindings tab
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.UX/Controls/Bindings/PenBindingEditor.cs
Labels: desktop, localization

#1747 Add a way to save presets through UX and Console
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui, console

#1629 Add Built-in Self-Updater for Windows and MacOS
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Desktop/Updater/IUpdater.cs
  OpenTabletDriver.Desktop/Updater/MacOSUpdater.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Desktop/Updater/WindowsUpdater.cs
  OpenTabletDriver.Tests/UpdaterTests.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/TrayIcon.cs
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: enhancement, priority:high, desktop

#1739 PluginManager: Force Configurations and Native assemblies to be loaded
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: bug, desktop

#1751 Fix `detect tablet` not disposing outdated pipelines
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/InputDeviceTreeList.cs
Labels: bug, daemon

#1426 Added H420 Configuration
  OpenTabletDriver.Configurations/Configurations/Huion/H420.json
  TABLETS.md
Labels: invalid, configuration

#1759 PluginManager: Force Plugin assembly to be loaded
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
Labels: bug, desktop

#1677 build.sh: Exit immediately if a compilation error occurs
  build.sh
Labels: enhancement, priority:low

#1042 Improve diagnostics serialization behaviour
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, desktop

#1758 Fix NPE on macos
  OpenTabletDriver.UX/TrayIcon.cs
Labels: bug, gui

#1772 Handle OutOfRange reports in tablet debugger
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
Labels: enhancement, priority:low, desktop

#1750 Switch to manually adding/removing tabs instead of TabPage.Visible
  OpenTabletDriver.UX/Controls/ControlPanel.cs
Labels: bug, macos, gui

#1783 Fix memory leaks on MacOS
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: bug, macos, gui, priority:high

#1672 Add BuildDate attribute to track date of build
  .github/workflows/dotnet.yml
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Plugin/Attributes/BuildDateAttribute.cs
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  build.sh
Labels: enhancement, plugins, desktop

#1787 Fix H420 config
  OpenTabletDriver.Configurations/Configurations/Huion/H420.json
Labels: bug, configuration

#1802 DesktopInterop: Use fallback timer on Linux
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
Labels: bug, desktop, performance

#1798 Enforce json extension when saving presets
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, priority:medium, desktop

#1790 Fix intuos3 mouse hover and add IProximityReport
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3MouseReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
Labels: enhancement, configuration

#1746 Correct the max pressure for the deco 4 mini.
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Mini 4.json
Labels: enhancement, configuration

#1789 Tablet Debugger: Enhancements
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, enhancement, gui

#689 Center relative to parent control and fix location jitter
  OpenTabletDriver.UX/ChildDialog.cs
  OpenTabletDriver.UX/DesktopDialog.cs
  OpenTabletDriver.UX/DesktopForm.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/WindowSingleton.cs
Labels: bug, gui

#1731 Added Kamvas 20 Configuration
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 20.json
  TABLETS.md
Labels: enhancement, configuration

#1822 Add identifier to the Deco Mini7
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Mini7.json
Labels: configuration

#1825 Add identifier to the Gaomon 1060 Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/1060 Pro.json
Labels: configuration

#1823 Correct the Deco Mini4 name
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini4.json
  TABLETS.md
Labels: configuration

#1830 Added Support for Huion Kamvas 16 (2021)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 16 (2021).json
  TABLETS.md
Labels: configuration

#1826 Update PTH-851.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTH-851.json
  TABLETS.md
Labels: configuration
