Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-06, with the labels that each got.

#1128 Add support for auxilliary buttons on Huion H430P
  OpenTabletDriver/Configurations/Huion/H430P.json
Labels: configuration, enhancement

#1107 Fix PTH-451 Config's Parser
  OpenTabletDriver/Configurations/Wacom/PTH-451.json
Labels: bug, configuration

#1117 Add full init sequence to intuos3 tablets
  OpenTabletDriver/Configurations/Wacom/PTZ-1230.json
  OpenTabletDriver/Configurations/Wacom/PTZ-1231W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-430.json
  OpenTabletDriver/Configurations/Wacom/PTZ-431W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-630.json
  OpenTabletDriver/Configurations/Wacom/PTZ-631W.json
  OpenTabletDriver/Configurations/Wacom/PTZ-930.json
Labels: configuration, enhancement

#1118 Update H420X Config
  OpenTabletDriver/Configurations/Huion/H420X.json
Labels: configuration

#1119 Update intuos1-2 init for 200hz
  OpenTabletDriver/Configurations/Wacom/GD-0405-U.json
  OpenTabletDriver/Configurations/Wacom/GD-0608-U.json
  OpenTabletDriver/Configurations/Wacom/GD-0912-U.json
  OpenTabletDriver/Configurations/Wacom/GD-1212-U.json
  OpenTabletDriver/Configurations/Wacom/GD-1218-U.json
  OpenTabletDriver/Configurations/Wacom/XD-0405-U.json
  OpenTabletDriver/Configurations/Wacom/XD-0608-U.json
  OpenTabletDriver/Configurations/Wacom/XD-0912-U.json
  OpenTabletDriver/Configurations/Wacom/XD-1212-U.json
  OpenTabletDriver/Configurations/Wacom/XD-1218-U.json
Labels: configuration, enhancement

#1121 Add CTH-661 Config
  OpenTabletDriver/Configurations/Wacom/CTH-661.json
Labels: configuration

#1127 Fix empty/null string check in KeyBinding
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
Labels: bug, desktop

#1148 Add tablet configuration database
  TABLETS.md
Labels: configuration, documentation, enhancement

#1149 Merge udev utility project
  .github/workflows/dotnet.yml
  .gitignore
  OpenTabletDriver.Tools.udev/Comparers/IdentifierComparer.cs
  OpenTabletDriver.Tools.udev/Extensions.cs
  OpenTabletDriver.Tools.udev/OpenTabletDriver.Tools.udev.csproj
  OpenTabletDriver.Tools.udev/Program.cs
  OpenTabletDriver.Tools.udev/RuleGenerator.cs
  OpenTabletDriver.sln
  generate-rules.sh
Labels: enhancement, linux/gtk

#1150 Update TABLETS.md
  TABLETS.md
Labels: configuration, documentation

#1154 Change "Supported Tablets" link to the new tablets list
  README.md
Labels: documentation

#1161 Fix Huion Q11K config
  OpenTabletDriver/Configurations/Huion/Q11K.json
Labels: bug, configuration

#1175 Fix services missing from DI on first load
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug

#1064 Add support for Intuos4 aux buttons
  OpenTabletDriver/Vendors/Wacom/Intuos4AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2ReportParser.cs
Labels: configuration, enhancement

#1173 feat: Added json file for XP Pen Deco Fun XS
  OpenTabletDriver/Configurations/XP-Pen/CT430.json
  TABLETS.md
Labels: configuration, documentation, enhancement

#1142 Rework AppInfo to XDG Base Directory specification
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
  OpenTabletDriver.Tests/ConsoleExtensions.cs
  OpenTabletDriver.Tests/PluginRepositoryTest.cs
  OpenTabletDriver.Tests/TestBase.cs
Labels: desktop, enhancement

#1060 Apply optimization to core report parsers
  OpenTabletDriver/Tablet/AuxReport.cs
  OpenTabletDriver/Tablet/ByteExtensions.cs
  OpenTabletDriver/Tablet/TabletReport.cs
  OpenTabletDriver/Tablet/TiltTabletReport.cs
Labels: core, enhancement

#1062 Apply optimization to Wacom parsers
  OpenTabletDriver/Vendors/Wacom/BambooReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2Report.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3Report.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3ReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3TouchReport.cs
  OpenTabletDriver/Vendors/Wacom/Wacom64bAuxReportParser.cs
  OpenTabletDriver/Vendors/Wacom/WacomTouchReport.cs
Labels: core, enhancement

#1196 Rework plugin manager window
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/Extensions.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Dialogs/RepositoryDialog.cs
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/MetadataViewer.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginDropPanel.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: desktop, enhancement, gui

#1192 Use mvvm for the setting store editors
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/Extensions.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Controls/GeneratedControls.cs
  OpenTabletDriver.UX/Controls/Generic/ListBox.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/Extensions.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeDropDown.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeListBox.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/Placeholder.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreEditor.cs
  OpenTabletDriver.UX/Dialogs/RepositoryDialog.cs
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DeviceIdentifierEditor.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/MetadataViewer.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginDropPanel.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: desktop, enhancement, gui

#1184 Rework virtual tablet invocations, add new IBinding interfaces
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
  OpenTabletDriver.Desktop/Binding/KeyBinding.cs
  OpenTabletDriver.Desktop/Binding/MouseBinding.cs
  OpenTabletDriver.Desktop/Binding/MultiKeyBinding.cs
  OpenTabletDriver.Desktop/Binding/PenPassthroughBinding.cs
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Output/LinuxArtistMode.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/Extensions.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
  OpenTabletDriver.Plugin/IBinding.cs
  OpenTabletDriver.Plugin/IInterruptBinding.cs
  OpenTabletDriver.Plugin/IStateBinding.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IVirtualTablet.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Controls/GeneratedControls.cs
  OpenTabletDriver.UX/Controls/Generic/ListBox.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/Extensions.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeDropDown.cs
  OpenTabletDriver.UX/Controls/Generic/Reflection/TypeListBox.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/Placeholder.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreEditor.cs
  OpenTabletDriver.UX/Dialogs/RepositoryDialog.cs
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DeviceIdentifierEditor.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/MetadataViewer.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginDropPanel.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: breaking, core, desktop, enhancement, gui, plugins

#1183 Use AppInfo-based settings migration
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Migration/LegacySettings/V5/Settings.cs
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
Labels: desktop, enhancement

#1186 Improve Veikk support
  OpenTabletDriver/Configurations/VEIKK/S640 V2.json
  OpenTabletDriver/Vendors/Veikk/VeiikTabletReport.cs
  OpenTabletDriver/Vendors/Veikk/VeikkReportParser.cs
  TABLETS.md
Labels: configuration, enhancement

#1203 Add UGTABLET M708 configuration file
  OpenTabletDriver/Configurations/UGTABLET/M708.json
  TABLETS.md
Labels: configuration

#1204 Add support for UC-Logic PF1209
  OpenTabletDriver/Configurations/UC-Logic/PF1209.json
  TABLETS.md
Labels: configuration
