Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-02, with the labels that each got.

#741 Rework AreaEditor, rework AreaDisplay with TimedDrawable
  .gitignore
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Area/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Generic/TimedDrawable.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/Utilities/ActionCommand.cs
  OpenTabletDriver.UX/Controls/Utilities/BooleanCommand.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/AreaEditorPage.cs
  OpenTabletDriver.UX/Windows/TabletVisualizer.cs
Labels: enhancement, gui

#742 Dispose filters that implement IDisposable interface
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, daemon, desktop

#729 Cache and vectorize WindowsAbsolutePointer's conversion
  OpenTabletDriver.Desktop/Interop/Input/Absolute/WindowsAbsolutePointer.cs
Labels: desktop, windows

#744 Updated H610 Pro V2 configuration
  OpenTabletDriver/Configurations/Huion/H610 Pro V2.json
Labels: breaking, configuration

#747 Add NumberTextProvider
  OpenTabletDriver.UX/Controls/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Generic/Text/DoubleNumberBox.cs
  OpenTabletDriver.UX/Controls/Generic/Text/FloatNumberBox.cs
  OpenTabletDriver.UX/Controls/Generic/Text/Providers/NumberTextProvider.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
Labels: enhancement, gui

#750 Add XD-0608-U Configuration
  OpenTabletDriver/Configurations/Wacom/XD-0608-U.json
Labels: configuration, good first issue

#751 Added 1060 Plus configuration
  OpenTabletDriver/Configurations/Huion/1060 Plus.json
Labels: configuration

#754 Fix area rotation bug
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: bug, gui

#770 Fix area sticking to boundaries while dragging
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: bug, gui, priority:high

#771 Fix number fields missing decimal separator
  OpenTabletDriver.UX/Controls/Generic/Text/DoubleNumberBox.cs
  OpenTabletDriver.UX/Controls/Generic/Text/FloatNumberBox.cs
Labels: bug, enhancement, gui

#756 Safely retrieve device name
  OpenTabletDriver/Driver.cs
Labels: bug, core, enhancement

#761 Added Huion H950P Configuration
  OpenTabletDriver/Configurations/Huion/H950P.json
Labels: configuration, enhancement

#753 Add PTZ-930 config
  OpenTabletDriver/Configurations/Wacom/PTZ-930.json
Labels: configuration

#774 Fix CTH-460 Config
  OpenTabletDriver/Configurations/Wacom/CTH-460.json
Labels: bug, configuration

#786 Add Download Count badge
  README.md
Labels: documentation, enhancement

#794 Fix duplicate context menu entries on OTD Guide
  OpenTabletDriver.UX/Controls/Area/AreaEditor.cs
Labels: bug, gui

#764 Add Star 06C configuration
  OpenTabletDriver/Configurations/XP-Pen/Star 06C.json
Labels: configuration

#784 Metadata timeout
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: enhancement, gui

#795 Add IntuosV2AuxReport, bump aux buttons to 8, discard idle reports
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver/Devices/DeviceReader.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2ReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3ReportParser.cs
Labels: breaking, core

#783 Fix area display error message placement
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Area/AreaViewModel.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
Labels: bug, gui

#726 Construct filters after preparing OutputMode
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: daemon, desktop

#719 Added Kamvas 13 Configuration
  OpenTabletDriver/Configurations/Huion/Kamvas 13.json
Labels: configuration

#796 Add another configuration for Deco 01 v2
  OpenTabletDriver/Configurations/XP-Pen/Deco 01 v2.json
Labels: configuration

#797 Handle Missing Config Directory
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
Labels: bug, gui

#798 #768 - Fix Crash on "Save Configurations"
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
Labels: bug, gui

#592 Add Deco Pro Small configuration
  OpenTabletDriver/Configurations/XP-Pen/Deco Pro Small.json
Labels: configuration

#803 Updated H1060P Configuration
  OpenTabletDriver/Configurations/Huion/H1060P.json
Labels: configuration

#804 Round area width and height before displaying value
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: enhancement, gui
