Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-03, with the labels that each got.

#809 Improve RPC transmission of device data
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/RPC/RpcData.cs
  OpenTabletDriver.Plugin/Tablet/IAuxReport.cs
  OpenTabletDriver.Plugin/Tablet/IDeviceReport.cs
  OpenTabletDriver.Plugin/Tablet/IEraserReport.cs
  OpenTabletDriver.Plugin/Tablet/IProximityReport.cs
  OpenTabletDriver.Plugin/Tablet/ITabletReport.cs
  OpenTabletDriver.Plugin/Tablet/ITiltReport.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/TabletVisualizer.cs
  OpenTabletDriver/Debugging/DebugAuxReport.cs
  OpenTabletDriver/Debugging/DebugDeviceReport.cs
  OpenTabletDriver/Debugging/DebugTabletReport.cs
  OpenTabletDriver/Tablet/AuxReport.cs
  OpenTabletDriver/Tablet/TabletReport.cs
  OpenTabletDriver/Tablet/TiltTabletReport.cs
  OpenTabletDriver/Vendors/Gaomon/GaomonAuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2Report.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3Report.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenAuxReport.cs
Labels: breaking, desktop, enhancement, gui, plugins

#806 Improve border visibility on WPF
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: enhancement, gui

#813 Add support for Huion WH1409 V2
  OpenTabletDriver/Configurations/Huion/WH1409 V2.json
  OpenTabletDriver/Vendors/Huion/GianoReport.cs
  OpenTabletDriver/Vendors/Huion/GianoReportParser.cs
Labels: configuration, plugins

#699 Harden against possible settings loading error
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStoreCollection.cs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug, desktop

#799 Add string dump to device string reader
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
Labels: daemon, desktop, enhancement, gui

#815 Fix MTE-450 ReportID
  OpenTabletDriver/Configurations/Wacom/MTE-450.json
Labels: configuration

#817 Merge tablet visualizer and tablet debugger
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
  OpenTabletDriver.UX/Windows/TabletVisualizer.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2AuxReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3AuxReport.cs
Labels: enhancement, gui

#823 Add Wacom Bamboo report parsing
  OpenTabletDriver/Configurations/Wacom/MTE-450.json
  OpenTabletDriver/Vendors/Wacom/BambooReport.cs
  OpenTabletDriver/Vendors/Wacom/BambooReportParser.cs
Labels: configuration, core, enhancement

#805 Improve label visibility on really small areas
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: enhancement, gui

#825 Move PluginManager to OpenTabletDriver.Desktop
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Desktop/RPC/RpcData.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginContext.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver.Desktop/Reflection/PluginReference.cs
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
  OpenTabletDriver.Desktop/Reflection/StoredPluginReference.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
  OpenTabletDriver.UX/Windows/Bindings/AdvancedBindingEditorDialog.cs
  OpenTabletDriver/Driver.cs
Labels: breaking, core, desktop, enhancement, priority:high

#819 Add benchmarks
  .gitignore
  OpenTabletDriver.Benchmarks/Benchmark.cs
  OpenTabletDriver.Benchmarks/OpenTabletDriver.Benchmarks.csproj
  OpenTabletDriver.Benchmarks/Output/LinuxInteropBenchmark.cs
  OpenTabletDriver.Benchmarks/Output/MacOSInteropBenchmark.cs
  OpenTabletDriver.Benchmarks/Output/NoopAbsoluteMode.cs
  OpenTabletDriver.Benchmarks/Output/OutputBenchmark.cs
  OpenTabletDriver.Benchmarks/Output/WindowsInteropBenchmark.cs
  OpenTabletDriver.Benchmarks/Parser/ReportParserBenchmark.cs
  OpenTabletDriver.Benchmarks/Plugin/PluginManagerBenchmark.cs
  OpenTabletDriver.sln
Labels: core, enhancement

#831 Update version to v0.5.2
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#833 Fix plugin manager benchmark build
  OpenTabletDriver.Benchmarks/Plugin/PluginManagerBenchmark.cs
Labels: bug

#834 Add release workflow
  .github/workflows/release.yml
Labels: enhancement

#838 Fix SkipByteReportParser
  OpenTabletDriver/Driver.cs
Labels: bug, configuration, core

#839 Fix area display background rect reference
  OpenTabletDriver.UX/Controls/Area/AreaDisplay.cs
Labels: bug, desktop, gui

#843 Fix multiple null references and null checks
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
Labels: bug, desktop, gui

#844 Update all versions to 0.5.2.1
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#850 Add default device report, fix wacom CTx-x90
  OpenTabletDriver/Tablet/DeviceReport.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV2ReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV3ReportParser.cs
Labels: bug, configuration, core, enhancement, plugins

#852 Fix PTK-440 reportID end
  OpenTabletDriver/Configurations/Wacom/PTK-440.json
Labels: bug, configuration

#856 Update version to v0.5.2.2
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#858 Driver: emit DevicesChanged only if there are any changes
  OpenTabletDriver/Devices/DevicesChangedEventArgs.cs
  OpenTabletDriver/Driver.cs
Labels: bug, core

#862 Added Gaomon M10K Configuration
  OpenTabletDriver/Configurations/Gaomon/M10K.json
Labels: configuration

#869 XP-PenAuxReport: Allow multiple buttons being pressed simultaneously
  OpenTabletDriver/Vendors/XP_Pen/XP_PenAuxReport.cs
Labels: configuration, enhancement

#867 Update M106K Pro.json
  OpenTabletDriver/Configurations/Gaomon/M106K Pro.json
Labels: bug, configuration

#868 Add XP-Pen Star G960S Plus support
  OpenTabletDriver/Configurations/XP-Pen/Star G960S Plus.json
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTiltReportParser.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTiltTabletReport.cs
Labels: configuration

#829 Add Kamvas 16 Config
  OpenTabletDriver/Configurations/Huion/Kamvas 16.json
Labels: configuration

#871 Update version to v0.5.2.3
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: documentation

#872 Clean up core, add xmldoc
  OpenTabletDriver.Desktop/DesktopDriver.cs
  OpenTabletDriver.Plugin/Area.cs
  OpenTabletDriver.Plugin/Attributes/BooleanPropertyAttribute.cs
  OpenTabletDriver.Plugin/Attributes/DefaultPropertyValueAttribute.cs
  OpenTabletDriver.Plugin/Attributes/ModifierAttribute.cs
  OpenTabletDriver.Plugin/Attributes/PluginIgnoreAttribute.cs
  OpenTabletDriver.Plugin/Attributes/PluginNameAttribute.cs
  OpenTabletDriver.Plugin/Attributes/PropertyAttribute.cs
  OpenTabletDriver.Plugin/Attributes/SliderPropertyAttribute.cs
  OpenTabletDriver.Plugin/Attributes/SupportedPlatformAttribute.cs
  OpenTabletDriver.Plugin/Attributes/ToolTipAttribute.cs
  OpenTabletDriver.Plugin/Attributes/UnitAttribute.cs
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.Plugin/LogLevel.cs
  OpenTabletDriver.Plugin/Logging/ExceptionLogMessage.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/IOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/Tools.cs
Labels: core, documentation, enhancement

#889 Update Huion H950P configuration
  OpenTabletDriver/Configurations/Huion/H950P.json
Labels: configuration

#588 Add PTH-460 configuration
  OpenTabletDriver/Configurations/Wacom/PTH-460.json
Labels: configuration

#887 Update XP-Pen report parser
  OpenTabletDriver/Vendors/XP_Pen/XP_PenAuxReport.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenReportParser.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTiltReportParser.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTiltTabletReport.cs
Labels: core, enhancement

#893 Improve exception message of common issues
  OpenTabletDriver/Driver.cs
Labels: core, enhancement, priority:high

#859 Add stdio Console feature
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
Labels: console, enhancement

#899 Revive console companion application
  OpenTabletDriver.Console/Extensions.cs
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.IPC.cs
  OpenTabletDriver.Console/Program.cs
  OpenTabletDriver.Console/Tools.cs
Labels: console, desktop, enhancement

#886 Change GaomonReportParser to UCLogicReportParser
  OpenTabletDriver/Configurations/Gaomon/1060 Pro.json
  OpenTabletDriver/Configurations/Gaomon/M106K Pro.json
  OpenTabletDriver/Configurations/Gaomon/M106K.json
  OpenTabletDriver/Configurations/Gaomon/M10K.json
  OpenTabletDriver/Configurations/Gaomon/S56K.json
  OpenTabletDriver/Configurations/Gaomon/S620.json
  OpenTabletDriver/Configurations/Huion/1060 Plus.json
  OpenTabletDriver/Configurations/Huion/H1060P.json
  OpenTabletDriver/Configurations/Huion/H610 Pro V2.json
  OpenTabletDriver/Configurations/Huion/H950P.json
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/Vendors/Gaomon/GaomonAuxReport.cs
  OpenTabletDriver/Vendors/Gaomon/GaomonReportParser.cs
  OpenTabletDriver/Vendors/Huion/GianoReportParser.cs
  OpenTabletDriver/Vendors/UCLogic/UCLogicAuxReport.cs
  OpenTabletDriver/Vendors/UCLogic/UCLogicReportParser.cs
Labels: configuration, core, enhancement

#865 Added PTK-640 and PTH-650 Configurations
  OpenTabletDriver/Configurations/Wacom/PTH-650.json
  OpenTabletDriver/Configurations/Wacom/PTK-640.json
Labels: configuration

#912 Rename CTL-6100 to CTL-6100WL
  OpenTabletDriver/Configurations/Wacom/CTL-6100WL.json
Labels: bug, configuration

#904 Add PTZ-630 Config
  OpenTabletDriver/Configurations/Wacom/PTZ-630.json
Labels: configuration

#924 Add XP-Pen Deco Pro Medium configuration
  OpenTabletDriver/Configurations/XP-Pen/Deco Pro Medium.json
Labels: configuration

#915 Update Huion H950P configuration
  OpenTabletDriver/Configurations/Huion/H950P.json
Labels: configuration

#934 Correct the area size of Wacom PTH-660
  OpenTabletDriver/Configurations/Wacom/PTH-660 Bluetooth.json
Labels: bug, configuration

#929 Change UAC message
  OpenTabletDriver.UX.Wpf/Program.cs
Labels: enhancement, gui, windows/wpf

#923 Fix wrong physical size on various configs from bad lpi calculations
  OpenTabletDriver/Configurations/Gaomon/M10K.json
  OpenTabletDriver/Configurations/Huion/H1161.json
  OpenTabletDriver/Configurations/Huion/H950P.json
  OpenTabletDriver/Configurations/Huion/HS610.json
  OpenTabletDriver/Configurations/Huion/Inspiroy Q11K.json
  OpenTabletDriver/Configurations/Huion/Kamvas 13.json
  OpenTabletDriver/Configurations/Wacom/CTE-440.json
  OpenTabletDriver/Configurations/Wacom/CTL-680.json
  OpenTabletDriver/Configurations/Wacom/FT-0405-U.json
  OpenTabletDriver/Configurations/Wacom/PTH-451.json
  OpenTabletDriver/Configurations/XP-Pen/G540 Pro.json
  OpenTabletDriver/Configurations/XP-Pen/G960 v2.json
  OpenTabletDriver/Configurations/XP-Pen/Star G960S Plus.json
Labels: bug, configuration

#938 Added GC610 Configuration
  OpenTabletDriver/Configurations/Huion/GC610.json
Labels: configuration, enhancement
