Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-01, with the labels that each got.

#610 Area Converter: Fixed xp pen conversion and huion dropdown label
  OpenTabletDriver.Desktop/Conversion/PercentageAreaConverter.cs
  OpenTabletDriver.Desktop/Conversion/XP_PenDriverAreaConverter.cs
Labels: desktop, gui

#604 Terminate when running as admin
  OpenTabletDriver.UX.Wpf/Program.cs
Labels: enhancement, gui, windows

#611 Fix xp pen Deco 01 v2 reportID
  OpenTabletDriver/Configurations/XP-Pen/Deco 01 v2.json
Labels: configuration

#599 Catch exception when HID feature or output fails
  OpenTabletDriver/Driver.cs
Labels: bug, core

#613 Use DropDown for LogView
  OpenTabletDriver.UX/Controls/LogView.cs
Labels: enhancement, gui

#615 Use TypeDropDown in place of report parser textbox
  OpenTabletDriver.UX/Controls/Generic/ListBox.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/AuxiliaryIdentifierEditor.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DeviceIdentifierEditor.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DeviceIdentifierEntry.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DigitizerIdentifierEditor.cs
  OpenTabletDriver.UX/Windows/Configurations/Controls/DigitizerIdentifierEntry.cs
Labels: bug, enhancement, gui

#575 Use HPET-enabled Stopwatch class
  OpenTabletDriver.Plugin/HPETDeltaStopwatch.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: core, enhancement

#627 Disable main form hiding on greeter
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#628 Fix MacOS CI failing after latest Eto version bump
  .github/workflows/dotnet.yml
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
Labels: dependencies

#620 Use interval in windows timer instead of forcing 1khz
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
Labels: bug, core, windows

#616 Fix UX tablet area editor not updating on tablet state change
  OpenTabletDriver.UX/Controls/AreaDisplay.cs
Labels: bug, gui, macos, windows

#622 Fix G540 Pro ReportID
  OpenTabletDriver/Configurations/XP-Pen/G540 Pro.json
Labels: breaking, configuration

#618 Show default values for plugin settings
  OpenTabletDriver.Desktop/Reflection/PluginSetting.cs
  OpenTabletDriver.Plugin/Attributes/DefaultPropertyValueAttribute.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: desktop, gui, plugins

#612 Change Area Converter labels accordingly
  OpenTabletDriver.Desktop/Conversion/ConversionFactorAreaConverter.cs
  OpenTabletDriver.Desktop/Conversion/PercentageAreaConverter.cs
  OpenTabletDriver.Desktop/Conversion/XP_PenDriverAreaConverter.cs
  OpenTabletDriver.Plugin/Tablet/IAreaConverter.cs
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
Labels: gui

#631 Add UI to change ref for a plugin repository source
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
  OpenTabletDriver.UX/Controls/Generic/TypeDropDown.cs
  OpenTabletDriver.UX/Dialogs/RepositoryDialog.cs
  OpenTabletDriver.UX/Windows/AreaConverterDialog.cs
Labels: bug, enhancement, gui

#558 Add config for Star 06
  OpenTabletDriver/Configurations/XP-Pen/Star 06.json
Labels: configuration

#638 Use latest plugin update and check driver compatibility
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: desktop, enhancement, gui

#593 Add Configuration For Wacom Intuos 4 XL ( PTK-1240 )
  OpenTabletDriver/Configurations/Wacom/PTK-1240.json
Labels: configuration, good first issue

#656 Update MTE-450.json
  OpenTabletDriver/Configurations/Wacom/MTE-450.json
Labels: bug, configuration, good first issue

#633 Add separate button for advanced binding
  OpenTabletDriver.UX/Controls/BindingEditor.cs
Labels: enhancement, gui

#661 Fix filters null reference
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug, core

#630 Ensure window visibility and launch Greeter at center position
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
Labels: enhancement, gui

#665 Make CodeFactor happy due to bug
  OpenTabletDriver.UX/MainForm.cs
Labels: bug

#667 Fix window positioning offset from center
  OpenTabletDriver.UX/DesktopDialog.cs
  OpenTabletDriver.UX/DesktopForm.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/TabletDebugger.cs
Labels: bug, gui

#668 Improve visual attention guidance and update guide text
  OpenTabletDriver.UX/Controls/Generic/StylizedText.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/AreaEditorPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/BindingPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/FAQPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/PluginPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/WelcomePage.cs
Labels: enhancement, gui

#670 Fix DefaultPropertyValue not applying and set it in interpolator
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: bug, core

#671 Apply defaults to constructed plugins
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: bug, desktop

#672 v0.5.0 tag finalization
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: breaking, bug, gui, plugins

#679 Set pressure on RelativeOutputMode
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug, core

#687 Fix STAThread exception
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#684 Invoke TabletChanged only when it actually changed
  OpenTabletDriver/Driver.cs
Labels: bug, core

#678 Only show the latest version of the plugins
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug, desktop, gui

#691 Fix font related crashes on MacOS
  OpenTabletDriver.UX/Controls/Generic/Group.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/AreaEditorPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/BindingPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/FAQPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/PluginPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/WelcomePage.cs
Labels: bug, gui, macos

#692 Add a version number and a tablet name to the MainForm Title
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui

#694 Fix typo in IDriver interface
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Plugin/IDriver.cs
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/Driver.cs
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: breaking, core, enhancement, plugins

#695 Warn users about running as admin instead of force closing
  OpenTabletDriver.UX.Wpf/Program.cs
Labels: enhancement, gui

#697 Fix fetched minimum version check
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug, gui

#641 Added Huion H1161 configuration file
  OpenTabletDriver/Configurations/Huion/H1161.json
Labels: configuration

#688 Fix minimize behaviour with taskbar
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/TrayIcon.cs
Labels: bug, gui

#683 Fix race conditions of interpolators
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Interop/Timer/FallbackTimer.cs
  OpenTabletDriver.Desktop/Interop/Timer/LinuxTimer.cs
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
  OpenTabletDriver.Native/Windows/Timers/EventType.cs
  OpenTabletDriver.Plugin/Tablet/Interpolator/Interpolator.cs
Labels: bug, core, enhancement

#686 Remove the unnecessary refresh on launch
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui

#702 Fix manually installed plugin metadata
  OpenTabletDriver.Desktop/Reflection/DesktopPluginContext.cs
  OpenTabletDriver.UX/Windows/PluginManagerWindow.cs
Labels: bug, desktop, enhancement, gui

#706 Add Huion G10T configuration
  OpenTabletDriver/Configurations/Huion/G10T.json
Labels: configuration

#705 Add Deco Mini7 Configuration
  OpenTabletDriver/Configurations/XP-Pen/Deco mini7.json
Labels: configuration

#711 Hide window from task switchers when minimized
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#718 Updated Huion H640P Configuration
  OpenTabletDriver/Configurations/Huion/H640P.json
Labels: configuration

#722 Simplify DaemonWatchdog's DaemonExited
  OpenTabletDriver.UX/DaemonWatchdog.cs
Labels: desktop, enhancement

#723 Fix STAThread exception on SetTabletSize
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui, windows

#725 Add Artist Pro 12 configuration
  OpenTabletDriver/Configurations/XP-Pen/Artist Pro 12.json
Labels: configuration

#736 Fix tablet debugging not being hooked on change
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, daemon, desktop

#735 Added M106K Pro Configuration
  OpenTabletDriver/Configurations/Gaomon/M106K Pro.json
Labels: configuration

#730 Updated Deco 7 mini configuration
  OpenTabletDriver/Configurations/XP-Pen/Deco mini7.json
Labels: configuration

#724 Workaround output mode selector's layout bug
  OpenTabletDriver.UX/Controls/OutputModeEditor.cs
Labels: bug, desktop, gui
