Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-11, with the labels that each got.

#1589 Add try/catch to prevent crashing when OTD can't save settings/tablet configs
  OpenTabletDriver.Desktop/Settings.cs
  OpenTabletDriver.UX/Windows/Configurations/ConfigurationEditor.cs
Labels: bug, gui, desktop

#1556 Linux build script
  README.md
  build.sh
Labels: linux/gtk

#1591 Replace manual ReportParserProvider with fast reflection
  OpenTabletDriver.Benchmarks/Parser/ReportParserProviderConstructBenchmark.cs
  OpenTabletDriver.Tests/ReportParserProviderTest.cs
  OpenTabletDriver/ComponentProviders/ReportParserProvider.cs
Labels: enhancement, core

#1601 Add unsupported features on Administator warning on startup
  OpenTabletDriver.UX.Wpf/Program.cs
Labels: enhancement, gui

#1590 Add contribution guidelines
  CONTRIBUTING.md
Labels: documentation, priority:high

#1594 Hide unsupported remote plugins from Plugin Manager
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.Tests/PluginMetadataTest.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: enhancement, gui

#1596 Mainform code cleanup
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, macos, gui

#1588 Fix CT430 formatting error on the feature init line
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT430.json
Labels: bug, configuration

#1576 Add support for Huion WH1409
  OpenTabletDriver.Configurations/Configurations/Huion/WH1409.json
  TABLETS.md
Labels: configuration

#1569 Add support for Genius G-Pen 560
  OpenTabletDriver.Configurations/Configurations/Genius/G-Pen 560.json
  OpenTabletDriver/Vendors/Genius/GeniusButtonStripAuxReport.cs
  OpenTabletDriver/Vendors/Genius/GeniusReportParserV2.cs
  OpenTabletDriver/Vendors/Genius/GeniusTabletReport.cs
  TABLETS.md
Labels: configuration

#1474 Add support for XP-Pen Deco Fun L (CT1060)
  OpenTabletDriver/Configurations/XP-Pen/CT1060.json
  TABLETS.md
Labels: configuration

#1458 Added Gaomon S630 Configuration
  OpenTabletDriver/Configurations/Gaomon/S630.json
  TABLETS.md
Labels: configuration

#1495 Add support for Acepen AP 1060 and Acepen parsing
  OpenTabletDriver.Configurations/Configurations/Acepen/AP 1060.json
  OpenTabletDriver/Vendors/Acepen/AcepenAuxReport.cs
  OpenTabletDriver/Vendors/Acepen/AcepenReportParser.cs
  OpenTabletDriver/Vendors/Acepen/AcepenTabletReport.cs
  TABLETS.md
Labels: configuration, breaking, core

#1592 Explicitly use librt.so.1
  OpenTabletDriver.Native/Linux/Timers/Timers.cs
Labels: linux/gtk, core

#1450 Add support for WoodPad PF0730
  OpenTabletDriver/Configurations/ViewSonic/WoodPad PF0730.json
  OpenTabletDriver/Vendors/ViewSonic/WoodPadParser.cs
  OpenTabletDriver/Vendors/ViewSonic/WoodPadReport.cs
  TABLETS.md
Labels: configuration

#1459 Added 100 PID Identifier to H420X Configurations
  OpenTabletDriver.Configurations/Configurations/Huion/H420X.json
Labels: configuration

#1425 Update XP-Pen G430 Configuration
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G430.json
  TABLETS.md
Labels: configuration

#1420 Add XP-Pen Innovator 16 support
  OpenTabletDriver/Configurations/XP-Pen/Innovator 16.json
  OpenTabletDriver/Vendors/XP_Pen/XP_PenReportParser.cs
  OpenTabletDriver/Vendors/XP_Pen/XP_PenTabletOverflowReport.cs
  TABLETS.md
Labels: configuration

#1419 Add Huion 420 Configuration
  OpenTabletDriver.Configurations/Configurations/Gaomon/420.json
  TABLETS.md
Labels: configuration

#1416 Added XP-Pen Artist 12
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 12.json
  TABLETS.md
Labels: configuration

#1380 Update configuration of existing Parblo tablets
  OpenTabletDriver.Configurations/Configurations/Parblo/Intangbo S.json
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos M.json
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos S.json
Labels: bug, linux/gtk, configuration

#1373 Added XP-Pen Deco mini 4 config
  OpenTabletDriver/Configurations/XP-Pen/Deco mini 4.json
  TABLETS.md
Labels: incomplete, configuration

#1364 HS64 V2-re
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#1340 Add Kamvas 22 plus Configuration
  OpenTabletDriver/Configurations/Huion/Kamvas 22 Plus.json
  TABLETS.md
Labels: incomplete, configuration

#1311 Added kamvas 16 Pro Configuration
  OpenTabletDriver/Configurations/Huion/Kamvas Pro 16.json
  TABLETS.md
Labels: configuration

#1595 Add FR README
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_KO.md
  README_RU.md
Labels: documentation

#1616 Resize Tablet Debugger and Plugin Manager
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: gui

#1602 Don't crash driver when failing to handle WinUSB devices
  OpenTabletDriver/Devices/WinUSB/WinUSBRootHub.cs
Labels: bug, core

#1615 Make Area Clipping menu entry consistent with ignore entry
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: enhancement, gui, localization

#1076 Use FallbackTimer on unsupported intervals
  OpenTabletDriver.Desktop/Interop/Timer/FallbackTimer.cs
  OpenTabletDriver.Desktop/Interop/Timer/LinuxTimer.cs
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
  OpenTabletDriver.Tests/TimerTests.cs
Labels: enhancement, desktop

#1608 Update contributing information in README
  README.md
Labels: documentation, enhancement

#1564 Switch to console tab on daemon error
  OpenTabletDriver.UX/Controls/ControlPanel.cs
Labels: enhancement, gui

#1618 Fix incorrect log
  OpenTabletDriver.Desktop/DesktopDeviceConfigurationProvider.cs
Labels: desktop

#1623 Redirect FAQ for OpenTabletDriver from Github to the website.
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/FAQPage.cs
  OpenTabletDriver/Driver.cs
Labels: bug, documentation, core

#1620 Add Identifier to Wacom CTH-461
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-461.json
Labels: configuration

#1619 Fix logging UI deadlock
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Tools/LogDataStore.cs
Labels: bug, gui

#1625 Show no tablet detected placeholder as tab in TabControl
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Controls/TabletSwitcherPanel.cs
Labels: enhancement, gui

#1628 Update TimerTests.cs
  OpenTabletDriver.Tests/TimerTests.cs
Labels: tests

#1614 Configuration for XP-Pen Artist 22HD
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 22HD.json
  TABLETS.md
Labels: configuration

#1441 Add support for .NET 6.0
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  Directory.Build.props
  OpenTabletDriver.Benchmarks/OpenTabletDriver.Benchmarks.csproj
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Console/OpenTabletDriver.Console.csproj
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Desktop/OpenTabletDriver.Desktop.csproj
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadata.cs
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
  OpenTabletDriver.Native/OpenTabletDriver.Native.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.Tools.udev/OpenTabletDriver.Tools.udev.csproj
  OpenTabletDriver.UX.Gtk/OpenTabletDriver.UX.Gtk.csproj
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
  OpenTabletDriver.UX.Wpf/OpenTabletDriver.UX.Wpf.csproj
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
  build.sh
  generate-rules.sh
Labels: core, desktop

#1534 Make debugger window scrollable
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, gui

#1634 Add ability for log messages to create desktop notifications
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.UX/Controls/LogView.cs
Labels: enhancement, gui, plugins, desktop

#1647 Add information on filters and tools in the startup guide.
  OpenTabletDriver.UX/Windows/Greeter/Pages/PluginPage.cs
Labels: documentation, enhancement

#1662 Update README.md with instructions to build with dotnet 6
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_KO.md
  README_RU.md
Labels: documentation, enhancement

#1675 Improve unloadable plugin exception logging
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver.Plugin/Log.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, plugins
