Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2021-07, with the labels that each got.

#1233 PenPassthroughBinding: Enable pen barrel button functionality
  OpenTabletDriver.Desktop/Binding/PenPassthroughBinding.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IVirtualTablet.cs
Labels: bug, desktop, linux/gtk

#1234 Update TABLETS.md to support Wacom GD-0608-U
  OpenTabletDriver/Configurations/Wacom/GD-0608-U.json
  TABLETS.md
Labels: configuration, documentation, enhancement

#1254 Fix CTH-661 Config
  OpenTabletDriver/Configurations/Wacom/CTH-661.json
Labels: bug, configuration

#1253 Fix IntuosV1 parser not ignoring Intuos 1 tool reports
  OpenTabletDriver/Vendors/Wacom/IntuosV1/IntuosV1ReportParser.cs
Labels: breaking, bug, core, priority:high

#1258 Add tablet data recording
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: enhancement, gui

#1271 Update G540 support status
  TABLETS.md
Labels: documentation

#1053 Fix lock aspect ratio behaviour when display area changes size
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: bug, gui

#1054 Fix linking issues
  OpenTabletDriver.Plugin/Output/OutputMode.cs
  OpenTabletDriver.Plugin/Output/PipelineManager.cs
Labels: core, enhancement

#1052 Implement CompositionScheduler
  OpenTabletDriver.UX/Controls/Generic/ScheduledDrawable.cs
  OpenTabletDriver.UX/Controls/Generic/TimedDrawable.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Tools/CompositionScheduler.cs
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: enhancement, gui, incomplete

#1261 Only show settings based on tablet specifications
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Desktop/Profiles/Profile.cs
  OpenTabletDriver.UX/Controls/Bindings/BindingEditor.cs
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Extensions.cs
Labels: daemon, desktop, enhancement, gui

#1250 BindingHandler: Mangle pressure reports to account for thresholds
  OpenTabletDriver.Desktop/Binding/ThresholdBindingState.cs
Labels: desktop, enhancement

#1232 Linux Artist Mode: Refactor Eraser detection logic and expose Proximity to libinput
  OpenTabletDriver.Desktop/Binding/PenPassthroughBinding.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Output/LinuxArtistMode.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IVirtualTablet.cs
Labels: bug, desktop, linux/gtk

#1231 Expose tilt to libinput (Linux evdev)
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: bug, desktop, linux/gtk

#1255 Implement IToolReport
  OpenTabletDriver.Plugin/Tablet/IToolReport.cs
  OpenTabletDriver.Plugin/Tablet/ToolType.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV1/IntuosV1ReportParser.cs
  OpenTabletDriver/Vendors/Wacom/IntuosV1/IntuosV1ToolReport.cs
Labels: core, enhancement, plugins

#1276 Revert Veikk configs to SkipByteTabletReportParser
  OpenTabletDriver/Configurations/VEIKK/A15 Pro.json
  OpenTabletDriver/Configurations/VEIKK/A15.json
  OpenTabletDriver/Configurations/VEIKK/A30.json
  OpenTabletDriver/Configurations/VEIKK/A50.json
  OpenTabletDriver/Configurations/VEIKK/S640.json
Labels: bug, configuration, core

#1272 Add support for the XP-Pen CT460
  OpenTabletDriver/Configurations/Wacom/CTH-661.json
  OpenTabletDriver/Configurations/XP-Pen/CT460.json
  TABLETS.md
Labels: configuration, needs verification

#1289 Fix crash on opening advanced binding editor
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: bug

#905 Implement tablet driver detection
  OpenTabletDriver.Benchmarks/Misc/DriverInfoBenchmark.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/Instance.cs
  OpenTabletDriver/SystemDrivers/DriverInfo.cs
  OpenTabletDriver/SystemDrivers/IDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/GaomonDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/HuionDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/OpenTabletDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/ProcessModuleQueryableDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/TabletDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/VeikkDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/WacomDriverInfoProvider.cs
  OpenTabletDriver/SystemDrivers/Providers/XPPenDriverInfoProvider.cs
Labels: core, desktop, enhancement
