Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-05, with the labels that each got.

#2220 WindowsDisplay: Keep operating system display ordering
  OpenTabletDriver.Desktop/Interop/Display/WindowsDisplay.cs
Labels: bug, windows/wpf, gui, desktop

#2226 Update version to v0.6.0.4
  Directory.Build.props
Labels: meta

#2237 Add F13-F24
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/EvdevVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
Labels: enhancement, desktop

#2243 Remove Octokit dependency on updater interfaces
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Updater/GithubUpdater.cs
  OpenTabletDriver.Desktop/Updater/IUpdater.cs
  OpenTabletDriver.Desktop/Updater/MacOSUpdater.cs
  OpenTabletDriver.Desktop/Updater/UpdateInfo.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Desktop/Updater/WindowsUpdater.cs
  OpenTabletDriver.Tests/UpdaterTests.cs
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: enhancement, desktop, tests, ci

#2250 Fix crash when multiple buttons are clicked on macOS
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
Labels: bug, macos, desktop

#2216 Add Veikk A30 V2
  OpenTabletDriver.Configurations/Configurations/VEIKK/A30 V2.json
  TABLETS.md
Labels: configuration

#2227 Add support for Veikk VK430
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK430.json
  TABLETS.md
Labels: configuration

#2238 Add support for Genius i405x
  OpenTabletDriver.Configurations/Configurations/Genius/i405x.json
  TABLETS.md
Labels: configuration

#2239 Add identifier to Gaomon 1060 Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/1060 Pro.json
Labels: configuration

#2241 Add support for DTK-1300 aka Cintiq 13HD
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-1300.json
  TABLETS.md
Labels: configuration

#2246 Change parser for Wacom FT-0405-U
  OpenTabletDriver.Configurations/Configurations/Wacom/FT-0405-U.json
Labels: configuration

#2247 Add CTH-661-SE config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-661.json
Labels: configuration

#2252 Add support for Huion Kamvas 12
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 12.json
  TABLETS.md
Labels: configuration

#2271 Add identifier for CTH-661
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-661.json
Labels: configuration

#2264 Add another identifier to Huion HXXXP
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
  OpenTabletDriver.Configurations/Configurations/Huion/H640P.json
Labels: configuration

#2263 Add H610 Pro V3 configuration
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V3.json
  TABLETS.md
Labels: configuration

#2224 Fix supported status of Wacom GD-0912
  TABLETS.md
Labels: configuration
