Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-03, with the labels that each got.

#2105 Add tilt support For Huion Kamvas 13
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13.json
  TABLETS.md
Labels: configuration, needs verification

#2019 Overhaul/rewrite CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, meta

#1909 Add build script for Windows
  README.md
  build.ps1
Labels: enhancement, windows/wpf, meta

#2117 Add identifier to XP-PEN Deco mini7
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini7.json
  TABLETS.md
Labels: configuration

#2120 Add support for Huion Kamvas Pro 13 (2.5k)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13 (2.5k).json
  TABLETS.md
Labels: configuration

#2128 Change parser on Wacom CTE-x30
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-430.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-630.json
Labels: configuration

#1777 Added German readme.
  README.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_KO.md
  README_RU.md
Labels: documentation, localization
