Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-04, with the labels that each got.

#2148 Update tablet support status of multiple tablets
  TABLETS.md
Labels: configuration

#2122 fix CTL-6100 config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-6100.json
Labels: configuration

#2133 add support for huion 1060 plus
  OpenTabletDriver.Configurations/Configurations/Huion/New 1060 Plus (2048).json
Labels: enhancement, configuration

#2143 Add support for XENX tablets
  OpenTabletDriver.Configurations/Configurations/XENX/P1-640.json
  OpenTabletDriver.Configurations/Configurations/XENX/P3-1060.json
  OpenTabletDriver.Configurations/Configurations/XENX/X1-640.json
  OpenTabletDriver.Configurations/Parsers/XENX/XENXAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/XENX/XENXReportParser.cs
  OpenTabletDriver.Configurations/Parsers/XENX/XENXTabletReport.cs
  TABLETS.md
Labels: enhancement, configuration

#2161 Add support for Huion HS95
  OpenTabletDriver.Configurations/Configurations/Huion/HS95.json
  TABLETS.md
Labels: configuration

#2164 Change parser for CTE-x40
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-640.json
Labels: configuration

#2157 Daemon: Log 'enabled' only when there are tablets
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, core

#1943 InputDevice: Add support for feature initialization delay
  OpenTabletDriver/InputDevice.cs
Labels: enhancement, configuration, priority:medium

#2056 Add support for XP-Pen Artist 12 (2nd Gen)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 12 (2nd Gen).json
  TABLETS.md
Labels: enhancement, configuration

#2171 Add support for Artisul AP604
  OpenTabletDriver.Configurations/Configurations/Artisul/AP604.json
  TABLETS.md
Labels: configuration

#2183 Restore PTZ tablets BAA= Init
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-1230.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-1231W.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-430.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-431W.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-630.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-631W.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTZ-930.json
Labels: configuration

#2158 Use full project argument in `dotnet run`
  generate-rules.sh
Labels: enhancement

#1892 Add support for XP-Pen Artist 15.6
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 15.6.json
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenDedicatedAuxReportParser.cs
  TABLETS.md
Labels: enhancement, configuration

#2187 Add xp pen g430 initstring
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G430.json
Labels: configuration

#2190 Restore linux native timers
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
Labels: enhancement, linux/gtk, desktop

#2193 Add identifier for XP-Pen Artist 15.6
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 15.6.json
Labels: configuration

#2197 Add feature init delay to XD-xxxx-U
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0405-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0608-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0912-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1212-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1218-U.json
Labels: configuration

#2199 Parse intuos hover correctly
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos/IntuosTabletReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3MouseReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1TabletReport.cs
Labels: configuration

#2202 Add support for XP-Pen Artist 13.3 Pro
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3 Pro.json
  TABLETS.md
Labels: configuration

#2203 Add support for Gaomon M6
  OpenTabletDriver.Configurations/Configurations/Gaomon/M6.json
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicAuxReport.cs
  TABLETS.md
Labels: configuration

#1891 AreaDisplay: Make selected area partially transparent
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: enhancement, gui

#2212 Add identifier to Veikk A15 Pro
  OpenTabletDriver.Configurations/Configurations/VEIKK/A15 Pro.json
Labels: configuration

#2207 Remove aux endpoint from CTH-661
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-661.json
Labels: configuration

#2138 Console: Fix ListFilters command
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
Labels: bug, priority:low, console

#1820 Notify user on tablet detect when vanguard is running
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: enhancement, daemon

#2020 Update README_ES.md
  README_ES.md
Labels: documentation, localization, meta

#2015 Move non-english readmes into docs folder
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_KO.md
  docs/README_RU.md
Labels: enhancement, meta

#2213 Add RPC connection timeout
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, gui, desktop

#2217 Add support for Xencelabs Pen Tablet Small
  OpenTabletDriver.Configurations/Configurations/XenceLabs/Pen Tablet Small.json
  TABLETS.md
Labels: configuration
