Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-01, with the labels that each got.

#1853 Kamvas Pro 20: Fix MaxY
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 20.json
Labels: bug, configuration

#1752 AppInfo: General cleanup, added XDG_DATA_HOME for Configuration directory (Linux)
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/FileUtilities.cs
Labels: enhancement, desktop

#1809 Refresh PluginSettingStoreCollectionEditor's Content when assemblies change
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: bug, gui, priority:medium

#1846 Fix middle button binding on macos
  OpenTabletDriver.Native/OSX/Generic/CGEventType.cs
Labels: bug, macos, needs verification

#1817 Fix `Updater` crashing daemon due to revision id
  OpenTabletDriver.Desktop/Updater/Updater.cs
Labels: bug, priority:high, desktop

#1814 Add `dotnet format` linting to & clean up .NET workflow
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
Labels: enhancement, priority:medium, ci

#1844 Add support for Huion GT-220 V2.
  OpenTabletDriver.Configurations/Configurations/Huion/GT-220 V2.json
  TABLETS.md
Labels: enhancement, configuration

#1859 Fix PTZ-x30/31W hover distance
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
Labels: bug, enhancement, configuration

#1819 Added 10moon 1060 Configurations
  OpenTabletDriver.Configurations/Configurations/10moon/1060N.json
  OpenTabletDriver.Configurations/Parsers/10moon/10moonAuxParser.cs
  OpenTabletDriver.Configurations/Parsers/10moon/10moonReportParser.cs
  OpenTabletDriver.Configurations/Parsers/10moon/10moonTabletReport.cs
  TABLETS.md
Labels: enhancement, configuration

#1867 Release Workflow: Add version suffix input to workflow_dispatch
  .github/workflows/release.yml
Labels: enhancement, ci

#1847 Adjust some wording within the UX.
  OpenTabletDriver.UX.Wpf/Program.cs
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/BindingPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/FAQPage.cs
  OpenTabletDriver.UX/Windows/Greeter/Pages/PluginPage.cs
  OpenTabletDriver.UX/Windows/Greeter/StartupGreeterWindow.cs
  docs/manpages/opentabletdriver.8
Labels: enhancement, localization

#1868 PluginMetadataList: Use IList<T> for DataStore
  OpenTabletDriver.UX/Windows/Plugins/PluginMetadataList.cs
Labels: bug, gui

#1871 DesktopForm: Always show form when Show() is called
  OpenTabletDriver.UX/DesktopForm.cs
Labels: bug, gui

#1872 Apply TabletReference before calling OnDependencyLoad methods
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: bug, plugins

#1861 Add support for the Huion GT-221 Pro.
  OpenTabletDriver.Configurations/Configurations/Huion/GT-221 Pro.json
  TABLETS.md
Labels: configuration

#1878 PluginSettingStore: Null check when triggering event methods
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: bug, desktop

#1885 Check if settings are changing before running area hooks
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
Labels: bug, gui

#1899 PluginMetadataCollection: Delete directory before extracting
  OpenTabletDriver.Desktop/Reflection/Metadata/PluginMetadataCollection.cs
Labels: bug, gui, priority:high

#1912 Fix OnDependencyLoadAttribute
  OpenTabletDriver.Desktop/Reflection/PluginSettingStore.cs
Labels: bug, priority:high, desktop

#1918 Updater: Catch any exceptions when checking for updates
  OpenTabletDriver.Desktop/Updater/Updater.cs
Labels: bug, desktop

#1907 Disable running TimerTests in parallel with other unit tests
  OpenTabletDriver.Tests/TimerTests.cs
Labels: enhancement, tests

#1904 Fix Star 03 Conflicts & Add an actual M708 Identifier
  OpenTabletDriver.Configurations/Configurations/UGTABLET/M708.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 03.json
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenOffsetAuxReportParser.cs
  TABLETS.md
Labels: enhancement, configuration

#1906 Add device identifier conflict detection test
  OpenTabletDriver.Plugin/Tablet/DeviceIdentifier.cs
  OpenTabletDriver.Plugin/Tablet/TabletConfiguration.cs
  OpenTabletDriver.Tests/ConfigurationTest.cs
Labels: enhancement, tests

#1919 Fix CTH-661 PIDs
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-661.json
Labels: bug, configuration

#1921 Use page list for visibility switching on macOS only
  OpenTabletDriver.UX/Controls/ControlPanel.cs
Labels: bug, windows/wpf, macos, gui

#1877 Add support for XP-Pen Star 05 V3
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 05 V3.json
  TABLETS.md
Labels: enhancement, question, configuration

#1931 Fix race condition when changing control page visibility
  OpenTabletDriver.UX/Controls/ControlPanel.cs
Labels: bug, macos, gui

#1933 Exclude userdata from "binary" move file op
  OpenTabletDriver.Desktop/Updater/Updater.cs
Labels: bug, desktop

#1916 Disable sleep detection on debug builds
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug

#1946 Fix for Cursor stops moving when you press any of the pen buttons PTZ-1231W
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
Labels: configuration

#1939 Update source selector DataStore on profile change
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: bug, gui

#1940 Replace notifications with MessageBox
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#1935 Huion 420: Fix exact match device strings
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: configuration

#1949 Add backup directory for settings and migration
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Migration/SettingsMigrator.cs
  OpenTabletDriver.Desktop/Updater/MacOSUpdater.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Desktop/Updater/WindowsUpdater.cs
  OpenTabletDriver.Tests/UpdaterTests.cs
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: bug, enhancement, desktop

#1886 Added support for A50 v2
  OpenTabletDriver.Configurations/Configurations/VEIKK/A50 V2.json
  TABLETS.md
Labels: enhancement, configuration

#1954 Add support for Wacom DTC-133
  OpenTabletDriver.Configurations/Configurations/Wacom/DTC-133.json
  TABLETS.md
Labels: configuration

#1962 Fix typo in Gaomon M1220
  TABLETS.md
Labels: configuration

#1956 Updater: Add file IncludeList
  OpenTabletDriver.Desktop/Updater/MacOSUpdater.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Desktop/Updater/WindowsUpdater.cs
Labels: bug, enhancement, windows/wpf, desktop

#1960 Add identifier for Huion H430p
  OpenTabletDriver.Configurations/Configurations/Huion/H430P.json
Labels: configuration

#1961 Add support for Gaomon M1230
  OpenTabletDriver.Configurations/Configurations/Gaomon/M1230.json
  TABLETS.md
Labels: configuration

#1936 Add support for XP-Pen Deco 01 V2 (variant 2)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 01 V2 (variant 2).json
  TABLETS.md
Labels: bug, configuration

#1971 App: Stop recursion of thrown messagebox exceptions
  OpenTabletDriver.UX/App.cs
Labels: bug, gui

#1993 Add links to packaging and web repos to main README
  README.md
Labels: enhancement, meta

#1991 Disable drag n drop for .dll files
  OpenTabletDriver.UX/Windows/Plugins/PluginDropPanel.cs
Labels: enhancement, gui

#1992 Disable automatic plugin installation
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: bug, daemon

#2012 Add Solution Filters
  OpenTabletDriver.Linux.slnf
  OpenTabletDriver.MacOS.slnf
  OpenTabletDriver.Windows.slnf
Labels: enhancement, meta
