Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-11, with the labels that each got.

#2294 Change parser for Various VEIKK tablets
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK430.json
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK640.json
  TABLETS.md
Labels: configuration

#2430 Add support for XP-PEN Artist Pro 16TP
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist Pro 16TP.json
  TABLETS.md
Labels: configuration

#2436 Add support for XP-PEN Artist 10 (2nd Gen)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 10 (2nd Gen).json
  TABLETS.md
Labels: configuration

#2450 Add support for Monoprice MP1060-HA60
  OpenTabletDriver.Configurations/Configurations/Monoprice/MP1060-HA60.json
  TABLETS.md
Labels: configuration

#2184 Suggest including diagnostics for new config contributions
  CONTRIBUTING.md
Labels: enhancement, meta

#2476 Resolve race condition bugs of Driver.InputDevices
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/Driver.cs
Labels: bug, priority:high, core

#2475 Fix incorrectly parsed ack report in Veikk S640
  OpenTabletDriver.Configurations/Configurations/VEIKK/S640.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkV2ReportParser.cs
Labels: configuration

#2507 EvdevVirtualTablet: Code cleanup
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: enhancement, linux/gtk, desktop

#2503 Linux Artist Mode: Ignore proximity
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver/Output/AbsoluteOutputMode.cs
  OpenTabletDriver/Output/RelativeOutputMode.cs
  OpenTabletDriver/Platform/Pointer/IProximityHandler.cs
Labels: enhancement, linux/gtk, desktop
