Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-12, with the labels that each got.

#2522 Windows: Fix minus virtual key
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsKeysProvider.cs
Labels: bug, windows/wpf

#1083 Add OpenTabletDriver.Analyzers project
  OpenTabletDriver.Analyzers.Tests/OpenTabletDriver.Analyzers.Tests.csproj
  OpenTabletDriver.Analyzers.Tests/TabletConfigurationGeneratorTests.cs
  OpenTabletDriver.Analyzers.Tests/TestResourceHelper.cs
  OpenTabletDriver.Analyzers.Tests/TestResources/MultiEndpointTablet/AnalyzerConfigOptions/CTH-480.json.editorconfig
  OpenTabletDriver.Analyzers.Tests/TestResources/MultiEndpointTablet/Configurations/CTH-480.json
  OpenTabletDriver.Analyzers.Tests/TestResources/MultiEndpointTablet/Generated/DeviceConfigurationProvider.g.cs
  OpenTabletDriver.Analyzers.Tests/TestResources/SingleEndpointTablet/AnalyzerConfigOptions/Star G640S.json.editorconfig
  OpenTabletDriver.Analyzers.Tests/TestResources/SingleEndpointTablet/Configurations/Star G640S.json
  OpenTabletDriver.Analyzers.Tests/TestResources/SingleEndpointTablet/Generated/DeviceConfigurationProvider.g.cs
  OpenTabletDriver.Analyzers.Tests/Verifiers/CustomAdditionalText.cs
  OpenTabletDriver.Analyzers.Tests/Verifiers/FileBasedAnalyzerConfigOptionsProvider.cs
  OpenTabletDriver.Analyzers.Tests/Verifiers/IncrementalGeneratorVerifier.cs
  OpenTabletDriver.Analyzers.Tests/Verifiers/TabletConfigurationVerifier.cs
  OpenTabletDriver.Analyzers/Emitters/ButtonSpecificationsEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/DeviceConfigurationProviderEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/DeviceIdentifierEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/DigitizerSpecificationsEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/EmitterHelper.cs
  OpenTabletDriver.Analyzers/Emitters/PenSpecificationsEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/TabletConfigurationEmitter.cs
  OpenTabletDriver.Analyzers/Emitters/TabletSpecificationsEmitter.cs
  OpenTabletDriver.Analyzers/Formatters/WhitespaceHumanizer.cs
  OpenTabletDriver.Analyzers/OpenTabletDriver.Analyzers.csproj
  OpenTabletDriver.Analyzers/ProviderTarget.cs
  OpenTabletDriver.Analyzers/TabletConfigurationGenerator.cs
  OpenTabletDriver.Analyzers/TabletConfigurationGenerator.props
  OpenTabletDriver.Benchmarks/OpenTabletDriver.Benchmarks.csproj
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 16 (2.5k).json
  OpenTabletDriver.Configurations/DeviceConfigurationProvider.cs
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Linux.slnf
  OpenTabletDriver.MacOS.slnf
  OpenTabletDriver.Windows.slnf
  OpenTabletDriver.sln
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement, priority:high, core

#2534 Set process priority to high by default
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Native.Windows/Windows.cs
Labels: enhancement, desktop

#2272 Add native notifications when the fallback timer is used on Windows.
  OpenTabletDriver.Desktop/Interop/Timer/WindowsTimer.cs
Labels: enhancement, windows/wpf

#2480 Panic if display env vars are missing
  OpenTabletDriver.Desktop/Interop/DesktopLinuxServiceCollection.cs
Labels: enhancement, linux/gtk, desktop

#2489 Add F13-F24 (again)
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/LinuxKeysProvider.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsKeysProvider.cs
Labels: enhancement, desktop

#2479 AngledArea: Keep rotation within 0-359 range
  OpenTabletDriver/AngledArea.cs
Labels: enhancement, core

#2295 Fixed german translation of README.md
  docs/README_DE.md
Labels: documentation, enhancement, priority:low, localization

#2342 native timer on macos
  OpenTabletDriver.Desktop/Interop/DesktopMacOSServiceCollection.cs
  OpenTabletDriver.Desktop/Interop/Posix/Utility.cs
  OpenTabletDriver.Desktop/Interop/Timer/MacOSTimer.cs
  OpenTabletDriver.Native.MacOS/Timers/FilterType.cs
  OpenTabletDriver.Native.MacOS/Timers/Flags.cs
  OpenTabletDriver.Native.MacOS/Timers/Structs/KEvent.cs
  OpenTabletDriver.Native.MacOS/Timers/TimerFilterFlags.cs
  OpenTabletDriver.Native.MacOS/Timers/Timers.cs
Labels: enhancement, macos, performance

#2506 Linux Artist Mode: Don't submit BTN_TOUCH based off pressure
  OpenTabletDriver.Desktop/Binding/LinuxArtistMode/LinuxArtistModeButtonBinding.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: enhancement, linux/gtk, desktop

#2482 Add support for XP-Pen Artist 13 (2nd Gen)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13 (2nd Gen).json
  TABLETS.md
Labels: configuration

#2496 Add support for tablet with 20 keys
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicAuxReport.cs
Labels: configuration

#2499 Add S620 variant
  OpenTabletDriver.Configurations/Configurations/Gaomon/S620.json
Labels: configuration

#2286 Add Lifetec LT9570 support
  OpenTabletDriver.Configurations/Configurations/Lifetec/LT9570.json
  OpenTabletDriver.Configurations/Parsers/Lifetec/LifetecReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Lifetec/LifetecTabletReport.cs
  TABLETS.md
Labels: configuration

#2500 Add XP-PEN Artist 13.3
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 13.3.json
  TABLETS.md
Labels: configuration

#2514 Add identifier to Huion GC610
  OpenTabletDriver.Configurations/Configurations/Huion/GC610.json
Labels: configuration

#2515 Add identifier to Huion H320M
  OpenTabletDriver.Configurations/Configurations/Huion/H320M.json
Labels: configuration

#2520 Add new identifier to Gaomon M6
  OpenTabletDriver.Configurations/Configurations/Gaomon/M6.json
Labels: configuration

#2531 Add identifier to Huion H610 Pro V2
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V2.json
Labels: configuration

#2551 add another Wacom CTL-6100WL identifier
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-6100WL.json
Labels: configuration

#2366 Add IProximityReport to BambooTabletReport
  OpenTabletDriver.Configurations/Parsers/Wacom/Bamboo/BambooTabletReport.cs
Labels: enhancement, configuration

#2236 Improve sleep detection routine
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Components/SleepDetectionThread.cs
  OpenTabletDriver.Desktop/Components/SleepDetector.cs
  OpenTabletDriver.Desktop/DesktopServiceCollection.cs
Labels: enhancement, core

#2565 Update CONTRIBUTING.md to reflect deletion of configs branch
  CONTRIBUTING.md
Labels: enhancement, meta

#2494 Added docs in brazilian portuguese.
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_KO.md
  docs/README_PTBR.md
  docs/README_RU.md
Labels: enhancement, localization, meta

#2563 Rework updater code
  OpenTabletDriver.Console/ProgramCommands.cs
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Contracts/IDriverDaemon.cs
  OpenTabletDriver.Desktop/Updater/GitHubUpdater.cs
  OpenTabletDriver.Desktop/Updater/IUpdate.cs
  OpenTabletDriver.Desktop/Updater/IUpdater.cs
  OpenTabletDriver.Desktop/Updater/MacOSUpdater.cs
  OpenTabletDriver.Desktop/Updater/SerializedUpdateInfo.cs
  OpenTabletDriver.Desktop/Updater/UpdateInfo.cs
  OpenTabletDriver.Desktop/Updater/Updater.cs
  OpenTabletDriver.Desktop/Updater/WindowsUpdater.cs
  OpenTabletDriver.Tests/Fakes/FakeDirectory.cs
  OpenTabletDriver.Tests/Fakes/FakeFile.cs
  OpenTabletDriver.Tests/Fakes/FakeFileSystemEntry.cs
  OpenTabletDriver.Tests/Updater/FakeUpdater.cs
  OpenTabletDriver.Tests/Updater/UpdaterEnvironment.cs
  OpenTabletDriver.Tests/Updater/UpdaterTests.cs
  OpenTabletDriver.Tests/UpdaterTests.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/UpdateForm.cs
Labels: enhancement, desktop

#2567 Fix about dialog failing to reopen
  OpenTabletDriver.UX/UXServiceCollection.cs
Labels: bug, gui

#2535 Swap ProductID and VendorID
  OpenTabletDriver.Desktop/Json/Converters/Implementations/SerializableDeviceEndpoint.cs
Labels: enhancement, desktop
