Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-02, with the labels that each got.

#2036 Update revision number (v0.6.0.3)
  Directory.Build.props
Labels: meta

#2017 CI: Specify dotnet format project
  .github/workflows/dotnet.yml
Labels: bug, ci

#2049 CI: Move format project argument before file list
  .github/workflows/dotnet.yml
Labels: bug, ci

#2023 Clarify where to drop plugins
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
Labels: enhancement, gui

#2041 DriverDaemon: Call SetSettings on wake from sleep
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: bug, daemon

#1977 Add support for Gaomon PD1561.
  OpenTabletDriver.Configurations/Configurations/Gaomon/PD1561.json
  TABLETS.md
Labels: configuration

#2008 Add RobotPen T9A Support
  OpenTabletDriver.Configurations/Configurations/RobotPen/T9A.json
  OpenTabletDriver.Configurations/Parsers/RobotPen/RobotPenReportParser.cs
  OpenTabletDriver.Configurations/Parsers/RobotPen/RobotPenTabletReport.cs
  TABLETS.md
Labels: configuration

#2021 Add support for Artisul A1201.
  OpenTabletDriver.Configurations/Configurations/Artisul/A1201.json
  TABLETS.md
Labels: configuration

#2029 Fix CTL-6100WL Config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-6100WL.json
Labels: configuration

#2032 Add identifier to the XP-Pen CT640
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT640.json
Labels: configuration

#2058 Use generic Enum methods
  OpenTabletDriver.Desktop/Binding/MouseBinding.cs
  OpenTabletDriver.Plugin/Logging/LogMessage.cs
  OpenTabletDriver.UX/Controls/LogView.cs
  OpenTabletDriver.UX/Tools/EnumTools.cs
  OpenTabletDriver.UX/Tools/ReportFormatter.cs
Labels: enhancement, gui, desktop

#2069 Add new interface to CTL-4100WL.
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-4100WL.json
Labels: configuration

#2048 Prevent infinite exceptions from UX when daemon disconnected
  OpenTabletDriver.Desktop/RPC/RpcClient.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, daemon

#2092 Add support for Huion Kamvas Pro 24
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 24.json
  TABLETS.md
Labels: configuration

#2057 Add support for Huion H610X
  OpenTabletDriver.Configurations/Configurations/Huion/H610X.json
  TABLETS.md
Labels: enhancement, configuration

#2066 Add identifer to the Huion H1060P
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
Labels: enhancement, configuration

#2084 Split CTL-6100 and CTL-6100WL config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-6100.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-6100WL.json
  TABLETS.md
Labels: configuration

#2085 Add identifier to CT430
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT430.json
Labels: enhancement, configuration

#2063 Add support for Huion H642
  OpenTabletDriver.Configurations/Configurations/Huion/H642.json
  TABLETS.md
Labels: configuration

#2079 Add support for Parblo A609
  OpenTabletDriver.Configurations/Configurations/Parblo/A609.json
  TABLETS.md
Labels: configuration

#2040 Add support for Huion H580X
  OpenTabletDriver.Configurations/Configurations/Huion/H580X.json
  TABLETS.md
Labels: configuration

#1974 Change parser for Wacom CTE-450/650
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-450.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-650.json
Labels: configuration
