Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-06, with the labels that each got.

#2284 Tablets.md correction
  TABLETS.md
Labels: documentation, meta

#2293 Fixed aux buttons for Veikk A30 V2
  OpenTabletDriver.Configurations/Configurations/VEIKK/A30 V2.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkReportParser.cs
Labels: enhancement, configuration

#2279 Switch to GitHub issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/support_request.yml
  .github/ISSUE_TEMPLATE/tablet_configuration.md
  .github/ISSUE_TEMPLATE/tablet_configuration.yml
Labels: enhancement, meta

#2306 Use proper values for forward/backwards mouse click
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/EvdevVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/EvdevRelativePointer.cs
Labels: linux/gtk, priority:medium, desktop

#1757 Add Windows media key support
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
  OpenTabletDriver.Native/Windows/Input/VK.cs
Labels: enhancement, windows/wpf, desktop
