Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-10, with the labels that each got.

#2458 Change IntuosReportParser to BambooReportParser
  OpenTabletDriver.Configurations/Configurations/Wacom/CTF-430.json
Labels: bug, configuration

#2464 Deco 02 Area Size Correction
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 02.json
Labels: enhancement, configuration

#2466 Fix some nullability warnings
  OpenTabletDriver.Benchmarks/Parser/ReportParserBenchmark.cs
  OpenTabletDriver.Benchmarks/Parser/ReportParserProviderConstructBenchmark.cs
  OpenTabletDriver.Benchmarks/Plugin/PluginManagerBenchmark.cs
Labels: enhancement
