Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2022-08, with the labels that each got.

#2335 Adds "needs-triage" label automatically to issues and pull requests
  .github/ISSUE_TEMPLATE/config.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, meta

#2327 EvdevVirtualTablet: Support forward/backwards mouse buttons
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: enhancement, linux/gtk, desktop

#2401 Fix TabControl page refocusing
  OpenTabletDriver.UX/Controls/ProfilePanel.cs
Labels: bug, gui

#2399 Reimplement use alternate source in plugin manager
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/Dialogs/OfflineAboutDialog.cs
  OpenTabletDriver.UX/Dialogs/PluginRepositoryDialog.cs
  OpenTabletDriver.UX/Metadata.cs
  OpenTabletDriver.UX/ViewModels/RepositoryModel.cs
  OpenTabletDriver.UX/Windows/PluginManager.cs
Labels: bug, gui

#2411 Fixed Windows key mappings - 2
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsKeysProvider.cs
Labels: bug, windows/wpf, desktop
