Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-09, with the labels that each got.

#2908 Port Huion HS611 identifier to master
  OpenTabletDriver.Configurations/Configurations/Huion/HS611.json
Labels: configuration

#2906 Fix Release CI and Linux package issues
  .editorconfig
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  OpenTabletDriver.Tools.udev/Comparers/IdentifierComparer.cs
  OpenTabletDriver.Tools.udev/Program.cs
  OpenTabletDriver.Tools.udev/RuleGenerator.cs
  OpenTabletDriver.Tools.udev/UdevDeviceData.cs
  OpenTabletDriver.Tools.udev/UdevDeviceFlags.cs
  OpenTabletDriver.Tools.udev/UdevDeviceIdentifier.cs
  README.md
  eng/lib.sh
  eng/linux/Debian/debian/opentabletdriver.install
  eng/linux/Debian/debian/rules
  eng/linux/Generic/package.sh
  eng/linux/Generic/postinst
  eng/linux/Generic/usr/lib/modules-load.d/opentabletdriver.conf
  eng/linux/RedHat/package.sh
  eng/linux/lib.sh
  generate-rules.sh
Labels: ci

#2940 Fix misuse of INPUT_PROP_DIRECT for Linux Artist Mode
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Native.Linux/Evdev/Evdev.cs
  OpenTabletDriver.Native.Linux/Evdev/EvdevDevice.cs
  OpenTabletDriver.Native.Linux/Evdev/EventType.cs
Labels: bug, linux/gtk
