Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-05, with the labels that each got.

#2622 Move acknowledgements in issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_request.yml
  .github/ISSUE_TEMPLATE/tablet_configuration.yml
Labels: enhancement, meta

#2760 Improve QoL around launching of OTD binaries
  OpenTabletDriver.UX/MainForm.cs
Labels: enhancement, desktop

#2761 Fix Ignore input outside area setting
  OpenTabletDriver.Plugin/Output/OutputMode.cs
Labels: bug, regression
