Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-03, with the labels that each got.

#2657 Workaround exception dialog spam
  OpenTabletDriver.UX/EtoExtensions.cs
Labels: bug, gui

#2660 Prevent log spams
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui, daemon, desktop

#2662 Add X9VoiD's ko-fi
  .github/FUNDING.yml
Labels: meta

#2658 Backport exception dialog
  OpenTabletDriver.UX/Dialogs/ExceptionDialog.cs
  OpenTabletDriver.UX/Extensions.cs
Labels: enhancement, gui

#2659 Switch AreaDisplay to standard Drawable
  OpenTabletDriver.UX/Controls/Output/Area/AreaDisplay.cs
  OpenTabletDriver.UX/Controls/Output/Area/AreaEditor.cs
  OpenTabletDriver.UX/Controls/Output/Area/RotationAreaEditor.cs
Labels: bug, gui

#2661 Prevent reconnection log spam
  OpenTabletDriver.UX/EtoExtensions.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, gui

#2667 Specify Linux library versions
  OpenTabletDriver.Native/Linux/Xorg/XLib.cs
  OpenTabletDriver.Native/Linux/Xorg/XRandr.cs
Labels: bug, linux/gtk

#2682 HandleBinding before Emit
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
Labels: bug, desktop

#2683 HandleBinding before Emit
  OpenTabletDriver.Desktop/Binding/BindingHandler.cs
Labels: bug, desktop, regression

#2680 Fix windows key mappings
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/WindowsVirtualKeyboard.cs
Labels: bug, enhancement
