Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-10, with the labels that each got.

#2944 Parse /etc/os-release in diagnostics
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Desktop/Diagnostics/IDiagnosticInfo.cs
  OpenTabletDriver.Desktop/Diagnostics/OSInfo.cs
  OpenTabletDriver.Desktop/Json/Converters/Implementations/SerializableDiagnosticInfo.cs
Labels: enhancement, linux/gtk, desktop

#2971 Rewrite udev rule generation
  OpenTabletDriver.Linux.slnf
  OpenTabletDriver.Tools.udev/Extensions.cs
  OpenTabletDriver.Tools.udev/OpenTabletDriver.Tools.udev.csproj
  OpenTabletDriver.Tools.udev/Program.cs
  OpenTabletDriver.Tools.udev/UdevDeviceData.cs
  OpenTabletDriver.Tools.udev/UdevDeviceFlags.cs
  OpenTabletDriver.Tools.udev/UdevDeviceIdentifier.cs
  OpenTabletDriver.sln
  eng/linux/lib.sh
  generate-rules.sh
Labels: enhancement, linux/gtk, ci, meta

#2975 linux/lib.sh: Test udev rules where possible
  eng/linux/lib.sh
Labels: enhancement, linux/gtk, tests, ci, meta

#2983 VEIKK A15PRO/VK1060: Add Tilt support
  OpenTabletDriver.Configurations/Configurations/VEIKK/A15 Pro.json
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK1060.json
Labels: enhancement, configuration

#2970 Add acknowledgement for using the latest version
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_request.yml
Labels: enhancement, meta

#2968 Add DTC-133 second pen button
  OpenTabletDriver.Configurations/Configurations/Wacom/DTC-133.json
Labels: enhancement, configuration
