Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-11, with the labels that each got.

#2950 Console: Check for presence of Daemon before attempting to connect
  OpenTabletDriver.Console/ApplicationLifetime.cs
Labels: enhancement, console

#2872 Add VEIKK VK1060PRO
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK1060PRO.json
  TABLETS.md
Labels: enhancement, configuration

#2887 Add new string for Huion Kamvas 20
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 20.json
Labels: configuration

#2891 Correct dimensions of Huion Q11K
  OpenTabletDriver.Configurations/Configurations/Huion/Q11K.json
Labels: bug, configuration

#2897 Add new identifier to UGEE S640
  OpenTabletDriver.Configurations/Configurations/UGEE/S640.json
Labels: configuration

#2899 Add new string to Gaomon 1060 Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/1060 Pro.json
Labels: enhancement, configuration

#2902 Add support for Wacom CTC-x110WL
  OpenTabletDriver.Configurations/Configurations/Wacom/CTC-4110WL.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTC-6110WL.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3Report.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/WacomDriverIntuosV3ReportParser.cs
  TABLETS.md
Labels: enhancement, configuration

#2907 Add support for Wacom PTU-600U
  OpenTabletDriver.Configurations/Configurations/Wacom/PTU-600U.json
  OpenTabletDriver.Configurations/Parsers/Wacom/PTU/PTUReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/PTU/PTUTabletReport.cs
  TABLETS.md
Labels: enhancement, configuration

#2919 fix: switch to tilt report parser on HS611
  OpenTabletDriver.Configurations/Configurations/Huion/HS611.json
Labels: configuration

#2920 fix: tilt report parser to other HS611 variant
  OpenTabletDriver.Configurations/Configurations/Huion/HS611.json
Labels: configuration

#2921 Add config for kamvas 22
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 22.json
  TABLETS.md
Labels: configuration

#2933 Add m106k to supported list
  TABLETS.md
Labels: documentation, configuration

#2938 Add identifier to H420x
  OpenTabletDriver.Configurations/Configurations/Huion/H420X.json
Labels: configuration

#2982 (0.6.x): VEIKK tilt support backport
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK640.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkTiltReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkTiltTabletReport.cs
Labels: enhancement, configuration

#2990 Add support for new Huion H950P variant
  OpenTabletDriver.Configurations/Configurations/Huion/H950P.json
Labels: configuration

#3015 (0.6.x) Define mouse buttons for Wacom CTE series
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-430.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-450.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-630.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-640.json
Labels: enhancement, configuration

#3016 Define mouse buttons for Wacom CTE series
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-430.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-450.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-630.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-640.json
Labels: enhancement, configuration

#2936 Update Star 05 V3.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 05 V3.json
Labels: configuration

#2901 Add Gaomon GM116HD
  OpenTabletDriver.Configurations/Configurations/Gaomon/GM116HD.json
  TABLETS.md
Labels: enhancement, configuration

#2736 add mouse to CTE-650.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-650.json
Labels: enhancement, configuration

#2731 Add support for Huion Q630M
  OpenTabletDriver.Configurations/Configurations/Huion/Q630M.json
  TABLETS.md
Labels: configuration

#3030 Update GitHub actions
  .github/workflows/dotnet.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: enhancement, meta

#3033 workflows: Drop obsolete setup-dotnet config keys
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
Labels: enhancement, ci, meta

#3034 workflows: Correctly lint all commits in PR
  .github/workflows/dotnet.yml
Labels: bug, ci

#3014 generic/postinst: Specify systemd user service
  eng/linux/Generic/postinst
Labels: enhancement, linux/gtk, meta

#2967 Backport: Use proper values for forward/backwards Linux mouse buttons
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/EvdevVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/EvdevRelativePointer.cs
Labels: bug, linux/gtk, priority:medium, desktop

#3031 workflows: Fix linting not working on other than OpenTabletDriver folder
  .github/workflows/dotnet.yml
Labels: bug, ci, meta

#3028 Deco L: Fix incorrect pressure
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco L.json
Labels: bug, configuration, needs-backport

#3000 Add support for `XP-Pen Deco M`
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco M.json
  TABLETS.md
Labels: enhancement, configuration

#3027 Tests: Verify tablet configurations with JSON Schema
  OpenTabletDriver.Analyzers/OpenTabletDriver.Analyzers.csproj
  OpenTabletDriver.Configurations/Configurations/Lifetec/LT9570.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-301.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-1300.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTZ-1200W.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 16 (2nd Gen).json
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Tests/ConfigurationTest.cs
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
  OpenTabletDriver/Tablet/ButtonSpecifications.cs
  OpenTabletDriver/Tablet/DeviceIdentifier.cs
  OpenTabletDriver/Tablet/DigitizerSpecifications.cs
  OpenTabletDriver/Tablet/PenSpecifications.cs
  OpenTabletDriver/Tablet/TabletConfiguration.cs
  OpenTabletDriver/Tablet/TabletSpecifications.cs
Labels: enhancement, tests

#3035 (0.6.x) Tests: Verify tablet configuration with JSON Schema
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-660.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-1300.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTZ-1200W.json
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Plugin/Tablet/ButtonSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/DeviceIdentifier.cs
  OpenTabletDriver.Plugin/Tablet/DigitizerSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/PenSpecifications.cs
  OpenTabletDriver.Plugin/Tablet/TabletConfiguration.cs
  OpenTabletDriver.Plugin/Tablet/TabletSpecifications.cs
  OpenTabletDriver.Tests/ConfigurationTest.cs
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
Labels: enhancement, configuration, tests

#3042 (0.6.x) XP-Pen Deco M support
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco M.json
Labels: enhancement, configuration

#3036 (0.6.x) Backport GitHub workflows
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  OpenTabletDriver.Linux.slnf
  OpenTabletDriver.MacOS.slnf
  OpenTabletDriver.Windows.slnf
Labels: enhancement, ci

#3050 Huion H1060P: Add identifier for string T219
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
Labels: enhancement, configuration

#3045 (0.6.x) Huion H1060P: Add identifier for string T219
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
Labels: enhancement, configuration

#3051 MacOS: Set mouse delta to move and drag event
  OpenTabletDriver.Desktop/Interop/Input/Absolute/MacOSAbsolutePointer.cs
Labels: needs-backport
