Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-08, with the labels that each got.

#2580 Configuration File for XP-Pen Artist 16 (2nd Gen)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 16 (2nd Gen).json
  TABLETS.md
Labels: configuration

#2605 Add support for Huion Kamvas 24 Plus
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 24 Plus.json
  TABLETS.md
Labels: configuration

#2613 Add variant of Huion RTM-500
  OpenTabletDriver.Configurations/Configurations/Huion/RTM 500.json
Labels: configuration

#2624 Configuration update for Gaomon 1060 pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/1060 Pro.json
Labels: configuration

#2631 Add variant of Gaomon M106K Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/M106K Pro.json
Labels: configuration

#2681 Fix Huion H610 Pro V3 regex collision
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V3.json
Labels: bug, configuration

#2701 Add support for Huion RTE-100
  OpenTabletDriver.Configurations/Configurations/Huion/RTE-100.json
  TABLETS.md
Labels: configuration

#2704 Add support Gaomon PD-156 Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/PD156 Pro.json
  TABLETS.md
Labels: configuration

#2730 Add support for Huion H641P
  OpenTabletDriver.Configurations/Configurations/Huion/H641P.json
  TABLETS.md
Labels: enhancement, configuration

#2734 Add support for parblo ninos n7
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N7.json
  TABLETS.md
Labels: configuration

#2737 Fix rotation reports causing broken pressure, tilt, and pen buttons
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1RotationReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1TabletReport.cs
Labels: bug, enhancement

#2822 Update Gaomon M1230 config to support new firmware
  OpenTabletDriver.Configurations/Configurations/Gaomon/M1230.json
Labels: configuration

#2837 Add variant of Kamvas Pro 16
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 16.json
Labels: configuration

#2786 Add support for Huion RDS-160
  OpenTabletDriver.Configurations/Configurations/Huion/RDS-160.json
  TABLETS.md
Labels: configuration

#2857 Fix ET-0405A-U config
  OpenTabletDriver.Configurations/Configurations/Wacom/ET-0405A-U.json
Labels: bug, enhancement, configuration

#2862 Add Waltop Slim Tablet 5.8"
  OpenTabletDriver.Configurations/Configurations/Waltop/Slim Tablet.json
  TABLETS.md
Labels: enhancement, configuration

#2839 Add support for UGEE U1200 tablet
  OpenTabletDriver.Configurations/Configurations/UGEE/U1200.json
  TABLETS.md
Labels: enhancement, configuration

#2867 Add xp-pen Deco L
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco L.json
  TABLETS.md
Labels: configuration

#2869 Add fourth Huion H430P variant
  OpenTabletDriver.Configurations/Configurations/Huion/H430P.json
Labels: enhancement, configuration

#2832 Adjust tablets.md
  TABLETS.md
Labels: documentation, enhancement

#2632 Potential tilt support for Veikk tablets.
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK640.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkTiltReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkTiltTabletReport.cs
Labels: enhancement, configuration

#2679 Add support for Parblo Ninos N4
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N4.json
  TABLETS.md
Labels: enhancement, configuration

#2892 Fix actions status badge path
  README.md
Labels: bug, documentation

#2903 Fix mislabeled tablets.md entries
  TABLETS.md
Labels: documentation
