Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-12, with the labels that each got.

#3059 Add help and options to generate-rules.sh
  generate-rules.sh
Labels: enhancement, linux/gtk, meta

#3062 add support far artisul a1201 variant
  OpenTabletDriver.Configurations/Configurations/Artisul/A1201.json
Labels: configuration, needs-backport

#3070 Fix Huion Kamvas Pro 24 (4k) string
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 24 (4K).json
Labels: configuration

#3071 Fix Huion Kamvas Pro 24 (4k) string (backport)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 24 (4K).json
Labels: configuration

#3072 Add extra string for Kamvas Pro 13 (2.5k)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13 (2.5k).json
Labels: configuration, needs-backport

#3073 merge matching identifiers with different strings
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#3063 Add Wacom DTH-1320
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-1320.json
  TABLETS.md
Labels: enhancement, configuration, needs-backport

#3076 Update dotnet requirement in README.md
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_KO.md
  docs/README_PTBR.md
  docs/README_RU.md
Labels: documentation, enhancement

#3100 Write logs to filesystem in real-time
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Daemon/LogFile.cs
  OpenTabletDriver.Daemon/Program.cs
  OpenTabletDriver.Desktop/Diagnostics/DiagnosticInfo.cs
  OpenTabletDriver.Desktop/Interop/AppInfo/AppInfo.cs
  OpenTabletDriver.Desktop/Interop/AppInfo/IAppInfo.cs
  OpenTabletDriver.Desktop/Json/Converters/Implementations/SerializableAppInfo.cs
  OpenTabletDriver/Logging/LogMessage.cs
Labels: daemon, desktop, needs-backport
