Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2023-01, with the labels that each got.

#1976 On MacOS, prevent user from launching the app when it is translocated.
  OpenTabletDriver.UX.MacOS/Program.cs
Labels: enhancement, macos, desktop

#2571 fix typo in PR
  TABLETS.md
Labels: bug, configuration, meta

#2588 Remove reference to configs branch
  CONTRIBUTING.md
Labels: bug, documentation

#2587 Add plugin name next to "Enable" in plugin settings editor
  OpenTabletDriver.UX/Controls/Editors/PluginSettingsEditor.cs
Labels: enhancement, desktop, regression

#2597 Add support for Veikk Viola (VO1060)
  OpenTabletDriver.Configurations/Configurations/VEIKK/VO1060.json
  TABLETS.md
Labels: configuration

#2584 Remove CTL-672 aux identifier
  OpenTabletDriver.Configurations/Configurations/Wacom/CTL-672.json
Labels: configuration

#2602 Add string to Gaomon M6
  OpenTabletDriver.Configurations/Configurations/Gaomon/M6.json
Labels: configuration
