Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-08, with the labels that each got.

#3337 [Backport] Add support for yet another Huion HS64 variant
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#3284 Fix aux button support on Veikk A15 tablets
  OpenTabletDriver.Configurations/Configurations/VEIKK/A15.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkA15ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkA15TabletReport.cs
Labels: configuration, needs-forward-port

#3251 Adding support for the Huion Kamvas Pro 16 Plus
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 16 Plus (4k).json
  TABLETS.md
Labels: configuration, needs-backport

#3410 Amend name
  TABLETS.md
Labels: documentation

#3304 Fix null warnings
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.UX.MacOS/PermissionHelper.cs
Labels: bug

#3409 Port Veikk A15 auxiliary support
  OpenTabletDriver.Configurations/Configurations/VEIKK/A15.json
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkA15ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Veikk/VeikkA15TabletReport.cs
Labels: configuration

#3411 [Backport] Add support for Huion Kamvas Pro 16 Plus (4k)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 16 Plus (4k).json
  TABLETS.md
Labels: configuration

#3418 Add the "Lords Mobile" edition of the H950P
  OpenTabletDriver.Configurations/Configurations/Huion/H950P.json
Labels: configuration, needs-backport

#2720 Add new WH1409 variant
  OpenTabletDriver.Configurations/Configurations/Huion/WH1409 V2 (Variant 2).json
  TABLETS.md
Labels: enhancement, configuration

#3422 Backport support for WH1409 V2 (Variant 2)
  OpenTabletDriver.Configurations/Configurations/Huion/WH1409 V2 (Variant 2).json
Labels: configuration

#3420 Rename V2 to (Variant 2), fix VEIKK voila naming, fix A50 support status
  OpenTabletDriver.Configurations/Configurations/VEIKK/A50 (Variant 2).json
  OpenTabletDriver.Configurations/Configurations/VEIKK/VO1060.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 01 V2 (Variant 2).json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640 (Variant 2).json
  TABLETS.md
Labels: documentation, configuration

#3421 Backport config naming fixes
  OpenTabletDriver.Configurations/Configurations/VEIKK/A50 (Variant 2).json
  OpenTabletDriver.Configurations/Configurations/VEIKK/VO1060.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 01 V2 (Variant 2).json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640 (Variant 2).json
Labels: configuration

#3414 Use libc timerfd instead in LinuxTimer
  OpenTabletDriver.Desktop/Interop/Timer/LinuxTimer.cs
  OpenTabletDriver.Native.Linux/Timers/ClockID.cs
  OpenTabletDriver.Native.Linux/Timers/SigEv.cs
  OpenTabletDriver.Native.Linux/Timers/Structs/ITimerSpec.cs
  OpenTabletDriver.Native.Linux/Timers/Structs/SigEvent.cs
  OpenTabletDriver.Native.Linux/Timers/Structs/SigVal.cs
  OpenTabletDriver.Native.Linux/Timers/Structs/TimerSpec.cs
  OpenTabletDriver.Native.Linux/Timers/TimerFlag.cs
  OpenTabletDriver.Native.Linux/Timers/Timers.cs
Labels: linux/gtk, priority:medium, desktop, needs-backport

#3417 [Backport] Add support for Huion Kamvas Pro 19 (4K)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 19 (4K).json
  TABLETS.md
Labels: configuration

#3432 Fix Detection Issue for Huion Kamvas Pro 12 Tablet
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 12.json
Labels: configuration, needs-backport
