Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-07, with the labels that each got.

#3370 Add nix flake
  .envrc
  .github/workflows/nix.yml
  .gitignore
  default.nix
  deps.nix
  flake.lock
  flake.nix
  generate-rules.sh
  shell.nix
  update-deps.sh
Labels: enhancement, ci, needs-backport

#3371 Add nix flakes to 0.6.x
  .envrc
  .github/workflows/nix.yml
  .gitignore
  default.nix
  deps.nix
  flake.lock
  flake.nix
  generate-rules.sh
  shell.nix
  update-deps.sh
Labels: enhancement, ci

#3143 [Backport] Add support for Artisul M0610 Pro variant
  OpenTabletDriver.Configurations/Configurations/Artisul/M0610 Pro.json
Labels: configuration

#3147 [Backport] Add support for VEIKK VK430 variant
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK430.json
Labels: configuration

#3175 Backport CTH-300 config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-300.json
Labels: configuration

#3194 [Backport] Remove auxiliary buttons field for tablets that do not have auxiliary keys
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 22 Plus.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 22.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 24 Plus.json
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N4.json
Labels: configuration

#3200 [Backport] Add support for the UGEE M808
  OpenTabletDriver.Configurations/Configurations/UGEE/M708 V2.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M708.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M808.json
  TABLETS.md
Labels: configuration

#3202 [Backport] Add pressure parsing workaround to XD-xxxx-U
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0405-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0608-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0912-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1212-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1218-U.json
Labels: configuration

#3227 [Backport] Use basic TabletReportParser on Huion 420
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: configuration

#3229 Backport XP-Pen Gen2 support
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist Pro 16 (Gen2).json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Pro LW Gen2.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Pro XLW Gen2.json
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenGen2ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
Labels: configuration

#3242 [Backport] Add support for Wacom Cintiq 12WX (DTZ-1200W) 5th and 10th buttons
  OpenTabletDriver.Configurations/Configurations/Wacom/DTZ-1200W.json
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReportParser.cs
Labels: configuration

#3294 [Backport] Add support for Huion Kamvas GT-156HD V2
  OpenTabletDriver.Configurations/Configurations/Huion/GT-156HD V2.json
  TABLETS.md
Labels: configuration

#3306 [Backport] Add support for UGEE M908
  OpenTabletDriver.Configurations/Configurations/UGEE/M908.json
Labels: configuration

#3154 [Backport] Add support for Huion Kamvas Pro 22 (2019)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 22 (2019).json
  TABLETS.md
Labels: configuration

#3156 [Backport] Add support for Artist 22 (2nd Generation)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 22 (2nd Gen).json
  TABLETS.md
Labels: configuration

#3158 [Backport] Add support for Parblo A640
  OpenTabletDriver.Configurations/Configurations/Parblo/A640.json
  TABLETS.md
Labels: configuration

#3173 [Backport] Add identifier to Huion H580x
  OpenTabletDriver.Configurations/Configurations/Huion/H580X.json
Labels: configuration

#3178 [Backport] Add support for new variant of Kamvas 13
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13.json
Labels: configuration

#3185 [Backport] Add support for variant of Huion HS64.
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#3278 [Backport] Add support for variant of Gaomon M10K Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/M10K Pro.json
Labels: configuration

#3309 [0.6.x] Use AppContext.BaseDirectory in daemon watchdog
  OpenTabletDriver.UX/DaemonWatchdog.cs
Labels: bug, good first issue

#3138 Add touch visualization to the debugger
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: enhancement, gui

#3235 Update repository locations & fix English
  README.md
  docs/README_ES.md
  docs/README_PTBR.md
Labels: documentation

#3369 Update master to .NET 8
  Directory.Build.props
  OpenTabletDriver.Desktop/Interop/Timer/FallbackTimer.cs
  default.nix
  eng/lib.sh
  eng/windows/package.ps1
Labels: enhancement, priority:medium

#3368 Update 0.6.x to .NET 8.0
  Directory.Build.props
  OpenTabletDriver.Desktop/Interop/Timer/FallbackTimer.cs
  default.nix
  eng/lib.sh
  eng/windows/package.ps1
Labels: enhancement, priority:medium

#3387 Finish transition to dotnet 8
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  .vscode/launch.json
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_KO.md
  docs/README_NL.md
  docs/README_PTBR.md
  docs/README_RU.md
  docs/README_TW.md
Labels: documentation, enhancement, ci, meta, needs-backport

#3390 Finish transition to .NET 8
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  .vscode/launch.json
  README.md
Labels: documentation, enhancement, ci, meta

#2952 UX: Create directories that don't exist when trying to open them
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, enhancement, gui

#3264 [0.6.x] Gaomon PD1161: Tilt support
  OpenTabletDriver.Configurations/Configurations/Gaomon/PD1161.json
Labels: enhancement, configuration, needs-forward-port

#3320 Add support for XP-Pen Star 03 Pro
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 03 Pro.json
  TABLETS.md
Labels: configuration

#3321 [Backport] Add support for XP-Pen Star 03 Pro
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 03 Pro.json
  TABLETS.md
Labels: configuration

#3335 Correct Auxiliary key count for XP-Pen Artist 24 Pro
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 24 Pro.json
Labels: bug, configuration

#3322 Add support for Trust Flex Design Tablet
  OpenTabletDriver.Configurations/Configurations/Trust/Flex Design Tablet.json
  TABLETS.md
Labels: configuration

#3323 [Backport] Add support for Trust Flex Design Tablet
  OpenTabletDriver.Configurations/Configurations/Trust/Flex Design Tablet.json
  TABLETS.md
Labels: configuration

#3168 Update templates diagnostic step
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/support_request.yml
  .github/ISSUE_TEMPLATE/tablet_configuration.yml
Labels: documentation, enhancement, meta

#3328 Add tilt to other variants of the Huion H1060P
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
Labels: configuration

#3329 [Backport] Add tilt to other variants of the Huion H1060P
  OpenTabletDriver.Configurations/Configurations/Huion/H1060P.json
Labels: configuration

#3336 Add support for yet another Huion HS64 variant
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#3343 [Backport] Add support for new variant of Gaomon GM116HD
  OpenTabletDriver.Configurations/Configurations/Gaomon/GM116HD.json
Labels: configuration

#3342 Add support for new variant of Gaomon GM116HD
  OpenTabletDriver.Configurations/Configurations/Gaomon/GM116HD.json
Labels: configuration

#3358 Add new variant of XP-Pen Star G960S
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G960S.json
Labels: configuration

#3362 Add support for Gaomon M8
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8.json
  TABLETS.md
Labels: configuration

#3363 [Backport] Add support for Gaomon M8
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8.json
  TABLETS.md
Labels: configuration

#3366 Add support for Huion RTP-700
  OpenTabletDriver.Configurations/Configurations/Huion/RTP-700.json
  TABLETS.md
Labels: configuration

#3367 [Backport] Add support for Huion RTP-700
  OpenTabletDriver.Configurations/Configurations/Huion/RTP-700.json
  TABLETS.md
Labels: configuration

#3377 [Backport] Add support for new variant of XP-Pen Deco mini4
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini4.json
Labels: configuration

#3376 Add support for new variant of XP-Pen Deco mini4
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini4.json
Labels: configuration

#3383 [Backport] Add support for new variant of the Kamvas Pro 12
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 12.json
Labels: configuration

#3382 Add support for new variant of the Kamvas Pro 12
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 12.json
Labels: configuration

#3386 [Backport] Add support for Artisul D16 Pro
  OpenTabletDriver.Configurations/Configurations/Artisul/D16 Pro.json
  TABLETS.md
Labels: configuration

#3385 Add support for Artisul D16 Pro
  OpenTabletDriver.Configurations/Configurations/Artisul/D16 Pro.json
  TABLETS.md
Labels: configuration

#3285 Add support for Wacom Cintiq 22HD (DTK-2200)
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-2200.json
  OpenTabletDriver.Configurations/Parsers/Wacom/CintiqV1/CintiqV1AuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/CintiqV1/CintiqV1ReportParser.cs
  TABLETS.md
Labels: configuration, needs-forward-port

#3401 Gaomon PD1161: Add tilt support
  OpenTabletDriver.Configurations/Configurations/Gaomon/PD1161.json
Labels: configuration, backport-added

#3359 [Backport] Add new variant of XP-Pen Star G960S
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G960S.json
Labels: configuration
