Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-12, with the labels that each got.

#3556 [0.6.x] Update flake.lock, shell.nix
  flake.lock
  shell.nix
Labels: enhancement, linux/gtk

#3557 [master] Update flake.lock, deps, shell.nix
  deps.nix
  flake.lock
  shell.nix
Labels: enhancement, linux/gtk

#3530 Add support for Wacom Cintiq 22HD (DTK-2200)
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-2200.json
  OpenTabletDriver.Configurations/Parsers/Wacom/CintiqV1/CintiqV1AuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/CintiqV1/CintiqV1ReportParser.cs
  TABLETS.md
Labels: enhancement, configuration

#3580 Add toolreport for intuos3 backport
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
Labels: enhancement, configuration

#3579 Add toolreport for intuos3
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ReportParser.cs
Labels: enhancement, configuration, backport-added

#3583 Escape special characters and unicode from string reader output
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
Labels: enhancement, gui, needs-forward-port

#3549 [0.6.x] Backport Macos timer from #2342
  OpenTabletDriver.Desktop/Interop/DesktopInterop.cs
  OpenTabletDriver.Desktop/Interop/Timer/MacOSTimer.cs
  OpenTabletDriver.Native/OSX/Timers/FilterType.cs
  OpenTabletDriver.Native/OSX/Timers/Flags.cs
  OpenTabletDriver.Native/OSX/Timers/Structs/KEvent.cs
  OpenTabletDriver.Native/OSX/Timers/TimerFilterFlags.cs
  OpenTabletDriver.Native/OSX/Timers/Timers.cs
  OpenTabletDriver.Native/Posix/Utility.cs
Labels: enhancement, macos, core, performance

#3566 [0.6.x] Disable libinput smoothing for OpenTabletDriver virtual tablet
  eng/linux/Debian/debian/opentabletdriver.install
  eng/linux/Generic/usr/share/libinput/30-vendor-opentabletdriver.quirks
  eng/linux/RedHat/package.sh
Labels: enhancement, linux/gtk, meta

#3239 [Backport] Fix UC-Logic 1060N configuration
  OpenTabletDriver.Configurations/Configurations/UC-Logic/1060N.json
  TABLETS.md
Labels: configuration

#3238 Fix UC-Logic 1060N configuration
  OpenTabletDriver.Configurations/Configurations/UC-Logic/1060N.json
  TABLETS.md
Labels: bug, configuration

#3535 Backport Wacom DTH-271
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-271.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2OffsetReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2ReportParser.cs
Labels: configuration

#2650 Add Wacom DTH-271 support
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-271.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2OffsetReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV2/IntuosV2ReportParser.cs
  TABLETS.md
Labels: enhancement, configuration

#3598 Fix invalid json exploding the udev script
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-271.json
Labels: configuration, priority:high

#3594 [06x] Update manpage with relevancy and proper usage standards
  docs/manpages/opentabletdriver.8
Labels: documentation, enhancement

#3601 BindingSettings: Default pressure and eraser threshold to 1%
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
Labels: bug, desktop

#3573 Packaging: Update Linux .desktop file
  eng/linux/lib.sh
Labels: enhancement, linux/gtk, meta

#3576 Bump to version 0.6.5.0
  Directory.Build.props
Labels: enhancement, meta

#3625 [Backport] Add support to Huion H1061P
  OpenTabletDriver.Configurations/Configurations/Huion/H1061P.json
  TABLETS.md
Labels: enhancement, configuration

#3624 Add support for Huion H1061P
  OpenTabletDriver.Configurations/Configurations/Huion/H1061P.json
  TABLETS.md
Labels: configuration, backport-added

#3563 [master] fix error "Self referencing loop detected with type"
  OpenTabletDriver.Desktop/Json/Converters/InterfaceConverter.cs
Labels: bug, desktop, regression

#3577 Add eraser support for CTC-4110WL/CTC-6110WL
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3Report.cs
Labels: configuration

#3578 [0.6.x] Backport "Add eraser support for CTC-4110WL/6110WL"
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3Report.cs
Labels: configuration

#3629 Add Linux and MacOS support for the Genius i608x
  OpenTabletDriver.Configurations/Configurations/Genius/i608x.json
Labels: configuration

#3630 [Backport] Add Linux and MacOS support for the Genius i608x
  OpenTabletDriver.Configurations/Configurations/Genius/i608x.json
Labels: configuration

#3311 [Backport] Add support for XP-Pen Artist 10S
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 10S.json
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicV1ReportParser.cs
  TABLETS.md
Labels: configuration

#3310 Add support for XP-Pen Artist 10S
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 10S.json
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicV1ReportParser.cs
  TABLETS.md
Labels: configuration

#3635 Add identifier and fix dimensions to Huion RTP-700
  OpenTabletDriver.Configurations/Configurations/Huion/RTP-700.json
Labels: configuration

#3636 [Backport] Add identifier and fix dimensions to Huion RTP-700
  OpenTabletDriver.Configurations/Configurations/Huion/RTP-700.json
Labels: configuration

#3652 Add extra init to XP-Pen Innovator 16
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Innovator 16.json
Labels: configuration

#3653 [Backport] Add extra init to XP-Pen Innovator 16
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Innovator 16.json
Labels: configuration

#3650 Add support for new firmware of RTS-300
  OpenTabletDriver.Configurations/Configurations/Huion/H642.json
  TABLETS.md
Labels: configuration

#3651 [Backport] Add support for new firmware of RTS-300
  OpenTabletDriver.Configurations/Configurations/Huion/H642.json
  TABLETS.md
Labels: configuration
