Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-11, with the labels that each got.

#3507 Fix ET-0405-U parser
  OpenTabletDriver.Configurations/Configurations/Wacom/ET-0405-U.json
Labels: bug, configuration

#3508 Fix ET-0405-U parser backport
  OpenTabletDriver.Configurations/Configurations/Wacom/ET-0405-U.json
Labels: bug, configuration

#3514 [0.6.x] Add XP-Pen Star G430S 200LPI variant
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G430S.json
Labels: enhancement, configuration, needs-forward-port

#3529 config: Add XP-Pen Star G430S 200LPI variant
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G430S.json
Labels: enhancement, configuration

#3503 Better time calculation for LinuxTimer
  OpenTabletDriver.Desktop/Interop/Timer/LinuxTimer.cs
Labels: enhancement, linux/gtk, desktop

#3504 [backport] Better time calculation for LinuxTimer
  OpenTabletDriver.Desktop/Interop/Timer/LinuxTimer.cs
Labels: enhancement, linux/gtk, desktop

#3528 Linux: Default to Artist Mode
  OpenTabletDriver.Desktop/Profiles/Profile.cs
Labels: enhancement, linux/gtk, desktop

#3525 [06x] Linux: Default to Artist Mode globally
  OpenTabletDriver.Desktop/Profiles/Profile.cs
Labels: enhancement, linux/gtk, desktop

#3536 Allow portable installs on Linux & MacOS
  OpenTabletDriver.Desktop/AppInfo.cs
Labels: enhancement, linux/gtk, macos

#3537 [0.7.x] Allow portable installs on Linux & MacOS
  OpenTabletDriver.Desktop/Interop/AppInfo/LinuxAppInfo.cs
  OpenTabletDriver.Desktop/Interop/AppInfo/MacOSAppInfo.cs
Labels: enhancement, linux/gtk, macos

#3547 Backport bump actions/upload-artifact to v4
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
Labels: ci

#3546 Bump actions/upload-artifact to v4
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
Labels: ci

#3540 [0.6.x] Fix tablet debugger touch NRE
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, gui

#2248 Add missing error messages
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: bug, gui

#3555 Build and publish NuGet Package with release
  .github/workflows/release.yml
  Directory.Build.props
  OpenTabletDriver.Analyzers.Tests/OpenTabletDriver.Analyzers.Tests.csproj
  OpenTabletDriver.Analyzers/OpenTabletDriver.Analyzers.csproj
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Native.Linux/OpenTabletDriver.Native.Linux.csproj
  OpenTabletDriver.Native.MacOS/OpenTabletDriver.Native.MacOS.csproj
  OpenTabletDriver.Native.Windows/OpenTabletDriver.Native.Windows.csproj
  OpenTabletDriver.Native/OpenTabletDriver.Native.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement, ci

#3544 [0.6.x] MacOS pressure (AkiSakurai's `tabletmore` branch)
  OpenTabletDriver.Desktop/Interop/Input/Absolute/MacOSAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/MacOSVirtualKeyboard.cs
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/MacOSRelativePointer.cs
  OpenTabletDriver.Native/OSX/Generic/NSPointingDeviceType.cs
  OpenTabletDriver.Native/OSX/Input/CGEventField.cs
  OpenTabletDriver.Native/OSX/Input/CGEventFlags.cs
  OpenTabletDriver.Native/OSX/Input/CGEventType.cs
  OpenTabletDriver.Native/OSX/Input/CGMouseEventSubtype.cs
  OpenTabletDriver.Native/OSX/OSX.cs
  OpenTabletDriver.Native/OSX/ObjectiveCRuntime.cs
Labels: enhancement, macos, desktop

#3553 Add support for XP-Pen Star G640 variant
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640.json
Labels: configuration

#3554 [Backport] Add support for XP-Pen Star G640 variant
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G640.json
Labels: configuration

#3550 [0.6.x] Build and publish NuGet Package with release
  .github/workflows/release.yml
  Directory.Build.props
  OpenTabletDriver.Configurations/OpenTabletDriver.Configurations.csproj
  OpenTabletDriver.Native/OpenTabletDriver.Native.csproj
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: enhancement, ci

#3552 Backport update softprops/action-gh-release to v2
  .github/workflows/release.yml
Labels: priority:high, ci

#3559 [0.6.x] fix: double click in relative mode
  OpenTabletDriver.Desktop/Interop/Input/Absolute/MacOSAbsolutePointer.cs
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.Desktop/Interop/Input/Relative/MacOSRelativePointer.cs
Labels: bug, macos, desktop

#3551 Update softprops/action-gh-release to v2
  .github/workflows/release.yml
Labels: enhancement, ci
