Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-05, with the labels that each got.

#3243 Add support for filtering detection by interface on Linux
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
  OpenTabletDriver.Configurations/Configurations/Huion/H420.json
  OpenTabletDriver/Driver.cs
Labels: enhancement, linux/gtk, configuration

#3244 [Backport] Add support for filtering detection by interface on Linux
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
  OpenTabletDriver.Configurations/Configurations/Huion/H420.json
  OpenTabletDriver/Driver.cs
Labels: enhancement, linux/gtk, configuration

#3313 Merge README Translations
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_EL.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_HU.md
  docs/README_KO.md
  docs/README_NL.md
  docs/README_PTBR.md
  docs/README_RU.md
  docs/README_TW.md
Labels: documentation, enhancement, localization, meta

#2904 Translate README.md to NL and fix badges
  README.md
  docs/README_CN.md
  docs/README_DE.md
  docs/README_ES.md
  docs/README_FR.md
  docs/README_KO.md
  docs/README_NL.md
  docs/README_PTBR.md
  docs/README_RU.md
Labels: documentation, enhancement, localization

#3291 Add support for XP-Pen Artist 24 Pro
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 24 Pro.json
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenAuxReport.cs
  TABLETS.md
Labels: configuration

#3293 Add support for Huion Kamvas GT-156HD V2
  OpenTabletDriver.Configurations/Configurations/Huion/GT-156HD V2.json
  TABLETS.md
Labels: configuration

#2620 Added support for ViewSonic woodpad 10
  OpenTabletDriver.Configurations/Configurations/ViewSonic/Woodpad PF1030.json
  TABLETS.md
Labels: configuration, needs-backport

#2927 Add support for Huion H951P
  OpenTabletDriver.Configurations/Configurations/Huion/H951P.json
  OpenTabletDriver.Configurations/Parsers/Huion/InspiroyReportParser.cs
  TABLETS.md
Labels: enhancement, configuration, needs-backport

#3006 Add support for Parblo Ninos N7B
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N7B.json
  TABLETS.md
Labels: enhancement, configuration, needs-backport

#3142 Add support for Artisul M0610 Pro variant
  OpenTabletDriver.Configurations/Configurations/Artisul/M0610 Pro.json
Labels: configuration

#3146 Add support for VEIKK VK430 variant
  OpenTabletDriver.Configurations/Configurations/VEIKK/VK430.json
Labels: configuration

#3153 Add support for Huion Kamvas Pro 22 (2019)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 22 (2019).json
  TABLETS.md
Labels: configuration

#3155 Add support for Artist 22 (2nd Generation)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 22 (2nd Gen).json
  TABLETS.md
Labels: configuration

#3157 Add support for Parblo A640
  OpenTabletDriver.Configurations/Configurations/Parblo/A640.json
  TABLETS.md
Labels: configuration

#3172 Add identifier to Huion H580x
  OpenTabletDriver.Configurations/Configurations/Huion/H580X.json
Labels: configuration

#3174 Add CTH-300 config
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-300.json
  TABLETS.md
Labels: configuration

#3177 Add support for new variant of Kamvas 13
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13.json
Labels: configuration

#3184 Add support for variant of Huion HS64.
  OpenTabletDriver.Configurations/Configurations/Huion/HS64.json
Labels: configuration

#3193 Remove auxiliary buttons field for tablets that do not have auxiliary keys
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 22 Plus.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 22.json
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 24 Plus.json
  OpenTabletDriver.Configurations/Configurations/Parblo/Ninos N4.json
Labels: configuration

#3199 Add support for the UGEE M808
  OpenTabletDriver.Configurations/Configurations/UGEE/M708 V2.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M708.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M808.json
  TABLETS.md
Labels: configuration

#3201 Add pressure parsing workaround to XD-xxxx-U
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0405-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0608-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-0912-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1212-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/XD-1218-U.json
Labels: configuration

#3226 Use basic TabletReportParser on Huion 420
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: bug, configuration

#3228 Add support for XP-Pen Gen2
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist Pro 16 (Gen2).json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Pro LW Gen2.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco Pro XLW Gen2.json
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenGen2ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
  TABLETS.md
Labels: configuration

#3241 Add support for Wacom Cintiq 12WX (DTZ-1200W) 5th and 10th buttons
  OpenTabletDriver.Configurations/Configurations/Wacom/DTZ-1200W.json
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos3/Intuos3ExtraAuxReportParser.cs
Labels: configuration

#3277 Add support for variant of Gaomon M10K Pro
  OpenTabletDriver.Configurations/Configurations/Gaomon/M10K Pro.json
Labels: configuration

#3301 Add support for variant of Huion H610X
  OpenTabletDriver.Configurations/Configurations/Huion/H610X.json
Labels: configuration, needs-backport

#3305 Add support for UGEE M908
  OpenTabletDriver.Configurations/Configurations/UGEE/M908.json
  TABLETS.md
Labels: configuration, needs-backport

#3316 Add support for Huion Kamvas Pro 16 (4k)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 16 (4k).json
  TABLETS.md
Labels: configuration, needs-backport
