Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2024-09, with the labels that each got.

#3453 Fix new firmware deco pro gen2
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
Labels: bug

#3454 Backport Fix new firmware deco pro gen2
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
Labels: bug

#3433 docs: Simplify README_PTBR.md
  docs/README_PTBR.md
Labels: documentation, localization

#3455 Fix byte order in mask
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
Labels: bug

#3456 Backport Fix byte order in mask
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletGen2Report.cs
Labels: bug

#3467 Correct Gaomon M8 internal Name
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8.json
Labels: configuration

#3468 [Backport] Correct Gaomon M8 internal Name
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8.json
Labels: configuration

#3276 Add support for XP-Pen Artist 16
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 16.json
  TABLETS.md
Labels: configuration, needs-backport

#3440 Turcom TS-6580 compatibility config.
  OpenTabletDriver.Configurations/Configurations/Turcom/TS-6580.json
  TABLETS.md
Labels: configuration, needs-backport
