Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-02, with the labels that each got.

#3771 [Avalonia] Cleanup workflows
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/build-wrapper/action.yml
  .github/actions/setup-dotnet/action.yml
  .github/workflows/dotnet.yml
  eng/lib.sh
  eng/linux/BinaryTarBall/package.sh
  eng/linux/RedHat/package.sh
  eng/linux/Simple/package.sh
  eng/linux/package.sh
  eng/macos/package.sh
Labels: enhancement, ci, needs-backport

#3788 [06x] Fix memory leaks on macOS
  OpenTabletDriver.Daemon/OpenTabletDriver.Daemon.csproj
  OpenTabletDriver.Native/OSX/OSX.cs
  OpenTabletDriver.Native/OSX/ObjectiveCRuntime.cs
  OpenTabletDriver.UX.MacOS/OpenTabletDriver.UX.MacOS.csproj
Labels: bug, macos

#3772 [Backport] Add support for XP-Pen Deco 01 V3
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 01 V3.json
  TABLETS.md
Labels: configuration

#3782 [06x] workflows/release: Move NuGet deploy to its own step
  .github/workflows/release.yml
Labels: enhancement, ci, needs-forward-port

#3753 Add support for XP-Pen Star 02
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 02.json
  TABLETS.md
Labels: configuration

#3796 [0.6.x] Improve config dir detection in tests
  OpenTabletDriver.Tests/ConfigurationTest.cs
Labels: configuration, tests

#3701 [06x] Invert tilt in UCLogicTiltReportParser
  OpenTabletDriver.Configurations/Parsers/UCLogic/UCLogicTiltReportParser.cs
  OpenTabletDriver.Plugin/Tablet/TiltTabletReport.cs
Labels: bug, configuration, needs verification

#3734 [Avalonia] DriverDaemon: Default to 1% pressure threshold
  OpenTabletDriver.Daemon.Library/DriverDaemon.cs
Labels: bug

#3791 [Avalonia] Unify packaging build scripts
  .github/actions/build-bash/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/build-wrapper/action.yml
  .github/actions/handle-artifact/action.yml
  .github/workflows/build-matrix.yml
  .github/workflows/dotnet.yml
  .github/workflows/release.yml
  build.ps1
  build.sh
  eng/bash/BinaryTarBall/package.sh
  eng/bash/Debian/debian/compat
  eng/bash/Debian/debian/opentabletdriver.install
  eng/bash/Debian/debian/rules
  eng/bash/Debian/debian/source/format
  eng/bash/Debian/no-build
  eng/bash/Debian/package.sh
  eng/bash/Generic/package.sh
  eng/bash/Generic/postinst
  eng/bash/Generic/postrm
  eng/bash/Generic/usr/bin/otd
  eng/bash/Generic/usr/bin/otd-daemon
  eng/bash/Generic/usr/bin/otd-gui
  eng/bash/Generic/usr/lib/modprobe.d/99-opentabletdriver.conf
  eng/bash/Generic/usr/lib/modules-load.d/opentabletdriver.conf
  eng/bash/Generic/usr/lib/systemd/user/opentabletdriver.service
  eng/bash/Generic/usr/share/libinput/30-vendor-opentabletdriver.quirks
  eng/bash/RedHat/no-build
  eng/bash/RedHat/package.sh
  eng/bash/Simple/README-SimplePackage.md
  eng/bash/Simple/package.sh
  eng/bash/lib.sh
  eng/bash/macos/Icon.icns
  eng/bash/macos/Info.plist
  eng/bash/macos/package.sh
  eng/bash/package.sh
  eng/bash/windows/convert_to_portable.bat
  eng/bash/windows/convert_to_portable.ps1
  eng/bash/windows/package.sh
  eng/linux/lib.sh
  eng/macos/package.sh
  eng/windows/package.ps1
Labels: enhancement, breaking, needs-backport, packaging

#3589 Add support for XP-Pen Deco 640 (IT640)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 640 (IT640).json
  TABLETS.md
Labels: configuration, needs-backport
