Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-01, with the labels that each got.

#3657 Fix tilt for Huion H1061P
  OpenTabletDriver.Configurations/Configurations/Huion/H1061P.json
Labels: configuration, needs-backport

#3639 Add support for 16k pressure variant of Gaomon M8
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8 (Variant 2).json
Labels: configuration

#3640 [Backport] Add support for 16k pressure variant of Gaomon M8
  OpenTabletDriver.Configurations/Configurations/Gaomon/M8 (Variant 2).json
Labels: configuration

#3660 [06x] Fix tilt for Huion H1061P
  OpenTabletDriver.Configurations/Configurations/Huion/H1061P.json
Labels: enhancement, configuration

#3567 Disable libinput smoothing for OpenTabletDriver virtual tablet
  eng/linux/Debian/debian/opentabletdriver.install
  eng/linux/Generic/usr/share/libinput/30-vendor-opentabletdriver.quirks
  eng/linux/RedHat/package.sh
Labels: enhancement, linux/gtk

#3666 [0.6.x] Fix swapped key code mappings for Command and Option keys on MacOS
  OpenTabletDriver.Desktop/Interop/Input/Keyboard/MacOSVirtualKeyboard.cs
Labels: bug, macos

#3675 add support of Huion 420 with null characters
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: configuration

#3676 [Backport] add support of Huion 420 with null characters
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: configuration

#3659 [0.6.x] Backport "Add wireless support for Wacom CTC-6110WL"
  OpenTabletDriver.Configurations/Configurations/Wacom/CTC-6110WL.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ReportParser.cs
Labels: configuration

#3658 Add wireless support for Wacom CTC-6110WL
  OpenTabletDriver.Configurations/Configurations/Wacom/CTC-6110WL.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ReportParser.cs
Labels: configuration

#3656 nix: Update version to 0.6.5.0
  default.nix
  deps.nix
  flake.lock
Labels: enhancement, linux/gtk

#3681 Add linux support to Huion H610 Pro V3
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V3.json
Labels: configuration

#3682 [Backport] Add linux support to Huion H610 Pro V3
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V3.json
Labels: configuration

#3647 config/Huion Kamvas Pro 13: Add an additional device string
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13.json
Labels: enhancement, configuration, needs-forward-port

#3689 [0.6.x] Switch deps.nix to deps.json
  default.nix
  deps.json
  deps.nix
  flake.lock
  update-deps.sh
Labels: enhancement, linux/gtk

#3690 [master] Switch deps.nix to deps.json
  default.nix
  deps.json
  deps.nix
  flake.lock
  update-deps.sh
Labels: enhancement, linux/gtk

#3637 Add support for Huion Kamvas 13 (Gen 3)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver/Tablet/TabletReport.cs
  OpenTabletDriver/Tablet/TiltTabletReport.cs
  TABLETS.md
Labels: configuration

#3638 [Backport] Add support for Huion Kamvas 13 (Gen 3)
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas 13 (Gen 3).json
  OpenTabletDriver.Plugin/Tablet/TabletReport.cs
  OpenTabletDriver.Plugin/Tablet/TiltTabletReport.cs
  TABLETS.md
Labels: configuration

#3679 Add partial support for Wacom DTH-135
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-135.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ExtendedReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ReportParser.cs
  TABLETS.md
Labels: configuration

#3680 [0.6.x] Backport partial support for Wacom DTH-135
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-135.json
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ExtendedReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV3/IntuosV3ReportParser.cs
  TABLETS.md
Labels: configuration

#3700 Artist Mode: Release opposite tool when changing eraser state
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: bug, linux/gtk, needs-forward-port

#3619 [0.6.x] Link to release instead of updating
  OpenTabletDriver.UX/Windows/Updater/UpdaterWindow.cs
Labels: enhancement, gui

#3694 [06x] CTH-*61: Add auxiliary key support
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-461.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTH-661.json
  OpenTabletDriver.Configurations/Parsers/Wacom/BambooV2/BambooV2AuxReportParser.cs
Labels: enhancement, configuration, needs-forward-port

#3622 [0.6.x] Dispose of plugins on InputDeviceTree Disconnected
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Plugin/Output/IOutputMode.cs
  OpenTabletDriver.Plugin/Output/OutputMode.cs
  OpenTabletDriver/Driver.cs
Labels: bug, core, performance

#3699 [06x] Daemon: Properly output filters to log in development edge case
  OpenTabletDriver.Daemon/DriverDaemon.cs
Labels: enhancement

#3705 Remove proximity handling from linux artist mode
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IProximityHandler.cs
Labels: bug, linux/gtk

#3615 [0.6.x] Fix AppInfo desync in UX
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.UX/MainForm.cs
Labels: bug, plugins

#3708 Avalonia fixup builds
  .github/workflows/dotnet.yml
  OpenTabletDriver.sln
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: bug, ci

#3709 Avalonia fix tests
  OpenTabletDriver.Daemon.Contracts/AppInfo.cs
  OpenTabletDriver.Daemon.Contracts/IAppInfo.cs
  OpenTabletDriver.Daemon.Contracts/IDriverDaemon.cs
  OpenTabletDriver.Daemon.Contracts/PluginMetadata.cs
  OpenTabletDriver.Daemon.Library/DesktopDeviceConfigurationProvider.cs
  OpenTabletDriver.Daemon.Library/DriverDaemon.cs
  OpenTabletDriver.Daemon.Library/Reflection/PluginManager.cs
  OpenTabletDriver.Tests/PluginMetadataTest.cs
  OpenTabletDriver.Tests/Utility.cs
  default.nix
  deps.json
  eng/lib.sh
  eng/linux/Generic/usr/bin/otd-gui
Labels: bug, tests

#3714 [Avalonia] Fix daemon not launching (Update the rest of the daemon to properly use `IAppInfo`)
  OpenTabletDriver.Daemon.Library/Interop/DesktopLinuxServiceCollection.cs
  OpenTabletDriver.Daemon.Library/Interop/DesktopMacOSServiceCollection.cs
  OpenTabletDriver.Daemon.Library/Interop/DesktopWindowsServiceCollection.cs
  OpenTabletDriver.Daemon.Library/PresetManager.cs
  OpenTabletDriver.Daemon.Library/Updater/GitHubUpdater.cs
  OpenTabletDriver.Daemon.Library/Updater/MacOSUpdater.cs
  OpenTabletDriver.Daemon.Library/Updater/WindowsUpdater.cs
  OpenTabletDriver.Daemon/Program.cs
Labels: bug

#3646 config/UGEE M708 V2: Fix dimensions and add new identifier
  OpenTabletDriver.Configurations/Configurations/UGEE/M708 V2.json
Labels: enhancement, configuration, needs-forward-port

#3688 [06x] conf/Parblo A610: Add interface
  OpenTabletDriver.Configurations/Configurations/Parblo/A610.json
Labels: bug, configuration, needs-forward-port

#3670 [06x] UX: Rewrite FileDialog directory checks
  OpenTabletDriver.UX/Extensions.cs
  OpenTabletDriver.UX/MainForm.cs
  OpenTabletDriver.UX/Windows/DeviceStringReader.cs
  OpenTabletDriver.UX/Windows/Plugins/PluginManagerWindow.cs
Labels: bug, gui, needs-forward-port

#3718 [Avalonia] driver: Fix NRE for tablets with no auxiliary device identifiers
  OpenTabletDriver/Driver.cs
Labels: bug, daemon, priority:high

#3631 [0.6.x] Fix another case of Output Mode NullException when saving using the tablet
  OpenTabletDriver.Plugin/Output/AbsoluteOutputMode.cs
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: bug

#3715 [Avalonia] Add Export diagnostics button
  OpenTabletDriver.Daemon.Contracts/DiagnosticInfo.cs
  OpenTabletDriver.Daemon.Contracts/IEnvironmentDictionary.cs
  OpenTabletDriver.Daemon.Library/DesktopServiceCollection.cs
  OpenTabletDriver.Daemon.Library/Diagnostics/EnvironmentDictionary.cs
  OpenTabletDriver.Daemon.Library/DriverDaemon.cs
  OpenTabletDriver.Daemon.Library/Interop/DesktopLinuxServiceCollection.cs
  OpenTabletDriver.Daemon.Library/Interop/DesktopWindowsServiceCollection.cs
  OpenTabletDriver.UI.Library/AppRoutes.cs
  OpenTabletDriver.UI.Library/StringUtility.cs
  OpenTabletDriver.UI.Library/ViewModels/DiagnosticsViewModel.cs
  OpenTabletDriver.UI.Library/Views/DiagnosticsView.axaml
  OpenTabletDriver.UI.Library/Views/DiagnosticsView.axaml.cs
  OpenTabletDriver/OpenTabletDriver.csproj
Labels: bug, gui, daemon

#3720 Add support for variant of Huion Q630M
  OpenTabletDriver.Configurations/Configurations/Huion/Q630M.json
Labels: configuration

#3721 [Backport] Add support for variant of Huion Q630M
  OpenTabletDriver.Configurations/Configurations/Huion/Q630M.json
Labels: configuration

#3726 [Avalonia] TypeConstants: update public API
  OpenTabletDriver.UI.Library/TypeConstants.cs
Labels: bug, priority:high

#3724 Package Debian and Fedora in Net CI test
  .github/workflows/dotnet.yml
Labels: ci

#3725 [Backport] Package Debian and Fedora in Net CI test
  .github/workflows/dotnet.yml
Labels: ci

#3740 [Backport] Add support for XP-Pen Deco mini7 V2
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini7 V2.json
  TABLETS.md
Labels: configuration

#3739 Add support for XP-Pen Deco mini7 V2
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini7 V2.json
  TABLETS.md
Labels: configuration

#3747 [06x] UX/About: Add developers and documenters
  OpenTabletDriver.UX/App.cs
Labels: gui, meta

#3744 Add support for XP-Pen Artist 24
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 24.json
  TABLETS.md
Labels: configuration

#3746 [06x] Better logging on invalid parser
  OpenTabletDriver.Desktop/Reflection/PluginManager.cs
  OpenTabletDriver/Devices/DeviceReader.cs
Labels: enhancement, core, needs-forward-port

#3628 [06x] Tablet Debugger: Refactor missing digitizer specification warnings (don't warn for missing touch if report isn't touch)
  OpenTabletDriver.UX/Windows/Tablet/TabletDebugger.cs
Labels: bug, gui

#3752 [Backport] Add identifier for Gaomon PD2200
  OpenTabletDriver.Configurations/Configurations/Gaomon/PD2200.json
Labels: configuration

#3755 Add string for kamvas pro 13
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13.json
Labels: configuration

#3756 [Backport] Add string for kamvas pro 13
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 13.json
Labels: configuration

#3759 Change H610 Pro V3 regex to support null character variants
  OpenTabletDriver.Configurations/Configurations/Huion/H610 Pro V3.json
Labels: configuration

#3733 [Avalonia] DriverDaemon: Default to Artist Mode on Linux
  OpenTabletDriver.Daemon.Library/DriverDaemon.cs
Labels: daemon, regression

#3768 [Backport] Add support for variant of XP-Pen Star G960S Plus
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G960S Plus.json
Labels: configuration

#3767 Add support for variant of XP-Pen Star G960S Plus
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star G960S Plus.json
Labels: configuration

#3770 [Backport] Yank support for 10moons 1060N
  OpenTabletDriver.Configurations/Configurations/10moon/1060N.json
  OpenTabletDriver.Configurations/Parsers/10moon/10moonAuxParser.cs
  OpenTabletDriver.Configurations/Parsers/10moon/10moonReportParser.cs
  OpenTabletDriver.Configurations/Parsers/10moon/10moonTabletReport.cs
  TABLETS.md
Labels: configuration

#3750 [06x] RelativeOutputMode warn on reset spam
  OpenTabletDriver.Plugin/Output/RelativeOutputMode.cs
Labels: enhancement, core, needs-forward-port

#3773 [Avalonia] eng/macos: Disable Console, update UX -> UI
  eng/macos/package.sh
Labels: bug

#3754 [Backport] Add support for XP-Pen Star 02
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Star 02.json
  TABLETS.md
Labels: configuration

#3763 Fill Empty screen with a Label when a tablet isn't detected or selected
  OpenTabletDriver.UX/Controls/ControlPanel.cs
  OpenTabletDriver.UX/Controls/Output/OutputModeEditor.cs
  OpenTabletDriver.UX/Controls/TabletSwitcherPanel.cs
Labels: enhancement, gui

#3764 [06x] Fix: Prevent proximity event on mouse up for macOS
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
Labels: bug, macos

#3777 [06x] workflows/dotnet: Run workflow on branch pushes too
  .github/workflows/dotnet.yml
Labels: enhancement, ci, needs-forward-port

#3781 [!] 0.6.5.1 nullability quickfix
  OpenTabletDriver.Plugin/OpenTabletDriver.Plugin.csproj
  OpenTabletDriver.Plugin/Tablet/DigitizerSpecifications.cs
Labels: plugins, priority:high

#3761 [06x] Fix support for pressure sensitivity in Adobe software on macOS
  OpenTabletDriver.Desktop/Interop/Input/MacOSVirtualMouse.cs
  OpenTabletDriver.Native/OSX/Input/CGEventField.cs
  OpenTabletDriver.Native/OSX/Input/WacomCapabilityMask.cs
Labels: bug, macos

#3787 [Avalonia] workflows/dotnet: Run workflow on branch pushes too
  .github/workflows/dotnet.yml
Labels: enhancement, ci

#3785 [Avalonia] eng/lib.sh: Autodetect VERSION_SUFFIX when unset
  eng/lib.sh
Labels: enhancement, linux/gtk, packaging

#3786 [Avalonia] Standardize release asset naming
  eng/linux/Debian/package.sh
  eng/linux/RedHat/package.sh
  eng/macos/package.sh
  eng/windows/package.ps1
Labels: enhancement, packaging

#3784 [Avalonia] build/linux: Add 'Simple' package
  eng/linux/Simple/README-SimplePackage.md
  eng/linux/Simple/package.sh
Labels: enhancement, linux/gtk

#3729 [Avalonia] daemon: Wrap diagnostics call in Task.Run to satisfy async
  OpenTabletDriver.Daemon.Library/DriverDaemon.cs
Labels: enhancement, daemon
