Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-05, with the labels that each got.

#3757 Revert Huion 420 parser change
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: bug, configuration

#3758 [Backport] Revert Huion 420 parser change
  OpenTabletDriver.Configurations/Configurations/Huion/420.json
Labels: bug, configuration

#3837 Fix an exception when unplugging a tablet then closing a binding editor
  OpenTabletDriver.UX/Controls/Generic/GeneratedItemList.cs
Labels: bug, gui

#3815 Only clamp width and height in `Lock to usable area` if rotation is 0 or 180
  OpenTabletDriver.UX/Controls/Output/AbsoluteModeEditor.cs
Labels: enhancement, gui
