Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-09, with the labels that each got.

#4007 Fix Plugin manager Metadata Desynchronization
  OpenTabletDriver.UX/Windows/Plugins/MetadataViewer.cs
Labels: bug, plugins

#3949 [0.6.x] Add support for Huion Kamvas Pro 27
  OpenTabletDriver.Configurations/Configurations/Huion/Kamvas Pro 27.json
  OpenTabletDriver.Configurations/Parsers/Huion/GianoReport.cs
  TABLETS.md
Labels: configuration, needs-forward-port

#3736 Add interface attribute to WinUSB tablets where applicable
  OpenTabletDriver.Configurations/Configurations/Artisul/AP604.json
  OpenTabletDriver.Configurations/Configurations/FlooGoo/FMA100.json
  OpenTabletDriver.Configurations/Configurations/Gaomon/S630.json
  OpenTabletDriver.Configurations/Configurations/Huion/H690.json
  OpenTabletDriver.Configurations/Configurations/Huion/New 1060 Plus (2048).json
  OpenTabletDriver.Configurations/Configurations/Monoprice/10594.json
  OpenTabletDriver.Configurations/Configurations/Monoprice/MP1060-HA60.json
  OpenTabletDriver.Configurations/Configurations/Parblo/A610.json
  OpenTabletDriver.Configurations/Configurations/Turcom/TS-6580.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M708.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 10S.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 22HD.json
Labels: configuration

#4020 [0.6.x] Backport Add interface attribute to WinUSB tablets where applicable
  OpenTabletDriver.Configurations/Configurations/Artisul/AP604.json
  OpenTabletDriver.Configurations/Configurations/FlooGoo/FMA100.json
  OpenTabletDriver.Configurations/Configurations/Gaomon/S630.json
  OpenTabletDriver.Configurations/Configurations/Huion/H690.json
  OpenTabletDriver.Configurations/Configurations/Huion/New 1060 Plus (2048).json
  OpenTabletDriver.Configurations/Configurations/Monoprice/10594.json
  OpenTabletDriver.Configurations/Configurations/Monoprice/MP1060-HA60.json
  OpenTabletDriver.Configurations/Configurations/Parblo/A610.json
  OpenTabletDriver.Configurations/Configurations/Turcom/TS-6580.json
  OpenTabletDriver.Configurations/Configurations/UGEE/M708.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 10S.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 22HD.json
Labels: configuration

#3667 [06x] Automatic labeling for pull requests
  .github/labeler.yml
  .github/workflows/_uses-labeler.yml
  .github/workflows/manual-pr-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/shell-tests.yml
  tests/test_labeler_yaml.sh
Labels: tests, ci, meta, needs-forward-port

#3991 Add support for XP-Pen Artist 15.6 Pro V2
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 15.6 Pro V2.json
  TABLETS.md
Labels: enhancement, configuration, needs-backport

#4025 [0.6.x] Fix XP-Pen Artist 12 init for newer revision
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist 12.json
Labels: configuration, needs-forward-port

#3801 [Backport] Add support for XP-Pen Deco 640 (IT640)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 640 (IT640).json
  TABLETS.md
Labels: configuration

#4030 [06x] PR Labeler: Fix constant `meta` tag application
  .github/labeler.yml
Labels: bug, meta

#4019 Cleanup Temp before plugin install
  OpenTabletDriver.Desktop/Reflection/DesktopPluginManager.cs
Labels: desktop, meta

#4033 [master] README: Add Troubleshooting section refering to website
  README.md
Labels: documentation, enhancement, needs-forward-port

#3999 [06x] Enhance handling of invalid settings
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Settings.cs
Labels: enhancement, daemon

#4038 [0.6.x] Add support for XP-Pen Deco 01 V3 (Variant 2)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco 01 V3 (Variant 2).json
  TABLETS.md
Labels: configuration, needs-forward-port

#4043 [0.6.x] Backport Wacom DTK-2100 support
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-2100.json
  TABLETS.md
Labels: configuration

#4044 [0.6.x] Add support for Wacom Cintiq Pro 22 (DTH-227)
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-227.json
  TABLETS.md
Labels: configuration

#4046 Fix license button not showing license in about dialog
  OpenTabletDriver.UX/App.cs
  OpenTabletDriver.UX/OpenTabletDriver.UX.csproj
Labels: bug, documentation, gui

#4010 [06x] Adaptive Bindings
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver.Desktop/Binding/AdaptiveBinding.cs
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
  OpenTabletDriver.Desktop/Profiles/BindingSettings.cs
  OpenTabletDriver.Plugin/Platform/Pointer/IPenActionHandler.cs
  OpenTabletDriver.Plugin/Platform/Pointer/PenAction.cs
Labels: enhancement, desktop

#4049 [0.6.X] Order Filters & Tools by Name
  OpenTabletDriver.UX/Controls/PluginSettingStoreCollectionEditor.cs
Labels: bug, enhancement, gui

#4052 [0.6.x] Default to PassthroughReportParser when no parser is present in config
  OpenTabletDriver.Plugin/Tablet/DeviceIdentifier.cs
Labels: enhancement, configuration, needs-forward-port

#4071 [0.6.x] Add second identifier for XP-Pen Deco mini7 V2
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Deco mini7 V2.json
Labels: configuration, needs-forward-port

#4080 [06x] Huion HS610: Add identifier for 'HUION_T227_240925'
  OpenTabletDriver.Configurations/Configurations/Huion/HS610.json
Labels: enhancement, configuration

#4098 [06x] tests: Add check for Tablet Config names in tablets.md
  .github/workflows/shell-tests.yml
  tests/test_tabletconfigs_present_in_tabletsmd.sh
Labels: linux/gtk, tests, ci, meta, needs-forward-port

#4054 [06x] Tests: Add tests for GetFriendlyName() TypeInfo extension function
  OpenTabletDriver.Tests/OpenTabletDriver.Tests.csproj
  OpenTabletDriver.Tests/UXExtensionTests.cs
  OpenTabletDriver.sln
Labels: priority:low, tests, meta

#4058 [06x] Backport: Candidate fix for Wacom Graphire AUX buttons.
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-430.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/CTE-630.json
  OpenTabletDriver.Configurations/Configurations/Wacom/ET-0405-U.json
  OpenTabletDriver.Configurations/Configurations/Wacom/ET-0405A-U.json
  OpenTabletDriver.Configurations/Parsers/Wacom/Graphire/GraphireAuxReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Graphire/GraphireMouseReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Graphire/GraphireReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Graphire/GraphireTabletReport.cs
Labels: enhancement, configuration, needs verification

#4087 [06x] Backport: Add support for Gaomon M5
  OpenTabletDriver.Configurations/Configurations/Gaomon/M5.json
  TABLETS.md
Labels: enhancement, configuration

#3056 Add Gaomon M5 support
  OpenTabletDriver.Configurations/Configurations/Gaomon/M5.json
  TABLETS.md
Labels: enhancement, configuration

#4101 [0.6.x] Allow matching FeatureReportLength
  OpenTabletDriver.Plugin/Tablet/DeviceIdentifier.cs
  OpenTabletDriver/Driver.cs
Labels: plugins, core

#4091 [06x] Refactor tests
  OpenTabletDriver.Tests/ConfigurationTest.cs
  OpenTabletDriver.Tests/Data/ConfigurationTestData.cs
  OpenTabletDriver.Tests/ReportParserProviderTest.cs
Labels: enhancement, tests

#4100 [0.6.x] Include IProximityReport for BambooTabletReport
  OpenTabletDriver.Configurations/Parsers/Wacom/Bamboo/BambooTabletReport.cs
Labels: configuration

#4109 [0.6.x] Add identifier for Huion H580X
  OpenTabletDriver.Configurations/Configurations/Huion/H580X.json
Labels: configuration

#4116 [06x] Refactor and prettify about window
  OpenTabletDriver.UX/Windows/AboutWindow.cs
Labels: gui

#4104 Bump version to 0.6.6.0
  Directory.Build.props
  default.nix
  docs/manpages/opentabletdriver.8
Labels: documentation, linux/gtk, meta

#4127 workflows/dotnet: Run apt update before apt install
  .github/workflows/dotnet.yml
Labels: bug, priority:high, ci, meta, needs-forward-port

#4123 Fix messy tablet naming
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-1660.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT1060.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT430.json
  OpenTabletDriver.Configurations/Configurations/XP-Pen/CT640.json
  TABLETS.md
Labels: documentation, configuration

#4130 [06x] CI/shell tests: Emit passed tablet configs
  .github/workflows/shell-tests.yml
Labels: ci, meta

#4120 [06x] Add Project spell check Dictionary
  OpenTabletDriver.sln.DotSettings
Labels: enhancement, meta, needs-forward-port

#4121 Add support for Wacom DTH-2200
  OpenTabletDriver.Configurations/Configurations/Wacom/DTH-2200.json
  TABLETS.md
Labels: configuration

#4122 Fix a few incorrect pressure maxes
  OpenTabletDriver.Configurations/Configurations/Genius/G-Pen 560.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-1300.json
  OpenTabletDriver.Configurations/Configurations/Wacom/DTK-2200.json
Labels: configuration

#4135 [0.6.x] Add support for UGEE UE16
  OpenTabletDriver.Configurations/Configurations/UGEE/UE16.json
  TABLETS.md
Labels: configuration

#4136 [06x] workflows/release: Update apt before installing packages
  .github/workflows/release.yml
Labels: priority:medium, ci, meta

#4137 [06x] workflows/release: Fix embarassing lack of 'sudo'
  .github/workflows/release.yml
Labels: bug, priority:high, ci, meta
