Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-10, with the labels that each got.

#4174 Run dotnet format
  OpenTabletDriver.Configurations/Parsers/Wacom/CintiqV1/CintiqV1ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/PTU/PTUTabletReport.cs
Labels: configuration

#4170 [06x] Desktop/PresetManager: Fix '.json' overreplacement
  OpenTabletDriver.Desktop/PresetManager.cs
Labels: bug, desktop

#4182 [Avalonia] github/build-bash: Update apt before installing packages
  .github/actions/build-bash/action.yml
Labels: bug

#4186 [Avalonia] Fix ux references
  docs/README_TW.md
  eng/bash/lib.sh
Labels: bug, priority:low, packaging

#4176 [06x] CLI: Add `disabletabletfilters` and `disabletools`
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.Misc.cs
  OpenTabletDriver.Console/Program.cs
Labels: enhancement, console, needs-forward-port

#4189 [06x] github/pr-labeler: Don't label arbitrary sh files as Linux
  .github/labeler.yml
Labels: meta

#4191 [06x] GH PR Labeler: Add tests folder to tests label
  .github/labeler.yml
Labels: meta

#4169 [06x] CLI: Add listpresets command
  OpenTabletDriver.Console/Program.Commands.cs
  OpenTabletDriver.Console/Program.cs
Labels: console

#4197 [0.6.x] Replace bad subtraction with bitmask in XP-Pen offset parsers
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenPressureOffsetTiltTabletReport.cs
  OpenTabletDriver.Configurations/Parsers/XP_Pen/XP_PenTabletPressureOffsetOverflowReport.cs
Labels: bug, configuration

#4148 [06x] Console: Fix invalid call in SetOutputMode
  OpenTabletDriver.Console/Program.Commands.cs
Labels: bug, console

#4145 [06x] Console: Inform when no types are found
  OpenTabletDriver.Console/Program.Misc.cs
Labels: enhancement, console

#4188 [0.6.x] Report potential driver detection false positives and show process name and filename in log
  OpenTabletDriver.Daemon/DriverDaemon.cs
  OpenTabletDriver/SystemDrivers/DriverStatus.cs
  OpenTabletDriver/SystemDrivers/Providers/XPPenDriverInfoProvider.cs
Labels: daemon, core

#4202 Fix libinput eraser not setting sometimes due to not flushing and sending two conflicting tool reports
  OpenTabletDriver.Desktop/Interop/Input/Absolute/EvdevVirtualTablet.cs
Labels: bug, linux/gtk, plugins, desktop
