Repository OpenTabletDriver/OpenTabletDriver, pull requests merged in 2025-08, with the labels that each got.

#3914 Add Wacom PTK-870
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-870.json
  TABLETS.md
Labels: configuration

#3879 [0.6.x] Add support for Huion L610
  OpenTabletDriver.Configurations/Configurations/Huion/L610.json
  TABLETS.md
Labels: configuration, needs-forward-port

#4001 [06x] TABLETS.md: Deco 01 V2 and variants support tilt
  TABLETS.md
Labels: documentation, enhancement, needs-forward-port

#1791 Add mouse support for PTK-x40 aka Intuos4
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-1240.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-440.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-540WL.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-640.json
  OpenTabletDriver.Configurations/Configurations/Wacom/PTK-840.json
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos4/Intuos4MouseReport.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos4/Intuos4ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/Intuos4/WacomDriverIntuos4ReportParser.cs
  OpenTabletDriver.Configurations/Parsers/Wacom/IntuosV1/IntuosV1ReportParser.cs
Labels: enhancement, configuration, needs-forward-port

#3948 [0.6.x] Add support for XP-Pen Artist Pro 14 (Gen2)
  OpenTabletDriver.Configurations/Configurations/XP-Pen/Artist Pro 14 (Gen2).json
  TABLETS.md
Labels: configuration, needs-forward-port

#3994 [0.6.x] Ensure user configuration is loaded correctly on macos
  OpenTabletDriver.Desktop/AppInfo.cs
  OpenTabletDriver.Desktop/Updater/GitHubUpdater.cs
  OpenTabletDriver.UX/DaemonWatchdog.cs
Labels: macos
